api_sumare-.json
{
  "updatedAt": "2026-01-09T15:24:03.027Z",
  "createdAt": "2025-08-01T18:08:25.175Z",
  "id": "Bytg5Eu5Z9nlt1Q7",
  "name": "api_sumare",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://api-relatorios.sumare.edu.br/api-sumare-eduit/v1/webhooks/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "57633"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer f6e2ede4-b3c1-4377-999b-14d52dd24516"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        272
      ],
      "id": "30422096-8fba-493c-87db-f143e3cbac80",
      "name": "HTTP Request",
      "executeOnce": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc",
          "mode": "list",
          "cachedResultName": "Distribuição_Sumaré",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 385970868,
          "mode": "list",
          "cachedResultName": "api2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc/edit#gid=385970868"
        },
        "combineFilters": "OR",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        96,
        368
      ],
      "id": "41a5ea84-175c-40d3-b547-bb593b30993a",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WBAzBmkCdwnRet1o",
          "name": "Google Sheets Mkt Eduit"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Acessa o array \"retorno\" do item atual\nconst array = $json.retorno;\n\n// Garante que é um array válido\nif (!Array.isArray(array)) {\n  throw new Error('O campo retorno não é um array');\n}\n\n// Transforma o array em objeto indexado pelo id\nconst obj = {};\narray.forEach(item => {\n  obj[item.id] = item;\n});\n\n// Retorna um único item, objeto como $json\nreturn [{ json: obj }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        272
      ],
      "id": "25956421-3194-483f-a6d5-fcd6c7e578b0",
      "name": "transforma em objt"
    },
    {
      "parameters": {
        "jsCode": "// Se o objeto indexado está em $json (ou $json.dados, ajuste se necessário)\nconst dados = $json.dados ? $json.dados : $json; // flexível\n\n// ID atual vindo do Get Row\nconst idAtual = $('Get row(s) in sheet').first().json.id // já disponível no item!\n\n// Filtra os IDs maiores\nconst idsFiltrados = Object.keys(dados)\n  .map(Number)\n  .filter(id => id > Number(idAtual));\n\nidsFiltrados.sort((a, b) => a - b);\n\nconst result = idsFiltrados.map(id => dados[id.toString()]);\n\nreturn result.map(obj => ({ json: obj }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        272
      ],
      "id": "ba4eb515-db73-4cff-94e9-0bf396151edd",
      "name": "filtro ids maiores",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1552,
        176
      ],
      "id": "51f3e528-452c-43aa-ab70-acbce654ef1f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1728,
        -64
      ],
      "id": "64a6038c-2237-4801-872b-8d12b48a98a5",
      "name": "No Operation, do nothing",
      "executeOnce": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('filtro ids maiores').item.json.status }}",
                    "rightValue": "Matriculado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8cf26f9e-6834-472e-8298-b7215416ca7b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MATRICULADO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "98075ab3-c8a8-4da4-8fb4-d1313cb1dfc2",
                    "leftValue": "={{ $('filtro ids maiores').item.json.status }}",
                    "rightValue": "Contrato Aceito",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONTRATO ACEITO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "228264e0-765b-4e46-a356-26af9bc8aa4d",
                    "leftValue": "={{ $('filtro ids maiores').item.json.status }}",
                    "rightValue": "Inscrito",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INSCRITO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3440,
        -368
      ],
      "id": "4beb52c7-4474-419a-8a91-8ce5e9a4268a",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b04af75c-9c81-40cc-a060-c8e908842c0f",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "889f46b6-c016-4109-a772-53469a760ff1",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3200,
        144
      ],
      "id": "4cc5f803-77c3-403d-9dad-19180d759c4c",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('filtro ids maiores').item.json.status }}",
                    "rightValue": "Matriculado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8822ef80-d3af-4e5e-9321-85624f9bf7d0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MATRICULADO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "490239bf-37fd-4fa5-9a19-a6cfe8d254c7",
                    "leftValue": "={{ $('filtro ids maiores').item.json.status }}",
                    "rightValue": "Contrato Aceito",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONTRATO ACEITO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b58f3360-cdf9-4076-8ab4-95db429cba97",
                    "leftValue": "={{ $('filtro ids maiores').item.json.status }}",
                    "rightValue": "=Inscrito",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INSCRITO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2976,
        1280
      ],
      "id": "a1721853-3e34-4992-9482-f4595c2ee5a0",
      "name": "Switch2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2752,
        1296
      ],
      "id": "8997dc5e-c7a7-4473-86ed-0677c0eef78d",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc",
          "mode": "list",
          "cachedResultName": "Distribuição_Sumaré",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 385970868,
          "mode": "list",
          "cachedResultName": "api2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc/edit#gid=385970868"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "row_number": 2
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1808,
        176
      ],
      "id": "6d71064f-c2ad-4fff-a067-be92c74b518f",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WBAzBmkCdwnRet1o",
          "name": "Google Sheets Mkt Eduit"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fXWWyKDxkTJ9v7GM",
          "mode": "list",
          "cachedResultUrl": "/workflow/fXWWyKDxkTJ9v7GM",
          "cachedResultName": "distribuicao_sumare_api"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_negocio": "={{ $json.id }}",
            "id_lead": "={{ $('Criar um novo lead1').item.json.id }}",
            "nome": "={{ $('Criar um novo lead1').item.json.name }}",
            "telefone": "={{ $('Criar um novo lead1').item.json.phone }}"
          },
          "matchingColumns": [
            ""
          ],
          "schema": [
            {
              "id": "id_lead",
              "displayName": "id_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_negocio",
              "displayName": "id_negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4384,
        1312
      ],
      "id": "1b78c37d-9c1b-492b-ab4c-1a89b1e14feb",
      "name": "Execute Workflow",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        368
      ],
      "id": "9ff8ebd6-15ed-465e-881b-36606a16f9cd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5492a0c6-e9f2-4e00-8f8d-1034279bf2c4",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        368
      ],
      "id": "9e64323a-1732-46b0-82bf-a8ddff065dd3",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        544,
        480
      ],
      "id": "0113d3a5-1526-46c7-900f-9ca1812b3ae6",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4bc56168-a29c-40e9-a4d3-58a862687239",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        272
      ],
      "id": "c0b758ae-0ab5-48e9-84dd-73d084661385",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1408,
        448
      ],
      "id": "93f1142e-b9f8-4289-82fa-566843e08ec7",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fXWWyKDxkTJ9v7GM",
          "mode": "list",
          "cachedResultUrl": "/workflow/fXWWyKDxkTJ9v7GM",
          "cachedResultName": "distribuicao_sumare_api"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_lead": "={{ $('Criar um novo lead').item.json.id }}",
            "nome": "={{ $('Criar um novo lead').item.json.name }}",
            "id_negocio": "={{ $json.id }}",
            "telefone": "={{ $('Criar um novo lead').item.json.contacts[1].contactId }}"
          },
          "matchingColumns": [
            ""
          ],
          "schema": [
            {
              "id": "id_lead",
              "displayName": "id_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_negocio",
              "displayName": "id_negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4416,
        1584
      ],
      "id": "db45ff60-e8fe-498d-8468-908bb3f5dbcd",
      "name": "Execute Workflow1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "create",
        "name": "={{ $('Loop Over Items').first().json.nome }} {{ $('Loop Over Items').first().json.sobrenome }}",
        "email": "={{ $('Loop Over Items').first().json.email }}",
        "phone": "=55{{ $('Loop Over Items').first().json.celular }}",
        "source": "Inscrição - Sumaré",
        "additionalFields": {}
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        3184,
        1632
      ],
      "id": "f7da981c-8a01-4f02-a9a5-5f95158173b3",
      "name": "Criar um novo lead",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "deals",
        "operation": "create",
        "leadId": "={{ $json.id }}",
        "pipelineId": "ce7983b4-2dd2-47fe-947f-643643920a03",
        "stageId": "f59220d0-a6ff-4bce-ba87-f01755ba8288",
        "attendantId": "=",
        "additionalFields": {}
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        3456,
        1648
      ],
      "id": "a14dcefb-d940-4be5-9e0d-fa9c2f5b5a94",
      "name": "Criar um novo negócio",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "name": "={{ $('Loop Over Items').first().json.nome }} {{ $('Loop Over Items').first().json.sobrenome }}",
        "email": "={{ $('Loop Over Items').first().json.email }}",
        "phone": "=55{{ $('Loop Over Items').first().json.celular }}",
        "source": "Inscrição - Sumaré",
        "additionalFields": {}
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        3408,
        1328
      ],
      "id": "455a5a0a-328a-4f96-bee6-4f14f45d2db9",
      "name": "Criar um novo lead1",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "deals",
        "operation": "create",
        "leadId": "={{ $json.id }}",
        "pipelineId": "ce7983b4-2dd2-47fe-947f-643643920a03",
        "stageId": "5f0b194a-ea51-46d0-afc3-43d662e7424f",
        "attendantId": "=",
        "additionalFields": {}
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        3616,
        1344
      ],
      "id": "97cd7788-2125-4d62-83a3-8ec70c6792b6",
      "name": "Criar um novo negócio1",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "deals",
        "operation": "update",
        "dealId": "={{ $('Buscar todos os negócios1').item.json.data[0].id }}",
        "leadId": "={{ $('Buscar todos os leads').item.json.data[0].id }}",
        "pipelineId": "ce7983b4-2dd2-47fe-947f-643643920a03",
        "stageId": "f59220d0-a6ff-4bce-ba87-f01755ba8288",
        "attendantId": "=",
        "additionalFields": {}
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        3664,
        -96
      ],
      "id": "849a6a7d-a395-4285-aedf-972e26dab01e",
      "name": "Atualizar um negócio existente",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "deals",
        "options": {
          "search": "={{ $('filtro ids maiores').item.json.celular }}",
          "filters": []
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        2512,
        112
      ],
      "id": "1bd45c88-7d38-4dc6-9dbd-a330ff94f0cd",
      "name": "Buscar todos os negócios1",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "search": "=55{{ $('filtro ids maiores').item.json.celular }}",
          "filters": []
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        2256,
        144
      ],
      "id": "ff20cdfd-07e1-4b50-917a-aee56df765a7",
      "name": "Buscar todos os leads",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Buscar todos os leads').item.json.data[0].id }}",
        "name": "={{ $('Buscar todos os leads').item.json.data[0].name }}",
        "email": "={{ $('Buscar todos os leads').item.json.data[0].email }}",
        "phone": "={{ $('Buscar todos os leads').item.json.data[0].phone }}",
        "source": "Inscrição - Sumare",
        "additionalFields": {
          "tags": [
            "5c0ac2e8-745d-4854-8ba8-0f13bec04ac3"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        3952,
        -112
      ],
      "id": "1d8074a3-5ea5-4997-b092-49d1323e0217",
      "name": "Atualizar um lead existente",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "deals",
        "operation": "update",
        "dealId": "={{ $('Buscar todos os negócios1').item.json.data[0].id }}",
        "leadId": "={{ $('Buscar todos os leads').item.json.data[0].id }}",
        "pipelineId": "ce7983b4-2dd2-47fe-947f-643643920a03",
        "stageId": "ea747ec6-a5da-455c-90cf-0d663055b8a9",
        "attendantId": "=",
        "additionalFields": {}
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        3664,
        -288
      ],
      "id": "8a3332b4-545a-4e47-8a5d-a1a5fbe1e939",
      "name": "Atualizar um negócio existente1",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Buscar todos os leads').item.json.data[0].id }}",
        "name": "={{ $('Buscar todos os leads').item.json.data[0].name }}",
        "email": "={{ $('Buscar todos os leads').item.json.data[0].email }}",
        "phone": "={{ $('Buscar todos os leads').item.json.data[0].phone }}",
        "source": "Inscrição - Sumare",
        "additionalFields": {
          "tags": [
            "c067ba14-6809-441a-b68b-fe99ae5bebd2"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        3952,
        -304
      ],
      "id": "776e55bc-6f3b-4015-bb68-820bdadddba1",
      "name": "Atualizar um lead existente1",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "deals",
        "operation": "update",
        "dealId": "={{ $('Buscar todos os negócios1').item.json.data[0].id }}",
        "leadId": "={{ $('Buscar todos os leads').item.json.data[0].id }}",
        "pipelineId": "ce7983b4-2dd2-47fe-947f-643643920a03",
        "stageId": "5cb02829-6a5e-4ace-a0b9-e10c5a2d96c4",
        "attendantId": "=",
        "additionalFields": {}
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        3744,
        -688
      ],
      "id": "1964a348-a69e-4c5a-9e0d-c01ea6763066",
      "name": "Atualizar um negócio existente2",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Buscar todos os leads').item.json.data[0].id }}",
        "name": "={{ $('Buscar todos os leads').item.json.data[0].name }}",
        "email": "={{ $('Buscar todos os leads').item.json.data[0].email }}",
        "phone": "={{ $('Buscar todos os leads').item.json.data[0].phone }}",
        "source": "Inscrição - Sumare",
        "additionalFields": {
          "tags": [
            "7de15f40-ec91-407e-9d93-6ed53ed21abe"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        3952,
        -704
      ],
      "id": "0a24b181-6fd6-4cec-aaa3-2c22d9eecd2f",
      "name": "Atualizar um lead existente2",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "name": "={{ $('Loop Over Items').first().json.nome }} {{ $('Loop Over Items').first().json.sobrenome }}",
        "email": "={{ $('Loop Over Items').first().json.email }}",
        "phone": "=55{{ $('Loop Over Items').first().json.celular }}",
        "source": "Inscrição - Sumaré",
        "additionalFields": {}
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        3488,
        1056
      ],
      "id": "975acdd4-c187-4d47-99c7-365b2afb783b",
      "name": "Criar um novo lead2",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "deals",
        "operation": "create",
        "leadId": "={{ $json.id }}",
        "pipelineId": "ce7983b4-2dd2-47fe-947f-643643920a03",
        "stageId": "5cb02829-6a5e-4ace-a0b9-e10c5a2d96c4",
        "attendantId": "=",
        "additionalFields": {}
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        3728,
        1072
      ],
      "id": "a5da39bf-348e-47ac-b5ba-b4aca1554494",
      "name": "Criar um novo negócio2",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items').item.json.origemInscricao }}",
                    "rightValue": "sumareeadpolos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "402e49de-1078-4e2e-82a2-50dd53e69742"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "42bc4a9c-167a-4709-89d8-520fba142337",
                    "leftValue": "={{ $('Loop Over Items').item.json.origemInscricao }}",
                    "rightValue": "leadeduit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        4288,
        -816
      ],
      "id": "f6e82771-cd04-41bd-b4f3-fade79b24d12",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Atualizar um lead existente2').item.json.id }}",
        "name": "={{ $('Atualizar um lead existente2').item.json.name }}",
        "email": "={{ $('Buscar todos os leads').item.json.data[0].email }}",
        "phone": "={{ $('Atualizar um lead existente2').item.json.phone }}",
        "source": "Inscrição - Sumare",
        "additionalFields": {
          "tags": [
            "3cc85a04-d201-44ae-a372-9c501b37a75d"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        4608,
        -944
      ],
      "id": "3b381ea6-d6c5-4e3a-8b1b-75f3f6e1bea2",
      "name": "Atualizar um lead existente3",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Atualizar um lead existente2').item.json.id }}",
        "name": "={{ $('Atualizar um lead existente2').item.json.name }}",
        "email": "={{ $('Buscar todos os leads').item.json.data[0].email }}",
        "phone": "={{ $('Atualizar um lead existente2').item.json.phone }}",
        "source": "Inscrição - Sumare",
        "additionalFields": {
          "tags": [
            "4a869f9c-8ff6-4d0b-b7b9-19b242151d4b"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        4688,
        -800
      ],
      "id": "71fb7f4f-043e-4d98-89ef-c41a297eaecc",
      "name": "Atualizar um lead existente4",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items').item.json.origemInscricao }}",
                    "rightValue": "sumareeadpolos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "402e49de-1078-4e2e-82a2-50dd53e69742"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "42bc4a9c-167a-4709-89d8-520fba142337",
                    "leftValue": "={{ $('Loop Over Items').item.json.origemInscricao }}",
                    "rightValue": "leadeduit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        4224,
        -384
      ],
      "id": "010e025f-2d3a-4caf-9868-90a9b5fd215a",
      "name": "Switch3"
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Atualizar um lead existente1').item.json.id }}",
        "name": "={{ $('Atualizar um lead existente1').item.json.name }}",
        "email": "={{ $('Buscar todos os leads').item.json.data[0].email }}",
        "phone": "={{ $('Atualizar um lead existente1').item.json.phone }}",
        "source": "Inscrição - Sumare",
        "additionalFields": {
          "tags": [
            "3cc85a04-d201-44ae-a372-9c501b37a75d"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        4528,
        -544
      ],
      "id": "37a5fe53-7d30-4ac3-a84c-96ace3e11e47",
      "name": "Atualizar um lead existente5",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Atualizar um lead existente1').item.json.id }}",
        "name": "={{ $('Atualizar um lead existente1').item.json.name }}",
        "email": "={{ $('Buscar todos os leads').item.json.data[0].email }}",
        "phone": "={{ $('Atualizar um lead existente1').item.json.phone }}",
        "source": "Inscrição - Sumare",
        "additionalFields": {
          "tags": [
            "4a869f9c-8ff6-4d0b-b7b9-19b242151d4b"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        4592,
        -400
      ],
      "id": "5e8f45c7-1a43-4321-aded-7d6025c5188d",
      "name": "Atualizar um lead existente6",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items').item.json.origemInscricao }}",
                    "rightValue": "sumareeadpolos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "402e49de-1078-4e2e-82a2-50dd53e69742"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "42bc4a9c-167a-4709-89d8-520fba142337",
                    "leftValue": "={{ $('Loop Over Items').item.json.origemInscricao }}",
                    "rightValue": "leadeduit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        4176,
        -96
      ],
      "id": "48218026-50fe-4da4-87f2-2db8d4ca131c",
      "name": "Switch4"
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Atualizar um lead existente').item.json.id }}",
        "name": "={{ $('Atualizar um lead existente').item.json.name }}",
        "email": "={{ $('Buscar todos os leads').item.json.data[0].email }}",
        "phone": "={{ $('Atualizar um lead existente').item.json.phone }}",
        "source": "Inscrição - Sumare",
        "additionalFields": {
          "tags": [
            "3cc85a04-d201-44ae-a372-9c501b37a75d"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        4480,
        -208
      ],
      "id": "0f767586-520e-4b7c-8f22-22151f2d6432",
      "name": "Atualizar um lead existente7",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Atualizar um lead existente').item.json.id }}",
        "name": "={{ $('Atualizar um lead existente').item.json.name }}",
        "email": "={{ $('Buscar todos os leads').item.json.data[0].email }}",
        "phone": "={{ $('Atualizar um lead existente').item.json.phone }}",
        "source": "Inscrição - Sumare",
        "additionalFields": {
          "tags": [
            "4a869f9c-8ff6-4d0b-b7b9-19b242151d4b"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        4432,
        48
      ],
      "id": "86916f96-c118-44b3-a257-bff467d54d0e",
      "name": "Atualizar um lead existente8",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items').item.json.origemInscricao }}",
                    "rightValue": "sumareeadpolos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "402e49de-1078-4e2e-82a2-50dd53e69742"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "42bc4a9c-167a-4709-89d8-520fba142337",
                    "leftValue": "={{ $('Loop Over Items').item.json.origemInscricao }}",
                    "rightValue": "leadeduit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        4016,
        992
      ],
      "id": "5f5baae4-c486-4b6d-ae84-7b9cd0103d88",
      "name": "Switch5"
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Criar um novo negócio2').item.json.id }}",
        "name": "={{ $('Criar um novo lead2').item.json.name }}",
        "email": "={{ $('Buscar todos os leads').item.json.data[0].email }}",
        "phone": "={{ $('Criar um novo lead2').item.json.phone }}",
        "source": "Inscrição - Sumare",
        "additionalFields": {
          "tags": [
            "3cc85a04-d201-44ae-a372-9c501b37a75d"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        4656,
        816
      ],
      "id": "503444a9-3f5d-4845-b854-7231d95a01fd",
      "name": "Atualizar um lead existente9",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Atualizar um lead existente2').item.json.id }}",
        "name": "={{ $('Atualizar um lead existente2').item.json.name }}",
        "email": "={{ $('Buscar todos os leads').item.json.data[0].email }}",
        "phone": "={{ $('Atualizar um lead existente2').item.json.phone }}",
        "source": "Inscrição - Sumare",
        "additionalFields": {
          "tags": [
            "4a869f9c-8ff6-4d0b-b7b9-19b242151d4b"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        4736,
        1040
      ],
      "id": "85626598-64e5-4f31-aec1-4cddac1bd5d4",
      "name": "Atualizar um lead existente10",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items').item.json.origemInscricao }}",
                    "rightValue": "sumareeadpolos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "402e49de-1078-4e2e-82a2-50dd53e69742"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "42bc4a9c-167a-4709-89d8-520fba142337",
                    "leftValue": "={{ $('Loop Over Items').item.json.origemInscricao }}",
                    "rightValue": "leadeduit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3632,
        1952
      ],
      "id": "6fe01e7a-97b2-42f7-a569-d976f398a00c",
      "name": "Switch6"
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Criar um novo lead').item.json.id }}",
        "name": "={{ $('Criar um novo lead').item.json.name }}",
        "email": "={{ $('Buscar todos os leads').item.json.data[0].email }}",
        "phone": "={{ $('Criar um novo lead').item.json.phone }}",
        "source": "Inscrição - Sumare",
        "additionalFields": {
          "tags": [
            "3cc85a04-d201-44ae-a372-9c501b37a75d"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        3904,
        1744
      ],
      "id": "23c06123-9856-4bd9-90d3-25498d24e176",
      "name": "Atualizar um lead existente11",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items').item.json.origemInscricao }}",
                    "rightValue": "sumareeadpolos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "402e49de-1078-4e2e-82a2-50dd53e69742"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "42bc4a9c-167a-4709-89d8-520fba142337",
                    "leftValue": "={{ $('Loop Over Items').item.json.origemInscricao }}",
                    "rightValue": "leadeduit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3776,
        1360
      ],
      "id": "9fb0dc4c-24c7-4422-9fd9-21f0ad7edae0",
      "name": "Switch7"
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Criar um novo negócio1').item.json.id }}",
        "name": "={{ $('Criar um novo lead1').item.json.name }}",
        "email": "={{ $('Buscar todos os leads').item.json.data[0].email }}",
        "phone": "={{ $('Criar um novo lead1').item.json.phone }}",
        "source": "Inscrição - Sumare",
        "additionalFields": {
          "tags": [
            "3cc85a04-d201-44ae-a372-9c501b37a75d"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        4064,
        1232
      ],
      "id": "825a1b1a-5a6b-48b0-80aa-6b307f56d36a",
      "name": "Atualizar um lead existente13",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Criar um novo lead1').item.json.id }}",
        "name": "={{ $('Criar um novo lead1').item.json.name }}",
        "email": "={{ $('Buscar todos os leads').item.json.data[0].email }}",
        "phone": "={{ $('Criar um novo lead1').item.json.phone }}",
        "source": "Inscrição - Sumare",
        "additionalFields": {
          "tags": [
            "4a869f9c-8ff6-4d0b-b7b9-19b242151d4b"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        4080,
        1504
      ],
      "id": "53903504-c88b-4ce3-a3d0-bae717e23368",
      "name": "Atualizar um lead existente14",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Criar um novo lead').item.json.id }}",
        "name": "={{ $('Criar um novo lead').item.json.name }}",
        "email": "={{ $('Buscar todos os leads').item.json.data[0].email }}",
        "phone": "={{ $('Criar um novo lead').item.json.phone }}",
        "source": "Inscrição - Sumare",
        "additionalFields": {
          "tags": [
            "4a869f9c-8ff6-4d0b-b7b9-19b242151d4b"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        4160,
        2032
      ],
      "id": "a0ff4a18-5a1a-4f92-b9a7-98a2013d7b20",
      "name": "Atualizar um lead existente12",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6448,
        336
      ],
      "id": "a93c5fdd-c701-40ea-8e92-fe2770d00e88",
      "name": "Wait",
      "webhookId": "4b750ebf-ca44-422e-bedb-c5561b57836d"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "transforma em objt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transforma em objt": {
      "main": [
        [
          {
            "node": "filtro ids maiores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtro ids maiores": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Atualizar um negócio existente2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar um negócio existente1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar um negócio existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Buscar todos os leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Criar um novo lead2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar um novo lead1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar um novo lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar um novo lead": {
      "main": [
        [
          {
            "node": "Criar um novo negócio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar um novo lead1": {
      "main": [
        [
          {
            "node": "Criar um novo negócio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar um novo negócio1": {
      "main": [
        [
          {
            "node": "Switch7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um negócio existente": {
      "main": [
        [
          {
            "node": "Atualizar um lead existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar todos os negócios1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar todos os leads": {
      "main": [
        [
          {
            "node": "Buscar todos os negócios1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um lead existente": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um negócio existente1": {
      "main": [
        [
          {
            "node": "Atualizar um lead existente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um lead existente1": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um negócio existente2": {
      "main": [
        [
          {
            "node": "Atualizar um lead existente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um lead existente2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar um novo lead2": {
      "main": [
        [
          {
            "node": "Criar um novo negócio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar um novo negócio2": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar um novo negócio": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Atualizar um lead existente3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar um lead existente4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um lead existente3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um lead existente4": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Atualizar um lead existente5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar um lead existente6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um lead existente5": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um lead existente6": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Atualizar um lead existente7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar um lead existente8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um lead existente7": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um lead existente8": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Atualizar um lead existente9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar um lead existente10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um lead existente9": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um lead existente10": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "Atualizar um lead existente11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar um lead existente12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um lead existente11": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch7": {
      "main": [
        [
          {
            "node": "Atualizar um lead existente13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar um lead existente14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um lead existente13": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um lead existente14": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um lead existente12": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "dCpCqA316QocWWea",
    "timezone": "America/Sao_Paulo"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-01-05T10:00:50.005-03:00",
          "Readable date": "January 5th 2026, 10:00:50 am",
          "Readable time": "10:00:50 am",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "January",
          "Day of month": "05",
          "Hour": "10",
          "Minute": "00",
          "Second": "50",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "03e805db-d019-489e-a37c-89331f82f0d8",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-08-01T18:08:25.179Z",
      "createdAt": "2025-08-01T18:08:25.179Z",
      "role": "workflow:owner",
      "workflowId": "Bytg5Eu5Z9nlt1Q7",
      "projectId": "TjZRFTZS7ptjaNGj"
    }
  ],
  "activeVersion": null,
  "tags": []
}