comercial_p_academico_atualizacao_dados_acesso-COMERCIAL CSV.json
{
  "createdAt": "2025-07-25T20:00:54.794Z",
  "updatedAt": "2025-10-15T16:39:44.000Z",
  "id": "zi5SJlenVGiNj64Z",
  "name": "comercial_p_academico_atualizacao_dados_acesso",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "leads",
        "operation": "createLeads",
        "collection": {
          "lead": [
            {
              "name": "={{ $('Code1').item.json.name }}",
              "pipeline_id": 6961711,
              "status_id": 58205935,
              "loss_reason_id": "=",
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":330926,\"type\":\"text\"}",
                    "value": "={{ $('Code1').item.json.campos.CPF.raw.values[0].value }}"
                  },
                  {
                    "data": "{\"id\":330992,\"type\":\"text\"}",
                    "value": "={{ $('Code1').item.json.campos.Polo.raw.values[0].value }}"
                  },
                  {
                    "data": "{\"id\":330876,\"type\":\"text\"}",
                    "value": "={{ $('Code1').item.json.campos.RGM.raw.values[0].value }}"
                  },
                  {
                    "data": "{\"id\":1014523,\"type\":\"text\"}",
                    "value": "={{ $('Code1').item.json.campos['Email Acadêmico'].raw.values[0].value }}"
                  },
                  {
                    "data": "{\"id\":1029777,\"type\":\"text\"}",
                    "value": "={{(() => {\n  const campos = $('Code1').item.json.campos;\n\n  const nome = campos.Nome?.values?.[0]?.value || '';\n  const rgm = campos.RGM?.values?.[0]?.value || '';\n  const cpf = campos.CPF?.values?.[0]?.value || '';\n\n  const nomeFormatado = nome.charAt(0).toUpperCase() + nome.slice(1, 3).toLowerCase();\n  const rgmParte = rgm.slice(0, 3);\n  const cpfParte = cpf.slice(0, 4);\n\n  return `${nomeFormatado}@${rgmParte}${cpfParte}`;\n})()}}\n"
                  },
                  {
                    "data": "{\"id\":330988,\"type\":\"text\"}",
                    "value": "={{ $('Code1').item.json.campos['Formação'].raw.values[0].value || ''}}"
                  },
                  {
                    "data": "{\"id\":330990,\"type\":\"text\"}",
                    "value": "={{ $('Code1').item.json.campos.Modalidade_Curso2.raw.values[0].value || ''}}"
                  },
                  {
                    "data": "{\"id\":331044,\"type\":\"text\"}",
                    "value": "={{ $('Code1').item.json.campos['Turma de Ingresso'].raw.values[0].value || ''}}"
                  },
                  {
                    "data": "{\"id\":330938,\"type\":\"text\"}",
                    "value": "={{ $('Code1').item.json.campos.Curso.raw.values[0].value }}"
                  },
                  {
                    "data": "{\"id\":330930,\"type\":\"date\"}",
                    "value": "={{ $('Code1').item.json.campos['Matrícula'].raw.values[0].value || ''}}"
                  }
                ]
              },
              "_embedded": {
                "contacts": [
                  {
                    "id": {
                      "contact": [
                        {
                          "id": "={{ $json._embedded.contacts[0].id }}",
                          "is_main": false
                        }
                      ]
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -448,
        272
      ],
      "id": "8523444c-2d14-4fdb-be3f-67d765cc8473",
      "name": "Cria Lead",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "UJXbFUmZVweNcdbc",
          "name": "Kommo Academico CSV"
        }
      }
    },
    {
      "parameters": {
        "resource": "contacts",
        "operation": "createContacts",
        "collection": {
          "contact": [
            {
              "name": "={{ $('Code1').item.json.id }}",
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":288546,\"type\":\"multitext\"}",
                    "value": "={{ $('Code1').item.json.campos['Telefone Comercial'].values[0].value }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -672,
        272
      ],
      "id": "6d4f39c1-dd0a-4e8b-9783-90320b6af306",
      "name": "Cria contato",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "UJXbFUmZVweNcdbc",
          "name": "Kommo Academico CSV"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._embedded.leads[0].id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "ddfe7e8e-f862-4b82-afdf-54ee403390b3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "986baac2-90b6-48e4-ac4f-c54ebf200c06",
                    "leftValue": "={{ $json.json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1344,
        80
      ],
      "id": "6604cb59-56dd-42e2-8fd7-7e9aafc1427d",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "06889e10-ecff-478a-8e0a-f1787943cde9",
              "leftValue": "={{ $json._embedded.leads[0].pipeline_id }}",
              "rightValue": 6961711,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1120,
        -16
      ],
      "id": "bf671784-f9de-4402-a806-2477d646694d",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $json._embedded.leads[0].id }}",
              "pipeline_id": 6961711,
              "status_id": 0,
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":1014523,\"type\":\"text\"}",
                    "value": "={{ $('Code1').item.json.campos[\"Email Acadêmico\"].values[0].value }}"
                  },
                  {
                    "data": "{\"id\":1029777,\"type\":\"text\"}",
                    "value": "={{(() => {\n  const campos = $('Code1').item.json.campos;\n\n  const nome = campos.Nome?.values?.[0]?.value || '';\n  const rgm = campos.RGM?.values?.[0]?.value || '';\n  const cpf = campos.CPF?.values?.[0]?.value || '';\n\n  const nomeFormatado = nome.charAt(0).toUpperCase() + nome.slice(1, 3).toLowerCase();\n  const rgmParte = rgm.slice(0, 3);\n  const cpfParte = cpf.slice(0, 4);\n\n  return `${nomeFormatado}@${rgmParte}${cpfParte}`;\n})()}}\n"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -896,
        -112
      ],
      "id": "51053e34-ebd1-4a53-8d33-040b8f377946",
      "name": "atualiza",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "UJXbFUmZVweNcdbc",
          "name": "Kommo Academico CSV"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "446aab4a-3a2e-42c5-b3d8-4593aed52382",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2464,
        80
      ],
      "id": "11c071ad-8471-4055-ade6-429d144389e6",
      "name": "Webhook",
      "webhookId": "446aab4a-3a2e-42c5-b3d8-4593aed52382"
    },
    {
      "parameters": {
        "resource": "leads",
        "filter": {
          "id": "={{ $json.body['leads[add][0][id]'] }}"
        },
        "options": {},
        "limit": 1
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -2240,
        80
      ],
      "id": "931ce390-ef20-4081-bfdc-6b430b209a4d",
      "name": "get lead info comercial",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nwQNgfBiNqLrzKlG",
          "name": "Kommo Comercial CSV"
        }
      }
    },
    {
      "parameters": {
        "resource": "leads",
        "filter": {
          "query": "={{ $('Code1').item.json.campos[\"Telefone Comercial\"].values[0].value }}"
        },
        "options": {
          "with": [
            "contacts"
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -1568,
        80
      ],
      "id": "0b55f02b-c5cd-4d4f-85cc-3a9336ad16b4",
      "name": "search leads - acad",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "UJXbFUmZVweNcdbc",
          "name": "Kommo Academico CSV"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = items[0].json._embedded.leads;\n\nconst output = [];\n\nfor (const lead of inputData) {\n  const campos = {};\n\n  if (lead.custom_fields_values) {\n    for (const field of lead.custom_fields_values) {\n      campos[field.field_name] = {\n        field_id: field.field_id,\n        field_type: field.field_type,\n        values: field.values ?? [],\n        raw: field\n      };\n    }\n  }\n\n  // Campo \"Matrícula\" formatado (Unix → DD/MM/YYYY)\n  let matriculaFormatada = null;\n  const matriculaRaw = campos[\"Matrícula\"]?.raw?.values?.[0]?.value;\n\n  if (matriculaRaw && !isNaN(matriculaRaw)) {\n    const timestamp = Number(matriculaRaw);\n    const date = new Date(timestamp * 1000);\n    const brasiliaDate = new Date(date.getTime() - 3 * 60 * 60 * 1000);\n\n    const pad = n => n.toString().padStart(2, '0');\n    matriculaFormatada = `${pad(brasiliaDate.getDate())}/${pad(brasiliaDate.getMonth() + 1)}/${brasiliaDate.getFullYear()}`;\n  }\n\n  output.push({\n    json: {\n      id: lead.id,\n      name: lead.name,\n      pipeline_id: lead.pipeline_id,\n      campos,\n      telefone: campos[\"Telefone Comercial\"]?.values?.[0]?.value ?? null,\n      email: campos[\"E-mail\"]?.values?.[0]?.value ?? null,\n      matriculaFormatada\n    }\n  });\n}\n\n// Retorna um array de itens, cada um separado (forma esperada pelo n8n)\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        80
      ],
      "id": "db9b9c17-93fe-403b-8b95-1a0b99634462",
      "name": "Code1"
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $json._embedded.leads[0].id }}",
              "pipeline_id": 6961711,
              "status_id": 0,
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":1014523,\"type\":\"text\"}",
                    "value": "={{ $('Code1').item.json.campos['Email Acadêmico'].raw.values[0].value }}"
                  },
                  {
                    "data": "{\"id\":1029777,\"type\":\"text\"}",
                    "value": "={{(() => {\n  const campos = $('Code1').item.json.campos;\n\n  const nome = campos.Nome?.values?.[0]?.value || '';\n  const rgm = campos.RGM?.values?.[0]?.value || '';\n  const cpf = campos.CPF?.values?.[0]?.value || '';\n\n  const nomeFormatado = nome.charAt(0).toUpperCase() + nome.slice(1, 3).toLowerCase();\n  const rgmParte = rgm.slice(0, 3);\n  const cpfParte = cpf.slice(0, 4);\n\n  return `${nomeFormatado}@${rgmParte}${cpfParte}`;\n})()}}\n"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -672,
        80
      ],
      "id": "780d09a4-e1b5-488d-8e74-7e8a85cd5b30",
      "name": "atualiza1",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "UJXbFUmZVweNcdbc",
          "name": "Kommo Academico CSV"
        }
      }
    },
    {
      "parameters": {
        "resource": "notes",
        "operation": "createNotes",
        "notes": {
          "common": [
            {
              "entity_id": "={{ $json._embedded.leads[0].id }}",
              "text": "DADOS DE ACESSO GERADOS, ENVIAR AO ALUNO. "
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -448,
        80
      ],
      "id": "f3478b2e-c68a-4356-a4a6-042d8d06b5e4",
      "name": "Create new notes",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "UJXbFUmZVweNcdbc",
          "name": "Kommo Academico CSV"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -896,
        80
      ],
      "id": "d60863e6-1d47-49d9-a8e5-762dae956adb",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1120,
        272
      ],
      "id": "b1cb489f-faa8-4cba-a0b7-56b9e39bd4c7",
      "name": "Merge1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -896,
        272
      ],
      "id": "dc4e9eb1-c27c-41be-a46c-143819a09c5a",
      "name": "Wait",
      "webhookId": "d4f202da-e843-48b5-b1f7-6a4a24f3689c"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads_ganhos",
          "mode": "list",
          "cachedResultName": "leads_ganhos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "RGM": "={{ $json.campos.RGM.raw.values[0].value }}",
            "id_lead": "={{ $json.id }}",
            "id_responsavel": "={{ $('get lead info comercial').item.json._embedded.leads[0].responsible_user_id }}",
            "curso": "={{ $json.campos.Curso.raw.values[0].value }}",
            "data_matricula": "={{ new Date().toLocaleString(\"sv-SE\", { timeZone: \"America/Sao_Paulo\" }).replace(\" \", \"T\") + \"Z\" }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_lead",
              "displayName": "id_lead",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "curso",
              "displayName": "curso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_responsavel",
              "displayName": "id_responsavel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RGM",
              "displayName": "RGM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_matricula",
              "displayName": "data_matricula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1792,
        80
      ],
      "id": "84aaab26-6b5e-4b2a-a2d8-5bc9d0a3f285",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "g8XvGl4ZXekfufXq",
          "name": "POSTGRES - AGENTE COMERCIAL CRUZEIRO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://csvatendimento.kommo.com/api/v2/salesbot/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImJhMGQ2YzIyNTY1ODhlM2E5MTMyZjU4MWExNzg5NmY0YzhlMzU3MWVkMWQ3NDI5NDFlNTc5OGNkYzU2M2NkYzE5OTBmNjcxYTA1MTYwYzA3In0.eyJhdWQiOiJkOWYzZjc1OC1kMzYzLTQ1NmUtOWFhMy1hZGY0ZGQ1NDljYTUiLCJqdGkiOiJiYTBkNmMyMjU2NTg4ZTNhOTEzMmY1ODFhMTc4OTZmNGM4ZTM1NzFlZDFkNzQyOTQxZTU3OThjZGM1NjNjZGMxOTkwZjY3MWEwNTE2MGMwNyIsImlhdCI6MTc1MzQ3NzQ1NCwibmJmIjoxNzUzNDc3NDU0LCJleHAiOjE4MzM3NTM2MDAsInN1YiI6IjgyNjE4MzciLCJncmFudF90eXBlIjoiIiwiYWNjb3VudF9pZCI6MzEzNzA1MTEsImJhc2VfZG9tYWluIjoia29tbW8uY29tIiwidmVyc2lvbiI6Miwic2NvcGVzIjpbImNybSIsImZpbGVzIiwiZmlsZXNfZGVsZXRlIiwibm90aWZpY2F0aW9ucyIsInB1c2hfbm90aWZpY2F0aW9ucyJdLCJoYXNoX3V1aWQiOiIyZDFmNzk5Ny03N2NlLTRiZjItYWNmNi1iMzIzMzRkMzliMzIiLCJhcGlfZG9tYWluIjoiYXBpLWcua29tbW8uY29tIn0.n7LPcr4m83wRD8F3ArZuPi4F-6uJv3H7YIhazh82DX6fYnDaflvKWPUM_RITkn4UTQ5CAVeZHapVleGnoPNmgrrJDTYY1ni_V2QGYZ2RCFwSPXYXD0bIHtc2ZoYOg6OCc8DiScZfwNQMoYo-x_XI2B2_QXm2ScflBjNsHxVvd-FFTrRhZRN9r6qhueQz2kzCAimYSBI1wK0Nhx4b8faSouuMW6vUU4xb_jr5W5CTJ8l5f5MJwIV167vf6zvo4ojHssOyHVM7oSAwXH9C-z2GbQdXuPXnmDHD5YbtFGk5kUfbIpkCRsNjYudWJeVvA-1afWIw69jYz3Kosm09rHX46Q"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"entity_type\": \"2\",\n    \"entity_id\": \"{{ $json._embedded.leads[0].id }}\",\n    \"bot_id\": 47105\n  }\n]\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        -112
      ],
      "id": "cbc7929c-c78e-4890-9c76-4adb7b749a3f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "novos_matriculados_academico",
          "mode": "list",
          "cachedResultName": "novos_matriculados_academico"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_lead": "={{ $('atualiza').item.json._embedded.leads[0].id }}",
            "rgm": "={{ $('Insert rows in a table').item.json.RGM }}",
            "Horario": "={{ $now }}\n"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_lead",
              "displayName": "id_lead",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "rgm",
              "displayName": "rgm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Horario",
              "displayName": "Horario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -480,
        -112
      ],
      "id": "22cc71e7-c801-4f17-98f2-82fa996e01cb",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "g8XvGl4ZXekfufXq",
          "name": "POSTGRES - AGENTE COMERCIAL CRUZEIRO"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "novos_matriculados_academico",
          "mode": "list",
          "cachedResultName": "novos_matriculados_academico"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_lead": "={{ $json._embedded.leads[0].id }}",
            "rgm": "={{ $('Insert rows in a table').item.json.RGM }}",
            "Horario": "={{ $now }}\n"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_lead",
              "displayName": "id_lead",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "rgm",
              "displayName": "rgm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Horario",
              "displayName": "Horario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -208,
        272
      ],
      "id": "db05ae02-5fad-45e9-8b91-7466465492c3",
      "name": "Insert rows in a table2",
      "credentials": {
        "postgres": {
          "id": "g8XvGl4ZXekfufXq",
          "name": "POSTGRES - AGENTE COMERCIAL CRUZEIRO"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "novos_matriculados_academico",
          "mode": "list",
          "cachedResultName": "novos_matriculados_academico"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_lead": "={{ $('atualiza1').item.json._embedded.leads[0].id }}",
            "rgm": "={{ $('Insert rows in a table').item.json.RGM }}",
            "Horario": "={{ $now }}\n"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_lead",
              "displayName": "id_lead",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "rgm",
              "displayName": "rgm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Horario",
              "displayName": "Horario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        80
      ],
      "id": "0c6da9e2-ce93-48e6-8c56-441aeefbdc00",
      "name": "Insert rows in a table3",
      "credentials": {
        "postgres": {
          "id": "g8XvGl4ZXekfufXq",
          "name": "POSTGRES - AGENTE COMERCIAL CRUZEIRO"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contador_leads",
          "mode": "list",
          "cachedResultName": "contador_leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('atualiza').item.json._embedded.leads[0].id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contador_id",
              "displayName": "contador_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -272,
        -112
      ],
      "id": "f00c8fae-b512-4652-a98f-8feb8a7efb58",
      "name": "Insert rows in a table4",
      "credentials": {
        "postgres": {
          "id": "g8XvGl4ZXekfufXq",
          "name": "POSTGRES - AGENTE COMERCIAL CRUZEIRO"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contador_leads",
          "mode": "list",
          "cachedResultName": "contador_leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('atualiza1').item.json._embedded.leads[0].id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contador_id",
              "displayName": "contador_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        80
      ],
      "id": "b9f550e5-180f-4856-b25c-7f469c3277ce",
      "name": "Insert rows in a table5",
      "credentials": {
        "postgres": {
          "id": "g8XvGl4ZXekfufXq",
          "name": "POSTGRES - AGENTE COMERCIAL CRUZEIRO"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contador_leads",
          "mode": "list",
          "cachedResultName": "contador_leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('Cria Lead').item.json._embedded.leads[0].id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contador_id",
              "displayName": "contador_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        272
      ],
      "id": "82ee8006-1514-45fb-b632-9d47753fc6af",
      "name": "Insert rows in a table6",
      "credentials": {
        "postgres": {
          "id": "g8XvGl4ZXekfufXq",
          "name": "POSTGRES - AGENTE COMERCIAL CRUZEIRO"
        }
      }
    }
  ],
  "connections": {
    "Cria contato": {
      "main": [
        [
          {
            "node": "Cria Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "atualiza",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "get lead info comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get lead info comercial": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search leads - acad": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza1": {
      "main": [
        [
          {
            "node": "Create new notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "atualiza1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Cria contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "search leads - acad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Lead": {
      "main": [
        [
          {
            "node": "Insert rows in a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new notes": {
      "main": [
        [
          {
            "node": "Insert rows in a table3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Insert rows in a table4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table3": {
      "main": [
        [
          {
            "node": "Insert rows in a table5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table2": {
      "main": [
        [
          {
            "node": "Insert rows in a table6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "dCpCqA316QocWWea",
    "timezone": "America/Sao_Paulo"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-new-n8n.ca31ey.easypanel.host",
            "user-agent": "amoCRM-Webhooks/3.0",
            "content-length": "191",
            "accept-encoding": "gzip",
            "content-type": "application/x-www-form-urlencoded",
            "x-amocrm-requestid": "59da77d3-e4b3-44e7-9ad2-f84e7be8ee4d",
            "x-forwarded-for": "169.150.216.79",
            "x-forwarded-host": "n8n-new-n8n.ca31ey.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e73584281a1d",
            "x-real-ip": "169.150.216.79"
          },
          "params": {},
          "query": {},
          "body": {
            "leads[add][0][id]": "19456471",
            "leads[add][0][status_id]": "142",
            "leads[add][0][pipeline_id]": "5481944",
            "account[id]": "30214568",
            "account[subdomain]": "admamoeduitcombr"
          },
          "webhookUrl": "https://n8n-new-n8n.ca31ey.easypanel.host/webhook/446aab4a-3a2e-42c5-b3d8-4593aed52382",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "e379bb5c-9a98-47f7-b9c3-60526c6d46c9",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-07-25T20:00:54.797Z",
      "updatedAt": "2025-07-25T20:00:54.797Z",
      "role": "workflow:owner",
      "workflowId": "zi5SJlenVGiNj64Z",
      "projectId": "TjZRFTZS7ptjaNGj"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-07-25T20:00:36.295Z",
      "updatedAt": "2025-07-25T20:00:36.295Z",
      "id": "3759VYd0IlWAtU1B",
      "name": "COMERCIAL CSV"
    }
  ]
}