criacao_leads_sumaread-v2-.json
{
  "updatedAt": "2026-01-28T14:51:05.123Z",
  "createdAt": "2025-08-19T21:00:44.158Z",
  "id": "Lec74yhTDupOfWxT",
  "name": "criacao_leads_sumaread V2",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "criacao_leads_sumare",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1408,
        496
      ],
      "id": "31e7c720-46dc-416f-9828-c959329df7d6",
      "name": "Webhook",
      "webhookId": "4691095e-ed75-4e0d-bc75-daffa5937dda"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "880e7b71-fbb8-4f91-91c3-14359444f0e4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1472,
        1168
      ],
      "id": "e57cb40b-30bd-448b-a363-37062370e417",
      "name": "Webhook1",
      "webhookId": "880e7b71-fbb8-4f91-91c3-14359444f0e4"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -800,
        1072
      ],
      "id": "2b0d495f-7800-4d3e-91cf-e5b4bef6371f",
      "name": "Wait1",
      "webhookId": "3fa03a24-3360-4e8b-982a-7571d3b418ad"
    },
    {
      "parameters": {
        "content": "## google ads\n",
        "height": 640,
        "width": 3808,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1584,
        928
      ],
      "id": "73a91833-ae55-4cda-99ba-aa243aedc259",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## site sumaread\n",
        "height": 656,
        "width": 3856,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1632,
        192
      ],
      "id": "b65578be-c561-4615-9da3-2460af49a7c8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -128,
        1184
      ],
      "id": "db856925-36ae-4a90-8cb7-661bbef8da4f",
      "name": "Merge2"
    },
    {
      "parameters": {
        "resource": "deals",
        "operation": "update",
        "dealId": "={{ $('Buscar todos os negócios').first().json.data[0].id }}",
        "leadId": "={{ $('Buscar todos os negócios').first().json.data[0].leadId }}",
        "pipelineId": "group_header_SUMARE",
        "stageId": "f29a213e-ec38-4325-bb46-c5187e391b15",
        "attendantId": "={{ $json.data[0].attendant.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        320,
        1088
      ],
      "id": "209ba3ba-c54e-4aeb-a79d-56f9ef65c505",
      "name": "Atualizar um negócio existente",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Buscar todos os negócios').item.json.data[0].leadId }}",
        "name": "={{ $json.lead.name }}",
        "phone": "={{ $json.lead.contacts[0].contactId }}",
        "source": "SITE - SUMAREAD",
        "additionalFields": {
          "tags": [
            "3b53c389-2a09-457e-a575-a4a522d00ec3"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        544,
        1088
      ],
      "id": "7027359c-0036-4465-b60f-0b5b9832977d",
      "name": "Atualizar um lead existente1",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "deals",
        "options": {
          "search": "={{ $('dados1').item.json.telefone }}"
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        -576,
        1072
      ],
      "id": "3b38facb-0605-43e3-8338-b6c2112a8473",
      "name": "Buscar todos os negócios",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "annotations",
        "operation": "create",
        "leadId": "={{ $json.data[0].leadId }}",
        "note": "Aluno teve uma nova interação no site, fala que ELE QUER MATRICULAR!!!!"
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        320,
        1280
      ],
      "id": "1dd63d46-5531-41a7-84f7-24ca765c0479",
      "name": "Adicionar comentário ao lead",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data[0].stageId }}",
                    "rightValue": "8cdb6089-d8fb-4077-aa7a-69bf1d3db477",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6c92131b-9059-450c-b2f1-9047bf5f0be9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d6c527d5-38b4-4e00-88bb-bab5dfd6413d",
                    "leftValue": "={{ $json.data[0].stageId }}",
                    "rightValue": "fd2c4e1f-f7ab-46cb-8ce4-85243afc43f4\"",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        96,
        1168
      ],
      "id": "8383143b-b3f6-4693-b7cb-266cb9c29ea9",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "create",
        "name": "={{ $('dados1').item.json.nome }}",
        "email": "={{ $('dados1').item.json.email || '' }}",
        "phone": "=55{{ $('dados1').item.json.telefone }}",
        "source": "google ads_sumare",
        "additionalFields": {
          "tags": [
            "5d302e72-6a48-4840-a0e0-4bab94267622"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        0,
        944
      ],
      "id": "04d59619-268c-4e03-a472-87eca39a259f",
      "name": "Criar um novo lead1",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "deals",
        "operation": "create",
        "leadId": "={{ $json.id }}",
        "pipelineId": "ce7983b4-2dd2-47fe-947f-643643920a03",
        "stageId": "5f0b194a-ea51-46d0-afc3-43d662e7424f",
        "attendantId": "=",
        "additionalFields": {}
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        224,
        944
      ],
      "id": "b62f81ec-3cd7-4425-9205-040c304c00d1",
      "name": "Criar um novo negócio1",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f1e3be6-2b81-4421-a45c-75af595cea49",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        1072
      ],
      "id": "6c2670e7-0ff0-4d30-ab7b-e55d998e4999",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31c410a6-9941-45fd-9e3b-7536194c7206",
              "name": "tipo",
              "value": "={{ $json.body.user_column_data[0].string_value }}",
              "type": "string"
            },
            {
              "id": "5ed3c871-a609-4c41-8649-a7dfe07a9e67",
              "name": "nome",
              "value": "={{ $json.body.user_column_data[1].string_value.replace('+', '') }}",
              "type": "string"
            },
            {
              "id": "f3a71701-7c91-4b76-98de-81b61004908f",
              "name": "email",
              "value": "={{ $json.body.user_column_data[3].string_value }}",
              "type": "string"
            },
            {
              "id": "27488890-7bf0-456b-a9c9-1340dc5cbf08",
              "name": "telefone",
              "value": "={{ $json.body.user_column_data[2].string_value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        1168
      ],
      "id": "509a3646-334f-4f9b-9bca-1a22ff32446b",
      "name": "dados1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -576,
        528
      ],
      "id": "4934dcea-588c-449a-9c36-3760eb4480d8",
      "name": "Wait",
      "webhookId": "3fa03a24-3360-4e8b-982a-7571d3b418ad"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        592
      ],
      "id": "0d34001e-f9f6-42b6-851b-0750e3c1b03e",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "deals",
        "operation": "update",
        "dealId": "={{ $('Buscar todos os negócios1').first().json.data[0].id }}",
        "leadId": "={{ $('Buscar todos os negócios1').first().json.data[0].leadId }}",
        "pipelineId": "ce7983b4-2dd2-47fe-947f-643643920a03",
        "stageId": "b51e4a2a-13f7-4e19-8ac0-ea261e860b9a",
        "attendantId": "={{ $json.data[0].attendant.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        880,
        496
      ],
      "id": "7a39f974-6793-4b46-9677-158ea94b6dd4",
      "name": "Atualizar um negócio existente1",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "leadId": "={{ $('Buscar todos os negócios1').item.json.data[0].leadId }}",
        "name": "={{ $json.lead.name }}",
        "phone": "={{ $json.lead.contacts[0].contactId }}",
        "source": "SITE - SUMAREAD",
        "additionalFields": {
          "tags": [
            "3b53c389-2a09-457e-a575-a4a522d00ec3"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        1088,
        496
      ],
      "id": "d490c6df-218b-4e89-b68c-e33626152e19",
      "name": "Atualizar um lead existente",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "deals",
        "options": {
          "search": "={{ $('dados').item.json.telefone }}"
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        -272,
        544
      ],
      "id": "7875d00f-5611-4e1a-a03b-5ef077275a36",
      "name": "Buscar todos os negócios1",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "annotations",
        "operation": "create",
        "leadId": "={{ $json.data[0].leadId }}",
        "note": "Aluno teve uma nova interação no site, fala que ELE QUER MATRICULAR!!!!"
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        880,
        688
      ],
      "id": "3917f614-8416-4309-9056-161059745672",
      "name": "Adicionar comentário ao lead1",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data[0].stageId }}",
                    "rightValue": "82c83778-4b0f-4139-879e-fb5f6bb470af",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6c92131b-9059-450c-b2f1-9047bf5f0be9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d6c527d5-38b4-4e00-88bb-bab5dfd6413d",
                    "leftValue": "={{ $json.data[0].stageId }}",
                    "rightValue": "ac31cf80-7069-4810-9654-d0edfdf4997a",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        656,
        576
      ],
      "id": "9c51a1d9-512b-4f21-bd0d-24e5936576e6",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "create",
        "name": "={{ $('dados').item.json.nome }}",
        "email": "=",
        "phone": "=55{{ $('dados').item.json.telefone }}",
        "source": "SITE - SUMAREAD",
        "additionalFields": {
          "tags": [
            "5d302e72-6a48-4840-a0e0-4bab94267622"
          ]
        }
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        416,
        320
      ],
      "id": "db17a193-3052-4356-82c0-dd65c1ef8ecb",
      "name": "Criar um novo lead",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "deals",
        "operation": "create",
        "leadId": "={{ $json.id }}",
        "pipelineId": "ce7983b4-2dd2-47fe-947f-643643920a03",
        "stageId": "5f0b194a-ea51-46d0-afc3-43d662e7424f",
        "attendantId": "=",
        "additionalFields": {}
      },
      "type": "n8n-nodes-datacrazy.dataCrazy",
      "typeVersion": 1,
      "position": [
        640,
        320
      ],
      "id": "bd3c6dfb-c1c3-493c-a83f-5b980cb81d23",
      "name": "Criar um novo negócio",
      "credentials": {
        "dataCrazyCredentials": {
          "id": "F5urhNb40QLbpbTU",
          "name": "Credenciais DataCrazy BU"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f1e3be6-2b81-4421-a45c-75af595cea49",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        544
      ],
      "id": "214ae5b3-e0e5-4ba4-a414-da25e49c737e",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31c410a6-9941-45fd-9e3b-7536194c7206",
              "name": "tipo",
              "value": "={{ $json.body.tipo }}",
              "type": "string"
            },
            {
              "id": "5ed3c871-a609-4c41-8649-a7dfe07a9e67",
              "name": "nome",
              "value": "={{ $json.body.nome }}",
              "type": "string"
            },
            {
              "id": "f3a71701-7c91-4b76-98de-81b61004908f",
              "name": "email",
              "value": "={{ $json.body.email || \" \" }}",
              "type": "string"
            },
            {
              "id": "27488890-7bf0-456b-a9c9-1340dc5cbf08",
              "name": "telefone",
              "value": "={{ $json.body.celular }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        528
      ],
      "id": "d4f00fce-001e-4566-84cb-e803e047b666",
      "name": "dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ab9aa71-2313-40a5-bb9e-8e0f7a9210c6",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -928,
        528
      ],
      "id": "35b37e1e-2bae-4cb6-8d78-a5f113ef7f2b",
      "name": "If4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -720,
        624
      ],
      "id": "58e66c39-47f0-40b0-8966-04dc86d97eb3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ab9aa71-2313-40a5-bb9e-8e0f7a9210c6",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1024,
        1168
      ],
      "id": "714d5412-2de5-4808-8927-507e86efa137",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -800,
        1264
      ],
      "id": "69f4d9ad-79ee-46b5-9b1a-8ec863d60a0a",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "wix_sumare",
          "mode": "list",
          "cachedResultName": "wix_sumare"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Webhook').item.json.body.celular }}",
            "data": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        304
      ],
      "id": "b357435c-30b8-4a35-ba0d-5d5154b4b5a4",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "OWpYaPo6TqJn4NV3",
          "name": "banco site soead"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "wix_sumare",
          "mode": "list",
          "cachedResultName": "wix_sumare"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Webhook1').item.json.body.user_column_data[2].string_value }}",
            "data": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        928
      ],
      "id": "c4f5d883-7858-490a-b8c3-3e32c3be0beb",
      "name": "Insert rows in a table2",
      "credentials": {
        "postgres": {
          "id": "OWpYaPo6TqJn4NV3",
          "name": "banco site soead"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Buscar todos os negócios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um negócio existente": {
      "main": [
        [
          {
            "node": "Atualizar um lead existente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar todos os negócios": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Atualizar um negócio existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar um negócio existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adicionar comentário ao lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar um novo lead1": {
      "main": [
        [
          {
            "node": "Criar um novo negócio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Criar um novo lead1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados1": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Buscar todos os negócios1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar um negócio existente1": {
      "main": [
        [
          {
            "node": "Atualizar um lead existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar todos os negócios1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Atualizar um negócio existente1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar um negócio existente1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adicionar comentário ao lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar um novo lead": {
      "main": [
        [
          {
            "node": "Criar um novo negócio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Criar um novo lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar um novo negócio": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar um novo negócio1": {
      "main": [
        [
          {
            "node": "Insert rows in a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n-new-n8n.ca31ey.easypanel.host",
            "user-agent": "Google-Ads-Notifications",
            "content-length": "876",
            "accept-encoding": "gzip, deflate, br",
            "content-type": "application/json",
            "from": "Google-Ads-Notifications(at)GoogleAdsNotifications.com",
            "x-forwarded-for": "66.249.88.232",
            "x-forwarded-host": "n8n-new-n8n.ca31ey.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e73584281a1d",
            "x-real-ip": "66.249.88.232"
          },
          "params": {},
          "query": {},
          "body": {
            "lead_id": "012de882c92ade867be7f642357757367f082c841488b8cf40c1e8b52805f3f30f355761ff8c228ccdf86aeb754bdd",
            "user_column_data": [
              {
                "column_name": "Em que programa tem interesse?",
                "string_value": "Graduação",
                "column_id": "em_que_programa_tem_interesse?"
              },
              {
                "column_name": "Full Name",
                "string_value": "Kauane Almeida",
                "column_id": "FULL_NAME"
              },
              {
                "column_name": "User Phone",
                "string_value": "+5516991608512",
                "column_id": "PHONE_NUMBER"
              },
              {
                "column_name": "User Email",
                "string_value": "kauanealmeidaalmeida3@gmail.com",
                "column_id": "EMAIL"
              },
              {
                "column_name": "City",
                "string_value": "RibeirãoPreto",
                "column_id": "CITY"
              }
            ],
            "api_version": "1.0",
            "form_id": 75638173899,
            "campaign_id": 23042122296,
            "google_key": "0420e21a-689d-4483-8218-b31aac6494f9",
            "is_test": false,
            "gcl_id": "",
            "adgroup_id": 0,
            "creative_id": 0,
            "asset_group_id": 6612210446,
            "lead_stage": "Raw lead",
            "lead_submit_time": "2025-12-12T03:32:18.596025Z"
          },
          "webhookUrl": "https://n8n-new-n8n.ca31ey.easypanel.host/webhook/880e7b71-fbb8-4f91-91c3-14359444f0e4",
          "executionMode": "production"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-new-n8n.ca31ey.easypanel.host",
            "user-agent": "Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Mobile Safari/537.36",
            "content-length": "78",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "https://www.sumaread.com.br",
            "priority": "u=1, i",
            "referer": "https://www.sumaread.com.br/",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "191.56.148.34",
            "x-forwarded-host": "n8n-new-n8n.ca31ey.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "93d4a78e6a59",
            "x-real-ip": "191.56.148.34"
          },
          "params": {},
          "query": {},
          "body": {
            "nome": "Luciano Freitas Santos",
            "celular": "11956969983",
            "tipo": "Graduação"
          },
          "webhookUrl": "https://n8n-new-n8n.ca31ey.easypanel.host/webhook/criacao_leads_sumare",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "bd464ecd-e152-4887-9328-880331668e9d",
  "activeVersionId": "bd464ecd-e152-4887-9328-880331668e9d",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-08-19T21:00:44.163Z",
      "createdAt": "2025-08-19T21:00:44.163Z",
      "role": "workflow:owner",
      "workflowId": "Lec74yhTDupOfWxT",
      "projectId": "TjZRFTZS7ptjaNGj"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-28T14:51:07.000Z",
    "createdAt": "2026-01-28T14:51:05.124Z",
    "versionId": "bd464ecd-e152-4887-9328-880331668e9d",
    "workflowId": "Lec74yhTDupOfWxT",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "criacao_leads_sumare",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1408,
          496
        ],
        "id": "31e7c720-46dc-416f-9828-c959329df7d6",
        "name": "Webhook",
        "webhookId": "4691095e-ed75-4e0d-bc75-daffa5937dda"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "880e7b71-fbb8-4f91-91c3-14359444f0e4",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1472,
          1168
        ],
        "id": "e57cb40b-30bd-448b-a363-37062370e417",
        "name": "Webhook1",
        "webhookId": "880e7b71-fbb8-4f91-91c3-14359444f0e4"
      },
      {
        "parameters": {
          "amount": 30
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -800,
          1072
        ],
        "id": "2b0d495f-7800-4d3e-91cf-e5b4bef6371f",
        "name": "Wait1",
        "webhookId": "3fa03a24-3360-4e8b-982a-7571d3b418ad"
      },
      {
        "parameters": {
          "content": "## google ads\n",
          "height": 640,
          "width": 3808,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1584,
          928
        ],
        "id": "73a91833-ae55-4cda-99ba-aa243aedc259",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## site sumaread\n",
          "height": 656,
          "width": 3856,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1632,
          192
        ],
        "id": "b65578be-c561-4615-9da3-2460af49a7c8",
        "name": "Sticky Note1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -128,
          1184
        ],
        "id": "db856925-36ae-4a90-8cb7-661bbef8da4f",
        "name": "Merge2"
      },
      {
        "parameters": {
          "resource": "deals",
          "operation": "update",
          "dealId": "={{ $('Buscar todos os negócios').first().json.data[0].id }}",
          "leadId": "={{ $('Buscar todos os negócios').first().json.data[0].leadId }}",
          "pipelineId": "group_header_SUMARE",
          "stageId": "f29a213e-ec38-4325-bb46-c5187e391b15",
          "attendantId": "={{ $json.data[0].attendant.id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-datacrazy.dataCrazy",
        "typeVersion": 1,
        "position": [
          320,
          1088
        ],
        "id": "209ba3ba-c54e-4aeb-a79d-56f9ef65c505",
        "name": "Atualizar um negócio existente",
        "credentials": {
          "dataCrazyCredentials": {
            "id": "F5urhNb40QLbpbTU",
            "name": "Credenciais DataCrazy BU"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "leadId": "={{ $('Buscar todos os negócios').item.json.data[0].leadId }}",
          "name": "={{ $json.lead.name }}",
          "phone": "={{ $json.lead.contacts[0].contactId }}",
          "source": "SITE - SUMAREAD",
          "additionalFields": {
            "tags": [
              "3b53c389-2a09-457e-a575-a4a522d00ec3"
            ]
          }
        },
        "type": "n8n-nodes-datacrazy.dataCrazy",
        "typeVersion": 1,
        "position": [
          544,
          1088
        ],
        "id": "7027359c-0036-4465-b60f-0b5b9832977d",
        "name": "Atualizar um lead existente1",
        "credentials": {
          "dataCrazyCredentials": {
            "id": "F5urhNb40QLbpbTU",
            "name": "Credenciais DataCrazy BU"
          }
        }
      },
      {
        "parameters": {
          "resource": "deals",
          "options": {
            "search": "={{ $('dados1').item.json.telefone }}"
          }
        },
        "type": "n8n-nodes-datacrazy.dataCrazy",
        "typeVersion": 1,
        "position": [
          -576,
          1072
        ],
        "id": "3b38facb-0605-43e3-8338-b6c2112a8473",
        "name": "Buscar todos os negócios",
        "credentials": {
          "dataCrazyCredentials": {
            "id": "F5urhNb40QLbpbTU",
            "name": "Credenciais DataCrazy BU"
          }
        }
      },
      {
        "parameters": {
          "resource": "annotations",
          "operation": "create",
          "leadId": "={{ $json.data[0].leadId }}",
          "note": "Aluno teve uma nova interação no site, fala que ELE QUER MATRICULAR!!!!"
        },
        "type": "n8n-nodes-datacrazy.dataCrazy",
        "typeVersion": 1,
        "position": [
          320,
          1280
        ],
        "id": "1dd63d46-5531-41a7-84f7-24ca765c0479",
        "name": "Adicionar comentário ao lead",
        "credentials": {
          "dataCrazyCredentials": {
            "id": "F5urhNb40QLbpbTU",
            "name": "Credenciais DataCrazy BU"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.data[0].stageId }}",
                      "rightValue": "8cdb6089-d8fb-4077-aa7a-69bf1d3db477",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "6c92131b-9059-450c-b2f1-9047bf5f0be9"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d6c527d5-38b4-4e00-88bb-bab5dfd6413d",
                      "leftValue": "={{ $json.data[0].stageId }}",
                      "rightValue": "fd2c4e1f-f7ab-46cb-8ce4-85243afc43f4\"",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          96,
          1168
        ],
        "id": "8383143b-b3f6-4693-b7cb-266cb9c29ea9",
        "name": "Switch1"
      },
      {
        "parameters": {
          "operation": "create",
          "name": "={{ $('dados1').item.json.nome }}",
          "email": "={{ $('dados1').item.json.email || '' }}",
          "phone": "=55{{ $('dados1').item.json.telefone }}",
          "source": "google ads_sumare",
          "additionalFields": {
            "tags": [
              "5d302e72-6a48-4840-a0e0-4bab94267622"
            ]
          }
        },
        "type": "n8n-nodes-datacrazy.dataCrazy",
        "typeVersion": 1,
        "position": [
          0,
          944
        ],
        "id": "04d59619-268c-4e03-a472-87eca39a259f",
        "name": "Criar um novo lead1",
        "credentials": {
          "dataCrazyCredentials": {
            "id": "F5urhNb40QLbpbTU",
            "name": "Credenciais DataCrazy BU"
          }
        }
      },
      {
        "parameters": {
          "resource": "deals",
          "operation": "create",
          "leadId": "={{ $json.id }}",
          "pipelineId": "ce7983b4-2dd2-47fe-947f-643643920a03",
          "stageId": "5f0b194a-ea51-46d0-afc3-43d662e7424f",
          "attendantId": "=",
          "additionalFields": {}
        },
        "type": "n8n-nodes-datacrazy.dataCrazy",
        "typeVersion": 1,
        "position": [
          224,
          944
        ],
        "id": "b62f81ec-3cd7-4425-9205-040c304c00d1",
        "name": "Criar um novo negócio1",
        "credentials": {
          "dataCrazyCredentials": {
            "id": "F5urhNb40QLbpbTU",
            "name": "Credenciais DataCrazy BU"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "5f1e3be6-2b81-4421-a45c-75af595cea49",
                "leftValue": "={{ $json.count }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -352,
          1072
        ],
        "id": "6c2670e7-0ff0-4d30-ab7b-e55d998e4999",
        "name": "If1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "31c410a6-9941-45fd-9e3b-7536194c7206",
                "name": "tipo",
                "value": "={{ $json.body.user_column_data[0].string_value }}",
                "type": "string"
              },
              {
                "id": "5ed3c871-a609-4c41-8649-a7dfe07a9e67",
                "name": "nome",
                "value": "={{ $json.body.user_column_data[1].string_value.replace('+', '') }}",
                "type": "string"
              },
              {
                "id": "f3a71701-7c91-4b76-98de-81b61004908f",
                "name": "email",
                "value": "={{ $json.body.user_column_data[3].string_value }}",
                "type": "string"
              },
              {
                "id": "27488890-7bf0-456b-a9c9-1340dc5cbf08",
                "name": "telefone",
                "value": "={{ $json.body.user_column_data[2].string_value }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1248,
          1168
        ],
        "id": "509a3646-334f-4f9b-9bca-1a22ff32446b",
        "name": "dados1"
      },
      {
        "parameters": {
          "amount": 30
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -576,
          528
        ],
        "id": "4934dcea-588c-449a-9c36-3760eb4480d8",
        "name": "Wait",
        "webhookId": "3fa03a24-3360-4e8b-982a-7571d3b418ad"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          432,
          592
        ],
        "id": "0d34001e-f9f6-42b6-851b-0750e3c1b03e",
        "name": "Merge"
      },
      {
        "parameters": {
          "resource": "deals",
          "operation": "update",
          "dealId": "={{ $('Buscar todos os negócios1').first().json.data[0].id }}",
          "leadId": "={{ $('Buscar todos os negócios1').first().json.data[0].leadId }}",
          "pipelineId": "ce7983b4-2dd2-47fe-947f-643643920a03",
          "stageId": "b51e4a2a-13f7-4e19-8ac0-ea261e860b9a",
          "attendantId": "={{ $json.data[0].attendant.id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-datacrazy.dataCrazy",
        "typeVersion": 1,
        "position": [
          880,
          496
        ],
        "id": "7a39f974-6793-4b46-9677-158ea94b6dd4",
        "name": "Atualizar um negócio existente1",
        "credentials": {
          "dataCrazyCredentials": {
            "id": "F5urhNb40QLbpbTU",
            "name": "Credenciais DataCrazy BU"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "leadId": "={{ $('Buscar todos os negócios1').item.json.data[0].leadId }}",
          "name": "={{ $json.lead.name }}",
          "phone": "={{ $json.lead.contacts[0].contactId }}",
          "source": "SITE - SUMAREAD",
          "additionalFields": {
            "tags": [
              "3b53c389-2a09-457e-a575-a4a522d00ec3"
            ]
          }
        },
        "type": "n8n-nodes-datacrazy.dataCrazy",
        "typeVersion": 1,
        "position": [
          1088,
          496
        ],
        "id": "d490c6df-218b-4e89-b68c-e33626152e19",
        "name": "Atualizar um lead existente",
        "credentials": {
          "dataCrazyCredentials": {
            "id": "F5urhNb40QLbpbTU",
            "name": "Credenciais DataCrazy BU"
          }
        }
      },
      {
        "parameters": {
          "resource": "deals",
          "options": {
            "search": "={{ $('dados').item.json.telefone }}"
          }
        },
        "type": "n8n-nodes-datacrazy.dataCrazy",
        "typeVersion": 1,
        "position": [
          -272,
          544
        ],
        "id": "7875d00f-5611-4e1a-a03b-5ef077275a36",
        "name": "Buscar todos os negócios1",
        "credentials": {
          "dataCrazyCredentials": {
            "id": "F5urhNb40QLbpbTU",
            "name": "Credenciais DataCrazy BU"
          }
        }
      },
      {
        "parameters": {
          "resource": "annotations",
          "operation": "create",
          "leadId": "={{ $json.data[0].leadId }}",
          "note": "Aluno teve uma nova interação no site, fala que ELE QUER MATRICULAR!!!!"
        },
        "type": "n8n-nodes-datacrazy.dataCrazy",
        "typeVersion": 1,
        "position": [
          880,
          688
        ],
        "id": "3917f614-8416-4309-9056-161059745672",
        "name": "Adicionar comentário ao lead1",
        "credentials": {
          "dataCrazyCredentials": {
            "id": "F5urhNb40QLbpbTU",
            "name": "Credenciais DataCrazy BU"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.data[0].stageId }}",
                      "rightValue": "82c83778-4b0f-4139-879e-fb5f6bb470af",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "6c92131b-9059-450c-b2f1-9047bf5f0be9"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d6c527d5-38b4-4e00-88bb-bab5dfd6413d",
                      "leftValue": "={{ $json.data[0].stageId }}",
                      "rightValue": "ac31cf80-7069-4810-9654-d0edfdf4997a",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          656,
          576
        ],
        "id": "9c51a1d9-512b-4f21-bd0d-24e5936576e6",
        "name": "Switch"
      },
      {
        "parameters": {
          "operation": "create",
          "name": "={{ $('dados').item.json.nome }}",
          "email": "=",
          "phone": "=55{{ $('dados').item.json.telefone }}",
          "source": "SITE - SUMAREAD",
          "additionalFields": {
            "tags": [
              "5d302e72-6a48-4840-a0e0-4bab94267622"
            ]
          }
        },
        "type": "n8n-nodes-datacrazy.dataCrazy",
        "typeVersion": 1,
        "position": [
          416,
          320
        ],
        "id": "db17a193-3052-4356-82c0-dd65c1ef8ecb",
        "name": "Criar um novo lead",
        "credentials": {
          "dataCrazyCredentials": {
            "id": "F5urhNb40QLbpbTU",
            "name": "Credenciais DataCrazy BU"
          }
        }
      },
      {
        "parameters": {
          "resource": "deals",
          "operation": "create",
          "leadId": "={{ $json.id }}",
          "pipelineId": "ce7983b4-2dd2-47fe-947f-643643920a03",
          "stageId": "5f0b194a-ea51-46d0-afc3-43d662e7424f",
          "attendantId": "=",
          "additionalFields": {}
        },
        "type": "n8n-nodes-datacrazy.dataCrazy",
        "typeVersion": 1,
        "position": [
          640,
          320
        ],
        "id": "bd3c6dfb-c1c3-493c-a83f-5b980cb81d23",
        "name": "Criar um novo negócio",
        "credentials": {
          "dataCrazyCredentials": {
            "id": "F5urhNb40QLbpbTU",
            "name": "Credenciais DataCrazy BU"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "5f1e3be6-2b81-4421-a45c-75af595cea49",
                "leftValue": "={{ $json.count }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          80,
          544
        ],
        "id": "214ae5b3-e0e5-4ba4-a414-da25e49c737e",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "31c410a6-9941-45fd-9e3b-7536194c7206",
                "name": "tipo",
                "value": "={{ $json.body.tipo }}",
                "type": "string"
              },
              {
                "id": "5ed3c871-a609-4c41-8649-a7dfe07a9e67",
                "name": "nome",
                "value": "={{ $json.body.nome }}",
                "type": "string"
              },
              {
                "id": "f3a71701-7c91-4b76-98de-81b61004908f",
                "name": "email",
                "value": "={{ $json.body.email || \" \" }}",
                "type": "string"
              },
              {
                "id": "27488890-7bf0-456b-a9c9-1340dc5cbf08",
                "name": "telefone",
                "value": "={{ $json.body.celular }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1136,
          528
        ],
        "id": "d4f00fce-001e-4566-84cb-e803e047b666",
        "name": "dados"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7ab9aa71-2313-40a5-bb9e-8e0f7a9210c6",
                "leftValue": "={{ $json.telefone }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -928,
          528
        ],
        "id": "35b37e1e-2bae-4cb6-8d78-a5f113ef7f2b",
        "name": "If4"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -720,
          624
        ],
        "id": "58e66c39-47f0-40b0-8966-04dc86d97eb3",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7ab9aa71-2313-40a5-bb9e-8e0f7a9210c6",
                "leftValue": "={{ $json.telefone }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1024,
          1168
        ],
        "id": "714d5412-2de5-4808-8927-507e86efa137",
        "name": "If5"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -800,
          1264
        ],
        "id": "69f4d9ad-79ee-46b5-9b1a-8ec863d60a0a",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "wix_sumare",
            "mode": "list",
            "cachedResultName": "wix_sumare"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "telefone": "={{ $('Webhook').item.json.body.celular }}",
              "data": "={{ $now }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          864,
          304
        ],
        "id": "b357435c-30b8-4a35-ba0d-5d5154b4b5a4",
        "name": "Insert rows in a table",
        "credentials": {
          "postgres": {
            "id": "OWpYaPo6TqJn4NV3",
            "name": "banco site soead"
          }
        }
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "wix_sumare",
            "mode": "list",
            "cachedResultName": "wix_sumare"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "telefone": "={{ $('Webhook1').item.json.body.user_column_data[2].string_value }}",
              "data": "={{ $now }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          592,
          928
        ],
        "id": "c4f5d883-7858-490a-b8c3-3e32c3be0beb",
        "name": "Insert rows in a table2",
        "credentials": {
          "postgres": {
            "id": "OWpYaPo6TqJn4NV3",
            "name": "banco site soead"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook1": {
        "main": [
          [
            {
              "node": "dados1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Buscar todos os negócios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualizar um negócio existente": {
        "main": [
          [
            {
              "node": "Atualizar um lead existente1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar todos os negócios": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "Atualizar um negócio existente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Atualizar um negócio existente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Adicionar comentário ao lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar um novo lead1": {
        "main": [
          [
            {
              "node": "Criar um novo negócio1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Criar um novo lead1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "dados1": {
        "main": [
          [
            {
              "node": "If5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Buscar todos os negócios1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualizar um negócio existente1": {
        "main": [
          [
            {
              "node": "Atualizar um lead existente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar todos os negócios1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Atualizar um negócio existente1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Atualizar um negócio existente1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Adicionar comentário ao lead1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar um novo lead": {
        "main": [
          [
            {
              "node": "Criar um novo negócio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Criar um novo lead",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "dados": {
        "main": [
          [
            {
              "node": "If4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If4": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If5": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar um novo negócio": {
        "main": [
          [
            {
              "node": "Insert rows in a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar um novo negócio1": {
        "main": [
          [
            {
              "node": "Insert rows in a table2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "eDUIT TI",
    "name": "Version bd464ecd",
    "description": "",
    "autosaved": true
  },
  "tags": []
}