criacao_leads_sumaread-.json
{
  "createdAt": "2025-07-29T16:14:26.177Z",
  "updatedAt": "2025-07-31T14:34:13.000Z",
  "id": "BBocg4upLSYXmuWq",
  "name": "criacao_leads_sumaread",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -880,
        192
      ],
      "id": "34b99be1-3e8c-436a-8e13-0523410ff88e",
      "name": "Wait",
      "webhookId": "e1a1207b-471b-4c47-8af9-84c0c6317ade"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc",
          "mode": "list",
          "cachedResultName": "Distribuição_Sumaré",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SUMARE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Ativo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        0
      ],
      "id": "8548b63c-8897-4243-8f6b-767e7cc68527",
      "name": "get_consultor",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "By4ggNOanXLS64XE",
          "name": "powerbieduit"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc",
          "mode": "list",
          "cachedResultName": "Distribuição_Sumaré",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SUMARE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Ultimo Lead": "={{new Date().toISOString()}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ultimo Lead",
              "displayName": "Ultimo Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        448,
        0
      ],
      "id": "51602c91-c942-45d8-a230-28d99cb05ffb",
      "name": "update ultima exec",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "By4ggNOanXLS64XE",
          "name": "powerbieduit"
        }
      }
    },
    {
      "parameters": {
        "resource": "contacts",
        "operation": "createContacts",
        "collection": {
          "contact": [
            {
              "name": "={{ $('Edit Fields').item.json.nome }}",
              "responsible_user_id": "={{ $('Code1').item.json.Id }}",
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":650708,\"type\":\"multitext\"}",
                    "value": "=+55{{ $('Edit Fields').item.json.Telefone }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        688,
        0
      ],
      "id": "15116b87-afd4-4d99-850c-3b0df694d744",
      "name": "cria contato",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nVF4jy6NK0rf5oed",
          "name": "Kommo BU"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f1e3be6-2b81-4421-a45c-75af595cea49",
              "leftValue": "={{ $json.quantidade_encontrada }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        192
      ],
      "id": "c4fd95eb-25b5-43f8-996d-6dd7a4c655f1",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const leads = $json._embedded?.leads || [];\n\n// Define campos fixos\nconst camposFixos = ['id', 'name', 'telefone', 'email', 'curso'];\n\n// Conta quantos leads foram encontrados\nconst quantidade_encontrada = leads.length;\n\nif (quantidade_encontrada === 0) {\n  // Se nenhum lead for encontrado, retorna campos vazios\n  const vazio = {\n    quantidade_encontrada,\n    id: \"\",\n    name: \"\",\n    telefone: \"\",\n    email: \"\",\n    curso: \"\"\n  };\n  return [{ json: vazio }];\n}\n\n// Seleciona o lead com menor ID\nconst leadEscolhido = leads.reduce((min, atual) => {\n  return atual.id < min.id ? atual : min;\n});\n\n// Extrai valores dos campos customizados\nconst fields = leadEscolhido.custom_fields_values || [];\nconst getCampo = (nome) => {\n  return fields.find(f => f.field_name?.toLowerCase().includes(nome.toLowerCase()))\n         ?.values?.[0]?.value ?? \"\";\n};\n\nconst resultado = {\n  quantidade_encontrada,\n  id: leadEscolhido.id,\n  name: leadEscolhido.name ?? \"\",\n  telefone: getCampo(\"telefone\"),\n  email: getCampo(\"email\"),\n  curso: getCampo(\"curso\")\n};\n\nreturn [{ json: resultado }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        192
      ],
      "id": "1948c63a-95cf-437a-86da-d6f427421dfa",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "leads",
        "filter": {
          "query": "=+55{{ $json.Telefone }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -656,
        192
      ],
      "id": "fb44353a-3a6f-4104-b7af-54beda63b78e",
      "name": "procura lead1",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nVF4jy6NK0rf5oed",
          "name": "Kommo BU"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        304
      ],
      "id": "24436daa-eccd-4e19-bad3-929d08198c58",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Entrada: todos os consultores ativos, vindo do nó anterior\nconst rows = items;\n\n// Remover duplicados por ID\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of rows) {\n  const id = item.json.Id;\n  if (!vistos.has(id)) {\n    vistos.add(id);\n    unicos.push(item);\n  }\n}\n\n// Ordenar por 'Ultimo Lead' (do mais antigo para o mais recente)\nunicos.sort((a, b) => {\n  return new Date(a.json[\"Ultimo Lead\"]) - new Date(b.json[\"Ultimo Lead\"]);\n});\n\n// Selecionar aleatoriamente entre os N menos recentes\nconst topN = 5;\nconst candidatos = unicos.slice(0, topN);\n\nif (candidatos.length === 0) {\n  throw new Error(\"Nenhum consultor disponível para distribuição.\");\n}\n\n// Escolher aleatoriamente\nconst escolhido = candidatos[Math.floor(Math.random() * candidatos.length)];\n\n// Retornar com pairedItem\nreturn [\n  {\n    json: escolhido.json,\n    pairedItem: {\n      item: rows.indexOf(escolhido)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "1e3c680f-0bc6-44cc-a657-021ac7051da9",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c9eb4b1-ec44-4fac-82b1-232006b7872e",
              "name": "nome",
              "value": "={{ $json.body.nome }}",
              "type": "string"
            },
            {
              "id": "6c48dde8-316e-4f35-b881-8bb13510d468",
              "name": "Telefone",
              "value": "={{ $json.body.celular }}",
              "type": "string"
            },
            {
              "id": "1ddb0708-1df2-428d-bc0c-bb58e1637e51",
              "name": "Tipo",
              "value": "={{ $json.body.tipo }}",
              "type": "string"
            },
            {
              "id": "c4256c50-7487-4aa2-9670-76a8733ca0de",
              "name": "Email",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        192
      ],
      "id": "55952923-5938-4ab7-a0f4-644111cd1821",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('procura lead1').item.json._embedded.leads[0].status_id }}",
                    "rightValue": 143,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "6c92131b-9059-450c-b2f1-9047bf5f0be9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d6c527d5-38b4-4e00-88bb-bab5dfd6413d",
                    "leftValue": "={{ $('procura lead1').item.json._embedded.leads[0].status_id }}",
                    "rightValue": 143,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        224,
        304
      ],
      "id": "5648acc1-007e-4d6f-8801-1fcf65c2e9e0",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        560
      ],
      "id": "c4941f45-fe2a-4990-adea-9cac2a2ef4f2",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $json.id }}",
              "pipeline_id": 11003376,
              "status_id": 84400000,
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":662138,\"type\":\"text\"}",
                    "value": "={{ $json.name }}"
                  },
                  {
                    "data": "{\"id\":689125,\"type\":\"text\"}",
                    "value": "={{ $json.telefone }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        464,
        288
      ],
      "id": "978bed3f-049d-4eac-b689-403d3a7c8c3f",
      "name": "recadastro",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nVF4jy6NK0rf5oed",
          "name": "Kommo BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "createLeads",
        "collection": {
          "lead": [
            {
              "name": "={{ $('Edit Fields').item.json.nome }}",
              "pipeline_id": 5617751,
              "status_id": 49518221,
              "responsible_user_id": "={{ $('Code1').item.json.Id }}",
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":662138,\"type\":\"text\"}",
                    "value": "={{ $('Edit Fields').item.json.nome }}"
                  },
                  {
                    "data": "{\"id\":689125,\"type\":\"text\"}",
                    "value": "=+55{{ $('Edit Fields').item.json.Telefone }}"
                  },
                  {
                    "data": "{\"id\":672274,\"type\":\"text\"}",
                    "value": "={{ $('Code1').item.json.Nome }}"
                  },
                  {
                    "data": "{\"id\":688279,\"type\":\"select\"}",
                    "value": "Site - Sumaré"
                  }
                ]
              },
              "_embedded": {
                "contacts": [
                  {
                    "id": {
                      "contact": [
                        {
                          "id": "={{ $json._embedded.contacts[0].id }}"
                        }
                      ]
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        960,
        0
      ],
      "id": "7a4f5b05-4985-447d-9903-7f3662ae81c8",
      "name": "cria lead (eduit new)",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nVF4jy6NK0rf5oed",
          "name": "Kommo BU"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6a929b6a-68f0-4912-8d58-53f68d84b0c0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1280,
        192
      ],
      "id": "119e418d-41b9-4d8c-afa4-ffac61a8fb18",
      "name": "Webhook",
      "webhookId": "6a929b6a-68f0-4912-8d58-53f68d84b0c0"
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "procura lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_consultor": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update ultima exec": {
      "main": [
        [
          {
            "node": "cria contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria contato": {
      "main": [
        [
          {
            "node": "cria lead (eduit new)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "get_consultor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura lead1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "update ultima exec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "recadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-new-n8n.ca31ey.easypanel.host",
            "user-agent": "Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Mobile Safari/537.36",
            "content-length": "81",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9",
            "content-type": "application/json",
            "origin": "https://www.sumaread.com.br",
            "priority": "u=1, i",
            "referer": "https://www.sumaread.com.br/",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "200.173.181.128",
            "x-forwarded-host": "n8n-new-n8n.ca31ey.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e73584281a1d",
            "x-real-ip": "200.173.181.128"
          },
          "params": {},
          "query": {},
          "body": {
            "nome": "Silvia mara de freitas ",
            "celular": "11 992170973 ",
            "tipo": "Graduação"
          },
          "webhookUrl": "https://n8n-new-n8n.ca31ey.easypanel.host/webhook/6a929b6a-68f0-4912-8d58-53f68d84b0c0",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "aacbe456-a858-49ec-a735-2c2b63d40fb9",
  "triggerCount": 1,
  "tags": []
}