criacao_lead_preco_csv-v2-COMERCIAL CSV.json
{
  "createdAt": "2025-08-19T17:09:41.936Z",
  "updatedAt": "2025-08-19T20:33:37.000Z",
  "id": "J8kEHhciQvV44PRs",
  "name": "criacao_lead_preco_csv V2",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ddb18fa0-ee6e-420f-a502-0e5becb434de",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3328,
        336
      ],
      "id": "1381f3ac-d8d9-4d9d-920a-1c66f11176cc",
      "name": "Webhook",
      "webhookId": "ddb18fa0-ee6e-420f-a502-0e5becb434de"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2864,
        416
      ],
      "id": "3272ce0c-21a3-406b-a6ef-c485a9bc56de",
      "name": "Wait",
      "webhookId": "c848bedb-8f26-4fe0-8be0-db94f91d2cf7"
    },
    {
      "parameters": {
        "resource": "contacts",
        "operation": "createContacts",
        "collection": {
          "contact": [
            {
              "name": "={{ $('Edit Fields').item.json.Nome }}",
              "responsible_user_id": "={{ $('Code1').item.json.id_lead }}",
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":15846,\"type\":\"multitext\"}",
                    "value": "=+55{{ $('Edit Fields').item.json.Telefone }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -1296,
        128
      ],
      "id": "47566fc3-9c4f-41a8-819f-60a2fd34c04e",
      "name": "cria contato",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nwQNgfBiNqLrzKlG",
          "name": "Kommo Comercial CSV"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f1e3be6-2b81-4421-a45c-75af595cea49",
              "leftValue": "={{ $json.quantidade_encontrada }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2192,
        320
      ],
      "id": "e431f072-b855-4153-88de-43dcf8bc16ef",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const leads = $json._embedded?.leads || [];\n\n// Define campos fixos\nconst camposFixos = ['id', 'name', 'telefone', 'email', 'curso'];\n\n// Conta quantos leads foram encontrados\nconst quantidade_encontrada = leads.length;\n\nif (quantidade_encontrada === 0) {\n  // Se nenhum lead for encontrado, retorna campos vazios\n  const vazio = {\n    quantidade_encontrada,\n    id: \"\",\n    name: \"\",\n    telefone: \"\",\n    email: \"\",\n    curso: \"\"\n  };\n  return [{ json: vazio }];\n}\n\n// Seleciona o lead com menor ID\nconst leadEscolhido = leads.reduce((min, atual) => {\n  return atual.id < min.id ? atual : min;\n});\n\n// Extrai valores dos campos customizados\nconst fields = leadEscolhido.custom_fields_values || [];\nconst getCampo = (nome) => {\n  return fields.find(f => f.field_name?.toLowerCase().includes(nome.toLowerCase()))\n         ?.values?.[0]?.value ?? \"\";\n};\n\nconst resultado = {\n  quantidade_encontrada,\n  id: leadEscolhido.id,\n  name: leadEscolhido.name ?? \"\",\n  telefone: getCampo(\"telefone\"),\n  email: getCampo(\"email\"),\n  curso: getCampo(\"curso\")\n};\n\nreturn [{ json: resultado }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2416,
        320
      ],
      "id": "00c4cbd7-f3f0-4c0b-9bf6-3f1c11d01ad6",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "leads",
        "filter": {
          "query": "=+55{{ $json.Telefone }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -2640,
        320
      ],
      "id": "ba244649-d1d0-4cc6-a0d8-440ec275089e",
      "name": "procura lead1",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nwQNgfBiNqLrzKlG",
          "name": "Kommo Comercial CSV"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1968,
        432
      ],
      "id": "39e8f23a-276f-4a39-af70-c49037383135",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Entrada: items do nó anterior (Supabase)\nconst rows = items;\n\n// ===== Config =====\nconst DEFAULT_TOP_N = 5;\nconst TOP_N = Number(items?.[0]?.json?.TOP_N) > 0 ? Number(items[0].json.TOP_N) : DEFAULT_TOP_N;\n\n// ===== Helpers =====\nconst normNome = (v) => (v ?? \"\").trim().toLowerCase();\nconst getKey = (j) => j.id_lead ?? normNome(j.nome ?? j.Nome); // chave do consultor\nconst getTs = (j) => {\n  const s = j.ultimo_lead ?? j[\"Ultimo Lead\"] ?? j.ultimoLead;\n  const t = Date.parse(s);\n  return isNaN(t) ? Number.NEGATIVE_INFINITY : t; // sem/ruim => mais antigo\n};\n\n// ===== Dedup por consultor, mantendo o MAIS ANTIGO ultimo_lead =====\nconst byConsultor = new Map();\n/*\n Estrutura: key -> { idx, item, ts }\n Mantém aquele com ts MENOR (mais antigo) para representar o consultor.\n*/\nfor (let i = 0; i < rows.length; i++) {\n  const r = rows[i];\n  const j = r.json;\n\n  const keyRaw = getKey(j);\n  const key = (keyRaw == null || keyRaw === \"\") ? `__sem_chave_${i}` : String(keyRaw);\n\n  const ts = getTs(j);\n\n  const cur = byConsultor.get(key);\n  if (!cur || ts < cur.ts) {\n    byConsultor.set(key, { idx: i, item: r, ts });\n  }\n}\n\nconst unicos = Array.from(byConsultor.values());\n\nif (unicos.length === 0) {\n  throw new Error(\"Nenhum consultor disponível para distribuição.\");\n}\n\n// ===== Ordenar do mais antigo -> mais recente =====\nunicos.sort((a, b) => a.ts - b.ts);\n\n// ===== Selecionar pool e sortear =====\nconst take = Math.min(TOP_N, unicos.length);\nconst candidatos = unicos.slice(0, take);\n\n// Sorteio uniforme\nconst escolhido = candidatos[Math.floor(Math.random() * candidatos.length)];\n\n// ===== Retorno preservando o índice original para pairedItem =====\nreturn [\n  {\n    json: escolhido.item.json,\n    pairedItem: { item: escolhido.idx },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        128
      ],
      "id": "9b66e93c-d753-4ea8-9af3-cef0cf34c8ec",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c9eb4b1-ec44-4fac-82b1-232006b7872e",
              "name": "Nome",
              "value": "={{ $json.body.nome }}",
              "type": "string"
            },
            {
              "id": "5723ed11-58d3-44d5-a82b-aaf5ea1c7485",
              "name": "Email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "6c48dde8-316e-4f35-b881-8bb13510d468",
              "name": "Telefone",
              "value": "={{ $json.body.celular }}",
              "type": "string"
            },
            {
              "id": "f7302984-4009-4241-a870-f18bb6d75d51",
              "name": "Origem",
              "value": "={{ $json.body.origem }}",
              "type": "string"
            },
            {
              "id": "1ddb0708-1df2-428d-bc0c-bb58e1637e51",
              "name": "Tipo",
              "value": "={{ $json.body.tipo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3088,
        448
      ],
      "id": "3221af83-0db7-4317-9006-fd410022270c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('procura lead1').item.json._embedded.leads[0].status_id }}",
                    "rightValue": 143,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "6c92131b-9059-450c-b2f1-9047bf5f0be9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ee91cff1-7e58-47a2-b64f-2736c5ec16fe",
                    "leftValue": "={{ $('procura lead1').item.json._embedded.leads[0].status_id }}",
                    "rightValue": 48539243,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1744,
        416
      ],
      "id": "394b7a67-bbf1-42d9-b7cf-2f7c6e78d4d8",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $json.id }}",
              "pipeline_id": 9994596,
              "status_id": 76715668,
              "_embedded": {
                "tags": [
                  {
                    "id": [
                      127829
                    ]
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -1520,
        336
      ],
      "id": "99d96390-b580-4965-a424-1bfaaaabc00f",
      "name": "recadastro",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nwQNgfBiNqLrzKlG",
          "name": "Kommo Comercial CSV"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.Origem }}",
                    "rightValue": "https://www.eduit.com.br/formulario-graduacao-tabela",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b97a9bbe-6834-4388-8ff7-132bbc08e536"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0ad05978-16cb-458b-b690-48879cb9e3ca",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1072,
        128
      ],
      "id": "f42b47f2-c6fc-4948-a9c7-8f0a2cf5d458",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      lead: {\n        name: $('Edit Fields').item.json.Nome || '',\n        pipeline_id: 5481944,\n        status_id: 48539240,\n        responsible_user_id: $('Code1').item.json.Id || '',\n        custom_fields_values: [\n          {\n            field_id: 304628, // Nome\n            values: [{ value: $('Edit Fields').item.json.Nome || '' }]\n          },\n          {\n            field_id: 689701, // E-mail\n            values: [{ value: $('Webhook').item.json.body.email || '' }]\n          },\n          {\n            field_id: 31786, // Formação\n            values: [{ value: $('Edit Fields').item.json.Tipo || '' }]\n          },\n          {\n            field_id: 686585, // Origem\n            values: [{ value: $('Webhook').item.json.body.origem || '' }]\n          },\n          {\n            field_id: 190582, // Celular com +55\n            values: [{ value: '+55' + ($('Webhook').item.json.body.celular || '') }]\n          }\n        ]\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        224
      ],
      "id": "d5d4f213-a174-4780-b5fb-b5d3f117ebde",
      "name": "Code2"
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "createLeads",
        "collection": {
          "lead": [
            {
              "name": "={{ $json.lead.name }}",
              "pipeline_id": 5481944,
              "status_id": 48539240,
              "responsible_user_id": "={{ $('Code1').item.json.Id }}",
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":686585,\"type\":\"select\"}",
                    "value": "={{ $('Webhook').item.json.body.origem }}"
                  },
                  {
                    "data": "{\"id\":31786,\"type\":\"text\"}",
                    "value": "=form-eadeduit"
                  },
                  {
                    "data": "{\"id\":304628,\"type\":\"text\"}",
                    "value": "={{ $('Webhook').item.json.body.nome }}"
                  },
                  {
                    "data": "{\"id\":689701,\"type\":\"text\"}",
                    "value": "={{ $('Webhook').item.json.body.email }}"
                  },
                  {
                    "data": "{\"id\":190584,\"type\":\"text\"}",
                    "value": "={{ $('Code1').item.json.Nome }}"
                  }
                ]
              },
              "_embedded": {
                "contacts": [
                  {
                    "id": {
                      "contact": [
                        {
                          "id": "={{ $('cria contato').item.json._embedded.contacts[0].id }}"
                        }
                      ]
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -848,
        32
      ],
      "id": "ec9f4acb-e27b-482f-9d84-0b369ea927b9",
      "name": "cria lead",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nwQNgfBiNqLrzKlG",
          "name": "Kommo Comercial CSV"
        }
      }
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $json.id }}",
              "pipeline_id": 5481944,
              "status_id": 0,
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":686789,\"type\":\"select\"}",
                    "value": "Recebida"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -1520,
        528
      ],
      "id": "89408567-3f2c-4473-90bd-917936554a70",
      "name": "Update leads",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nwQNgfBiNqLrzKlG",
          "name": "Kommo Comercial CSV"
        }
      }
    },
    {
      "parameters": {
        "resource": "notes",
        "operation": "createNotes",
        "notes": {
          "common": [
            {
              "entity_id": "={{ $json._embedded.leads[0].id }}",
              "text": "Aluno teve uma nova interação no site, fala que ELE QUER MATRICULAR!!!!"
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -1296,
        528
      ],
      "id": "0ed17db6-992d-44a3-af5a-ad28c10aff19",
      "name": "Create new notes",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nwQNgfBiNqLrzKlG",
          "name": "Kommo Comercial CSV"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "distrib_comercial",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "ATIVO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1968,
        128
      ],
      "id": "312f3798-5047-4d06-8bd5-3edc26365d9d",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "71OBWtC8t38iEtPO",
          "name": "Supabase Academico"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "distrib_comercial",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ultimo_lead",
              "fieldValue": "={{ new Date(new Date().getTime() - (3 * 60 * 60 * 1000)).toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1520,
        128
      ],
      "id": "d8352410-f067-428d-8f0f-e8b71d860480",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "71OBWtC8t38iEtPO",
          "name": "Supabase Academico"
        }
      }
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "createLeads",
        "collection": {
          "lead": [
            {
              "name": "={{ $json.lead.name }}",
              "pipeline_id": 5481944,
              "status_id": 48539240,
              "responsible_user_id": "={{ $('Code1').item.json.id_lead }}",
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":686585,\"type\":\"select\"}",
                    "value": "={{ $('Webhook').item.json.body.origem }}"
                  },
                  {
                    "data": "{\"id\":31786,\"type\":\"text\"}",
                    "value": "={{ $('Webhook').item.json.body.origem }}"
                  },
                  {
                    "data": "{\"id\":304628,\"type\":\"text\"}",
                    "value": "={{ $('Webhook').item.json.body.nome }}"
                  },
                  {
                    "data": "{\"id\":689701,\"type\":\"text\"}",
                    "value": "={{ $('Webhook').item.json.body.email }}"
                  },
                  {
                    "data": "{\"id\":190584,\"type\":\"text\"}",
                    "value": "={{ $('Code1').item.json.nome }}"
                  },
                  {
                    "data": "{\"id\":190582,\"type\":\"text\"}",
                    "value": "=+55{{ $('Webhook').item.json.body.celular }}"
                  }
                ]
              },
              "_embedded": {
                "contacts": [
                  {
                    "id": {
                      "contact": [
                        {
                          "id": "={{ $('cria contato').item.json._embedded.contacts[0].id }}"
                        }
                      ]
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -624,
        224
      ],
      "id": "74903cdc-fb47-4d55-8237-b0fc6a129503",
      "name": "cria lead1",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nwQNgfBiNqLrzKlG",
          "name": "Kommo Comercial CSV"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "procura lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria contato": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura lead1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "recadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "recadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "cria lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "cria lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update leads": {
      "main": [
        [
          {
            "node": "Create new notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "cria contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "dCpCqA316QocWWea"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-new-n8n.ca31ey.easypanel.host",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36",
            "content-length": "133",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7,pt-PT;q=0.6",
            "content-type": "application/json",
            "origin": "https://www.ead.eduit.com.br",
            "priority": "u=1, i",
            "referer": "https://www.ead.eduit.com.br/",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "191.204.187.221",
            "x-forwarded-host": "n8n-new-n8n.ca31ey.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e73584281a1d",
            "x-real-ip": "191.204.187.221"
          },
          "params": {},
          "query": {},
          "body": {
            "nome": "Luan Mello VIllas Boas",
            "email": "luanmvb@hotmail.com",
            "celular": "11945722117",
            "tipo": "Graduação",
            "origem": "form-eadeduit"
          },
          "webhookUrl": "https://n8n-new-n8n.ca31ey.easypanel.host/webhook-test/ddb18fa0-ee6e-420f-a502-0e5becb434de",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "2cfa9026-0dd9-4ee9-8f00-ae6a6b2a90ae",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-19T17:09:41.942Z",
      "updatedAt": "2025-08-19T17:09:41.942Z",
      "role": "workflow:owner",
      "workflowId": "J8kEHhciQvV44PRs",
      "projectId": "TjZRFTZS7ptjaNGj"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-07-25T20:00:36.295Z",
      "updatedAt": "2025-07-25T20:00:36.295Z",
      "id": "3759VYd0IlWAtU1B",
      "name": "COMERCIAL CSV"
    }
  ]
}