dashboard_disparos-.json
{
  "createdAt": "2025-08-12T19:00:00.578Z",
  "updatedAt": "2025-08-12T19:26:22.000Z",
  "id": "1jMKODbyXXgxral1",
  "name": "dashboard_disparos",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH params AS (\n  SELECT \n    NULLIF('{{$json.query.data_inicio || \"\"}}','')::date AS data_inicio,\n    NULLIF('{{$json.query.data_fim || \"\"}}','')::date AS data_fim\n)\nSELECT json_build_object(\n  'ativacoes_por_dia',\n  COALESCE(\n    (\n      SELECT json_agg(row_to_json(a) ORDER BY a.dia)\n      FROM (\n        SELECT\n          t.data_ativacao AS dia,\n          COUNT(*) AS total\n        FROM ativacoes t\n        CROSS JOIN params p\n        WHERE (p.data_inicio IS NULL OR t.data_ativacao >= p.data_inicio)\n          AND (p.data_fim    IS NULL OR t.data_ativacao <= p.data_fim)\n        GROUP BY t.data_ativacao\n        ORDER BY t.data_ativacao\n      ) a\n    ),\n    '[]'::json\n  ),\n  'retornos_por_status',\n  COALESCE(\n    (\n      SELECT json_agg(row_to_json(b) ORDER BY b.quantidade DESC)\n      FROM (\n        SELECT\n          r.retorno,\n          COUNT(DISTINCT r.rgm) AS quantidade\n        FROM retorno_disparos r\n        CROSS JOIN params p\n        WHERE (p.data_inicio IS NULL OR r.data_registro::date >= p.data_inicio)  -- troque data_retorno se necessário\n          AND (p.data_fim    IS NULL OR r.data_registro::date <= p.data_fim)\n        GROUP BY r.retorno\n        ORDER BY COUNT(DISTINCT r.rgm) DESC\n      ) b\n    ),\n    '[]'::json\n  )\n) AS payload;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "f0f77a31-dc6f-40d8-971e-8c8167c729e0",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "QDCGVsYyhaarkGj6",
          "name": "Disparos"
        }
      }
    },
    {
      "parameters": {
        "path": "dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "87f1a268-1224-403b-9aeb-4d8c3d324f2a",
      "name": "Webhook",
      "webhookId": "f99c13f4-da33-434d-8396-a771f7c8d5c3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        0
      ],
      "id": "6c96e82d-dc2f-47c6-8dcc-cc2716a5927c",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "dc3d4b10-c815-4f0a-a8f6-7f789f58e4de",
  "triggerCount": 1,
  "tags": []
}