distribuicao_leads_sumare-v2-.json
{
  "createdAt": "2025-08-19T21:05:01.493Z",
  "updatedAt": "2025-09-09T16:21:03.000Z",
  "id": "ta10t8dmOyScLzLf",
  "name": "distribuicao_leads_sumare V2",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "distribuir_sumare",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "21256bbc-e758-4ab2-9b62-52e0e9da54e0",
      "name": "Webhook",
      "webhookId": "7558c63c-9a6d-4e33-8544-012cd930b8c0"
    },
    {
      "parameters": {
        "resource": "leads",
        "filter": {
          "query": "={{ $json.body['leads[add][0][id]'] }}"
        },
        "options": {
          "with": [
            "contacts"
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "b06f4dd1-7326-4b4b-bea8-be57f12931bb",
      "name": "Get list of leads1",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nVF4jy6NK0rf5oed",
          "name": "Kommo BU"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Acessa o primeiro lead\nconst lead = $json._embedded?.leads?.[0];\n\n// Garante que o lead existe\nif (!lead) {\n  return [{ json: { id: null, telefone: null, contact_id: null } }];\n}\n\n// Pega o campo \"Telefone\"\nconst telefone = lead.custom_fields_values?.find(f => f.field_name === \"Telefone\")?.values?.[0]?.value || null;\n\n// Pega o ID do contato principal\nconst contact_id = lead._embedded?.contacts?.[0]?.id || null;\n\n// Retorna ID, Telefone e ID do contato\nreturn [\n  {\n    json: {\n      id: lead.id,\n      telefone,\n      contact_id\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "09282436-f6d9-47b6-8634-3f2c4197c3e2",
      "name": "Code5"
    },
    {
      "parameters": {
        "jsCode": "// Entrada: items (cada item.json é um consultor ativo vindo do Supabase)\n\n// Sorteio em todos os ativos (duplicatas contam como chances extras)\nconst escolhido = items[Math.floor(Math.random() * items.length)];\n\nreturn [{\n  json: escolhido.json,\n  pairedItem: { item: items.indexOf(escolhido) }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        16
      ],
      "id": "ac4065fa-d7b6-4bf1-b668-f05722027edf",
      "name": "Code4"
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $('Get list of leads1').item.json._embedded.leads[0].id }}",
              "responsible_user_id": "={{ $json.id_usuario }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        1760,
        0
      ],
      "id": "b59a58d2-fac5-4834-b023-6aa82268a318",
      "name": "Update leads1",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nVF4jy6NK0rf5oed",
          "name": "Kommo BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "contacts",
        "operation": "updateContacts",
        "collection": {
          "contact": [
            {
              "id": "={{ $('Code5').item.json.contact_id }}",
              "responsible_user_id": "={{ $('Edit Fields').item.json.id_usuario }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        1984,
        0
      ],
      "id": "6a8cd874-46b2-4821-a0a0-13b5390b2413",
      "name": "Update contacts",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nVF4jy6NK0rf5oed",
          "name": "Kommo BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "distrib_sumare",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "ATIVO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "99509507-ed8c-4911-9bc8-b42ab10be450",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "6o0bjFpYGr8jfz1r",
          "name": "Supabase_BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "distrib_sumare",
        "filters": {
          "conditions": [
            {
              "keyName": "id_usuario",
              "condition": "eq",
              "keyValue": "={{ $json.id_usuario }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ultimo_lead",
              "fieldValue": "={{ new Date(new Date().getTime() - (3 * 60 * 60 * 1000)).toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        16
      ],
      "id": "76a3dec8-92b0-41b6-a443-eba82e8b79d2",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "6o0bjFpYGr8jfz1r",
          "name": "Supabase_BU"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8d44d66-44fa-4e10-bd27-27040524c2ca",
              "name": "id_usuario",
              "value": "={{ $json.id_usuario }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        0
      ],
      "id": "046624aa-a71b-4fc3-bb8f-96a65cb16170",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Entrada: items (podem ter duplicatas do mesmo id_usuario)\n\n// Vamos guardar o primeiro de cada id_usuario\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const it of items) {\n  const j = it.json;\n  const id = j.id_usuario;\n\n  if (!vistos.has(id)) {\n    vistos.add(id);\n    unicos.push(it); // mantém só o primeiro que aparecer\n  }\n}\n\n// Retorna apenas 1 por id_usuario\nreturn unicos;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        16
      ],
      "id": "91b3216f-c498-4102-80bf-8910e866b00d",
      "name": "Code"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get list of leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get list of leads1": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update leads1": {
      "main": [
        [
          {
            "node": "Update contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "dCpCqA316QocWWea"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-new-n8n.ca31ey.easypanel.host",
            "user-agent": "amoCRM-Webhooks/3.0",
            "content-length": "188",
            "accept-encoding": "gzip",
            "content-type": "application/x-www-form-urlencoded",
            "x-amocrm-requestid": "ca7d41ba-ef51-47f2-9711-1d4acc0f4ed0",
            "x-forwarded-for": "169.150.216.79",
            "x-forwarded-host": "n8n-new-n8n.ca31ey.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e73584281a1d",
            "x-real-ip": "169.150.216.79"
          },
          "params": {},
          "query": {},
          "body": {
            "leads[add][0][id]": "19122951",
            "leads[add][0][status_id]": "49518221",
            "leads[add][0][pipeline_id]": "5617751",
            "account[id]": "30298412",
            "account[subdomain]": "sumaread"
          },
          "webhookUrl": "https://n8n-new-n8n.ca31ey.easypanel.host/webhook/distribuir_sumare",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "4799a611-8288-4365-8cfc-d61b243ed207",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-19T21:05:01.499Z",
      "updatedAt": "2025-08-19T21:05:01.499Z",
      "role": "workflow:owner",
      "workflowId": "ta10t8dmOyScLzLf",
      "projectId": "TjZRFTZS7ptjaNGj"
    }
  ],
  "tags": []
}