distribuicao_sem-resposta_anhanguera-.json
{
  "updatedAt": "2025-09-09T20:23:21.000Z",
  "createdAt": "2025-09-09T20:22:20.253Z",
  "id": "FnllP68Tp1UDDLlk",
  "name": "distribuicao_sem resposta_anhanguera",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1568,
        272
      ],
      "id": "fe3529fd-4ab8-4b91-a2e4-511a40da32cb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chats_sum",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "updated_at",
              "condition": "lt",
              "keyValue": "={{ new Date(Date.now() - (3*60 + 10)*60*1000).toISOString() }}"
            },
            {
              "keyName": "atendimento_kommo",
              "condition": "is",
              "keyValue": "null"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1344,
        272
      ],
      "id": "e99472cb-65d6-4e27-b64b-00a5c312e2e9",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "iGh1fsnV8INZevlH",
          "name": "Supabase IA ANH/SUM"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.atendimento_kommo }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "02eaedca-5adb-42a1-b1eb-df57f7972c24"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "efe12c9c-9911-4eb4-9143-90ee00955700",
                    "leftValue": "={{ $json.atendimento_kommo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -672,
        192
      ],
      "id": "c74eb6d7-e41e-4fc7-9f23-b05e752e8167",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -448,
        288
      ],
      "id": "8c5caa3d-4c9a-486b-80c7-78f0b1de2a98",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "n8n_chat_histories_sum",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -448,
        96
      ],
      "id": "34503c94-3596-4d72-8c15-2416b0a33404",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "iGh1fsnV8INZevlH",
          "name": "Supabase IA ANH/SUM"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1997386-faaa-4c05-95b4-49c50a7b522d",
              "leftValue": "={{ $json.message.type }}",
              "rightValue": "ai",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ],
      "id": "ce298f68-6cd2-4591-ac1e-06e844244e7e",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente_sum",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Get a row').item.json.session_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "pause"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9119bd52-7302-487e-a7eb-735b0fa5785b",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "iGh1fsnV8INZevlH",
          "name": "Supabase IA ANH/SUM"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "chats_sum",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $json.session_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_kommo",
              "fieldValue": "sim"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "81f74c94-974c-4239-959d-eecea8412ece",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "iGh1fsnV8INZevlH",
          "name": "Supabase IA ANH/SUM"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        96
      ],
      "id": "fbe8770d-5618-4a4c-bb16-160c7e739f9e",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MfpFMb8bfaQRgbda",
          "mode": "list",
          "cachedResultName": "distribuir_atendimento_ia_sumaré"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $json.telefone }}"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        672,
        272
      ],
      "id": "bd825ed4-4990-41ab-a08e-1c9ebaf1f9ce",
      "name": "exec distribuicao comercial"
    },
    {
      "parameters": {
        "jsCode": "return [items[0]];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        96
      ],
      "id": "670a11d8-567e-4521-b2e8-7e56b1ea68b5",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldToSplitOut": "phone",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1120,
        272
      ],
      "id": "8c78bf34-7e51-4aa5-a068-bdd3c89fe2d7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -896,
        272
      ],
      "id": "6b1981eb-411c-4c83-b502-369ed9f23cce",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec distribuicao comercial": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "exec distribuicao comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2d8a1f45-ba90-42a7-b538-9f49f5a3c5f5",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-09T20:22:20.257Z",
      "createdAt": "2025-09-09T20:22:20.257Z",
      "role": "workflow:owner",
      "workflowId": "FnllP68Tp1UDDLlk",
      "projectId": "TjZRFTZS7ptjaNGj"
    }
  ],
  "tags": []
}