distribuição-b.u---leads-sumare-em-ganho-.json
{
  "createdAt": "2025-08-05T14:13:45.878Z",
  "updatedAt": "2025-08-06T14:47:59.000Z",
  "id": "kWAI89fhv8Bu50a2",
  "name": "Distribuição B.U - LEADS SUMARE EM GANHO",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ccd1d741-0696-4121-be98-112a7ea6169c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e42a412c-21b9-406d-9a94-b8748173539e",
      "name": "Webhook",
      "webhookId": "ccd1d741-0696-4121-be98-112a7ea6169c"
    },
    {
      "parameters": {
        "resource": "leads",
        "filter": {
          "query": "={{ $json.body['leads[add][0][id]'] }}"
        },
        "options": {
          "with": [
            "contacts"
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "7a0eead3-f377-4fd9-9393-5d035598357e",
      "name": "Get list of leads",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nVF4jy6NK0rf5oed",
          "name": "Kommo BU"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $json._embedded?.leads || [];\n\nif (leads.length === 0) {\n  return [{\n    json: {\n      id: \"\",\n      nome: \"\",\n      cpf: \"\",\n      telefone: \"\",\n      curso: \"\",\n      ra: \"\",\n      polo: \"\",\n      ultima_fase: \"\",\n      pipeline_id: \"\",\n      responsible_user_id: \"\",\n      status_id: \"\"\n    }\n  }];\n}\n\nconst lead = leads[0]; // Se quiser mapear vários leads, é só fazer .map\nconst campos = {};\n\nfor (const field of lead.custom_fields_values || []) {\n  campos[field.field_name] = field.values?.[0]?.value || \"\";\n}\n\nreturn [{\n  json: {\n    id: lead.id ?? \"\",\n    nome: campos[\"Nome\"] ?? \"\",\n    cpf: campos[\"CPF\"] ?? \"\",\n    telefone: campos[\"Telefone\"] ?? \"\",\n    curso: campos[\"Curso\"] ?? \"\",\n    ra: campos[\"RA\"] ?? \"\",\n    polo: campos[\"Polo\"] ?? \"\",\n    ultima_fase: campos[\"Ultima fase\"] ?? \"\",\n    pipeline_id: lead.pipeline_id ?? \"\",\n    responsible_user_id: lead.responsible_user_id ?? \"\",\n    status_id: lead.status_id ?? \"\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "f3b47fe9-39ba-4a7e-b5e4-64af523e2e06",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc",
          "mode": "list",
          "cachedResultName": "Distribuição_Sumaré",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SUMARE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Ultimo Lead": "={{new Date().toISOString()}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ultimo Lead",
              "displayName": "Ultimo Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1616,
        160
      ],
      "id": "573979c3-7a1a-4aec-8567-38e50f70a638",
      "name": "update ultima exec",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "By4ggNOanXLS64XE",
          "name": "powerbieduit"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Entrada: todos os consultores ativos, vindo do nó anterior\nconst rows = items;\n\n// Remover duplicados por ID\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of rows) {\n  const id = item.json.Id;\n  if (!vistos.has(id)) {\n    vistos.add(id);\n    unicos.push(item);\n  }\n}\n\n// Ordenar por 'Ultimo Lead' (do mais antigo para o mais recente)\nunicos.sort((a, b) => {\n  return new Date(a.json[\"Ultimo Lead\"]) - new Date(b.json[\"Ultimo Lead\"]);\n});\n\n// Selecionar aleatoriamente entre os N menos recentes\nconst topN = 5;\nconst candidatos = unicos.slice(0, topN);\n\nif (candidatos.length === 0) {\n  throw new Error(\"Nenhum consultor disponível para distribuição.\");\n}\n\n// Escolher aleatoriamente\nconst escolhido = candidatos[Math.floor(Math.random() * candidatos.length)];\n\n// Retornar com pairedItem\nreturn [\n  {\n    json: escolhido.json,\n    pairedItem: {\n      item: rows.indexOf(escolhido)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        160
      ],
      "id": "25ae5bb8-de9e-4eff-b086-bbcd5a579c77",
      "name": "Code8"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc",
          "mode": "list",
          "cachedResultName": "Distribuição_Sumaré",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SUMARE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Ativo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1072,
        160
      ],
      "id": "ea03f8ff-0e40-4d44-9857-c04a9b062546",
      "name": "get_consultor1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WBAzBmkCdwnRet1o",
          "name": "Google Sheets Mkt Eduit"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc",
          "mode": "list",
          "cachedResultName": "Distribuição_Sumaré",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SUMARE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sjSQKP-aH5YHyb5WZVHPAylonbexkdSsj2tZv_tEfBc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Id",
              "lookupValue": "={{ $json.responsible_user_id }}"
            },
            {
              "lookupColumn": "Status",
              "lookupValue": "Ativo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        624,
        0
      ],
      "id": "264b5f37-b40a-4653-8d91-e067c3e9b6e2",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "By4ggNOanXLS64XE",
          "name": "powerbieduit"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ee12ad70-966b-4003-8c70-a013f102f0a4",
              "leftValue": "={{ $json.Id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        0
      ],
      "id": "d670649e-2194-439e-b15b-19a835e4bb74",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $('Code').item.json.id }}",
              "pipeline_id": 5617751,
              "status_id": 49518221,
              "responsible_user_id": "={{ $('Code8').item.json.Id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        1840,
        160
      ],
      "id": "95fa969e-bef1-4da5-8c4f-fe41a78382d7",
      "name": "Update leads",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nVF4jy6NK0rf5oed",
          "name": "Kommo BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "contacts",
        "operation": "updateContacts",
        "collection": {
          "contact": [
            {
              "id": "={{ $('Get list of leads').item.json._embedded.leads[0]._embedded.contacts[0].id }}",
              "responsible_user_id": "={{ $('Code8').item.json.Id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        2048,
        160
      ],
      "id": "7a791651-79e8-4cb3-b027-eec9c23afb0b",
      "name": "Update contacts1",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nVF4jy6NK0rf5oed",
          "name": "Kommo BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $('Code').item.json.id }}",
              "pipeline_id": 5617751,
              "status_id": 49518221,
              "responsible_user_id": "={{ $('Code').item.json.responsible_user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        1104,
        -176
      ],
      "id": "a69d9e4c-e244-4703-947a-9396f510ac90",
      "name": "Update leads1",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nVF4jy6NK0rf5oed",
          "name": "Kommo BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "contacts",
        "operation": "updateContacts",
        "collection": {
          "contact": [
            {
              "id": "={{ $('Get list of leads').item.json._embedded.leads[0]._embedded.contacts[0].id }}",
              "responsible_user_id": "={{ $('Code').item.json.responsible_user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        1312,
        -176
      ],
      "id": "f84973af-4ced-4408-8859-5f55853e4961",
      "name": "Update contacts",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nVF4jy6NK0rf5oed",
          "name": "Kommo BU"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get list of leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get list of leads": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "update ultima exec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_consultor1": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update leads1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get_consultor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update leads": {
      "main": [
        [
          {
            "node": "Update contacts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update ultima exec": {
      "main": [
        [
          {
            "node": "Update leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update leads1": {
      "main": [
        [
          {
            "node": "Update contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "dCpCqA316QocWWea"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b2c30106-a8a4-4460-9e3c-ae9d837b6a26",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-05T14:13:45.887Z",
      "updatedAt": "2025-08-05T14:13:45.887Z",
      "role": "workflow:owner",
      "workflowId": "kWAI89fhv8Bu50a2",
      "projectId": "TjZRFTZS7ptjaNGj"
    }
  ],
  "tags": []
}