distribuicao_leads_anhanguera-v2-.json
{
  "createdAt": "2025-08-19T20:59:27.892Z",
  "updatedAt": "2025-08-21T20:40:26.000Z",
  "id": "JZJSZfePPl6NQxTx",
  "name": "distribuicao_leads_anhanguera V2",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "distribuir",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        224,
        -496
      ],
      "id": "06728b0f-7d03-4bfd-b7f8-8e1fa37ad2a3",
      "name": "Webhook",
      "webhookId": "7f243a9a-a88d-4c65-afcb-a4c1ac737b16"
    },
    {
      "parameters": {
        "resource": "leads",
        "filter": {
          "query": "={{ $json.body['leads[add][0][id]'] }}"
        },
        "options": {
          "with": [
            "contacts"
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        448,
        -496
      ],
      "id": "3b46acc7-5a5f-43e1-9832-fcd52f8df94b",
      "name": "Get list of leads",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nVF4jy6NK0rf5oed",
          "name": "Kommo BU"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Acessa o primeiro lead\nconst lead = $json._embedded?.leads?.[0];\n\n// Garante que o lead existe\nif (!lead) {\n  return [{ json: { id: null, telefone: null, contact_id: null } }];\n}\n\n// Pega o campo \"Telefone\"\nconst telefone = lead.custom_fields_values?.find(f => f.field_name === \"Telefone\")?.values?.[0]?.value || null;\n\n// Pega o ID do contato principal\nconst contact_id = lead._embedded?.contacts?.[0]?.id || null;\n\n// Retorna ID, Telefone e ID do contato\nreturn [\n  {\n    json: {\n      id: lead.id,\n      telefone,\n      contact_id\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -496
      ],
      "id": "69788286-4d30-40d3-8cc5-89d4eb258a73",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "// Entrada: todos os consultores ativos, vindo do nó anterior\nconst rows = items;\n\n// Remover duplicados por ID\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of rows) {\n  const id = item.json.Id;\n  if (!vistos.has(id)) {\n    vistos.add(id);\n    unicos.push(item);\n  }\n}\n\n// Ordenar por 'Ultimo Lead' (do mais antigo para o mais recente)\nunicos.sort((a, b) => {\n  return new Date(a.json[\"Ultimo Lead\"]) - new Date(b.json[\"Ultimo Lead\"]);\n});\n\n// Selecionar aleatoriamente entre os N menos recentes\nconst topN = 5;\nconst candidatos = unicos.slice(0, topN);\n\nif (candidatos.length === 0) {\n  throw new Error(\"Nenhum consultor disponível para distribuição.\");\n}\n\n// Escolher aleatoriamente\nconst escolhido = candidatos[Math.floor(Math.random() * candidatos.length)];\n\n// Retornar com pairedItem\nreturn [\n  {\n    json: escolhido.json,\n    pairedItem: {\n      item: rows.indexOf(escolhido)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -496
      ],
      "id": "c9649088-6dfb-4b32-aaab-7ba090ba6a78",
      "name": "Code8"
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $('Webhook').item.json.body['leads[add][0][id]'] }}",
              "pipeline_id": 9095532,
              "responsible_user_id": "={{ $json.id_usuario }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        1776,
        -496
      ],
      "id": "18dacbb5-ed17-44f4-b706-21f4e47782ab",
      "name": "Update leads",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nVF4jy6NK0rf5oed",
          "name": "Kommo BU"
        }
      }
    },
    {
      "parameters": {
        "resource": "contacts",
        "operation": "updateContacts",
        "collection": {
          "contact": [
            {
              "id": "={{ $('Get list of leads').item.json._embedded.leads[0]._embedded.contacts[0].id }}",
              "responsible_user_id": "={{ $('Edit Fields').item.json.id_usuario }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        2000,
        -496
      ],
      "id": "869ec838-ff8e-4e69-953b-e131b17e588a",
      "name": "Update contacts1",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nVF4jy6NK0rf5oed",
          "name": "Kommo BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "distrib_anhanguera",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "Ativo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        896,
        -496
      ],
      "id": "d8e32f6c-754c-42ea-a51c-0634248aed27",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "6o0bjFpYGr8jfz1r",
          "name": "Supabase_BU"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "distrib_anhanguera",
        "filters": {
          "conditions": [
            {
              "keyName": "id_usuario",
              "condition": "eq",
              "keyValue": "={{ $json.id_usuario }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ultimo_lead",
              "fieldValue": "={{ new Date(new Date().getTime() - (3 * 60 * 60 * 1000)).toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        -496
      ],
      "id": "d2d81bb9-326b-4802-95d7-be01ddd52aaa",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "6o0bjFpYGr8jfz1r",
          "name": "Supabase_BU"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "020e936f-1c74-4bc5-b28a-e1e7bee1bd95",
              "name": "id_usuario",
              "value": "={{ $json.id_usuario }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        -496
      ],
      "id": "eb356d3b-7c57-417d-bc83-41f2cfb205c5",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get list of leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get list of leads": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update leads": {
      "main": [
        [
          {
            "node": "Update contacts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "dCpCqA316QocWWea"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "69b6c7c3-a0f7-4dc7-8e42-860e7eaf13a7",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-19T20:59:27.897Z",
      "updatedAt": "2025-08-19T20:59:27.897Z",
      "role": "workflow:owner",
      "workflowId": "JZJSZfePPl6NQxTx",
      "projectId": "TjZRFTZS7ptjaNGj"
    }
  ],
  "tags": []
}