face-teste-.json
{
  "updatedAt": "2026-01-09T17:00:28.495Z",
  "createdAt": "2025-09-02T16:11:01.031Z",
  "id": "FLmE8Y3tgpijDo1Q",
  "name": "face teste",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.summary }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -3744,
        5168
      ],
      "id": "28a6b5a4-4fab-408a-ba04-14e77b15c9cd",
      "name": "facebook - vila prudente",
      "credentials": {
        "facebookGraphApi": {
          "id": "9OnLulmMbPZY0G1z",
          "name": "facebook - vila prudente"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.summary }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -3776,
        4128
      ],
      "id": "74edacca-062f-416d-93c3-c172f3b3e6aa",
      "name": "facebook - taboao da serra jd mituzi",
      "credentials": {
        "facebookGraphApi": {
          "id": "52n0B3FrLYY9S6Zq",
          "name": "facebook - taboao da serra jd mituzi"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.summary }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -3760,
        4960
      ],
      "id": "ee6ecdfe-29b6-49e3-bdd4-b8d1d2126799",
      "name": "facebook - barra funda",
      "credentials": {
        "facebookGraphApi": {
          "id": "btoxogGcbamEZijf",
          "name": "facebook - barra funda"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.summary }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -3760,
        4640
      ],
      "id": "1fc1a343-8f8a-4c12-993b-3c733ee6fb1f",
      "name": "facebook - capivari",
      "credentials": {
        "facebookGraphApi": {
          "id": "CCPPUHXMNYR0j9yx",
          "name": "facebook - capivari"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.summary }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -3792,
        5504
      ],
      "id": "2119c56b-f753-4778-a266-02397612ced8",
      "name": "facebook - cruzeirodosulead",
      "credentials": {
        "facebookGraphApi": {
          "id": "VEoW7ltv5umiWqtZ",
          "name": "facebook - cruzeirodosulead"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.summary }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -3792,
        4512
      ],
      "id": "d5260861-1cce-42f1-b2e3-ae8378b688c1",
      "name": "facebook - freguesia do ó",
      "credentials": {
        "facebookGraphApi": {
          "id": "YvOshuza0iPqsrI2",
          "name": "facebook - freguesia do ó"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.summary }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -3760,
        4800
      ],
      "id": "2fdeb391-9de4-473a-8ea9-0cab6ff105c9",
      "name": "facebook - sapopemba",
      "credentials": {
        "facebookGraphApi": {
          "id": "tCCjVBOMJ644GBRA",
          "name": "facebook - sapopemba"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.summary }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -3520,
        5792
      ],
      "id": "a9a0b1f8-7ef4-46cf-8df8-cbc7ebfb362e",
      "name": "facebook - polo taboao centro",
      "credentials": {
        "facebookGraphApi": {
          "id": "MU559gvZeOdNlIz1",
          "name": "facebook - polo taboao centro"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.summary }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -3792,
        3984
      ],
      "id": "9655da1e-65f4-4195-a19c-559768162963",
      "name": "facebook - itapira",
      "credentials": {
        "facebookGraphApi": {
          "id": "9Phxd7b3ekdfGUy4",
          "name": "facebook - itapira"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.summary }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -3744,
        5664
      ],
      "id": "22a96702-ae4b-4cb0-83c4-3ec64a328bc6",
      "name": "facebook - ibirapuera",
      "credentials": {
        "facebookGraphApi": {
          "id": "NGzPHn7jqAzAZxrb",
          "name": "facebook - ibirapuera"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.summary }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -3808,
        4304
      ],
      "id": "8ee2f32d-f469-4b64-9d33-efecaa93c892",
      "name": "facebook -  santana",
      "credentials": {
        "facebookGraphApi": {
          "id": "wBYCTEriVRNrwi9d",
          "name": "facebook - santana"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.description.match(/\\/file\\/d\\/([a-zA-Z0-9_-]+)/)[1] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -5280,
        4832
      ],
      "id": "535963ce-be50-478f-b9b5-e1718c64faed",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6631e3XH0YrNrV8w",
          "name": "powerbieduit"
        }
      }
    },
    {
      "parameters": {
        "content": "## *FACEBOOK*\n",
        "height": 2432,
        "width": 3856,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6864,
        3712
      ],
      "id": "4e194c5d-c9c0-42f7-b86e-5f6047476170",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.description }}",
                    "rightValue": ",",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    },
                    "id": "48b159ce-0ad4-4677-9f83-e511ca4cc06f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Post Único"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -6064,
        5136
      ],
      "id": "818107b9-3e82-48af-b702-10a0be8f2a5a",
      "name": "Switch1"
    },
    {
      "parameters": {
        "content": "## *FACEBOOK* - CAROSSEL\n\n",
        "height": 464,
        "width": 1856,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4800,
        6384
      ],
      "id": "a3d5419f-7db4-45b5-a80f-2c4372a74244",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// Aceita:\n// 1) items = [ { json: { ...evento } }, ... ]\n// 2) items = [ { json: [ { ...evento }, ... ] } ]\n\nfunction extractDriveIds(text) {\n  const ids = new Set();\n  if (!text) return ids;\n  const s = String(text);\n\n  // Padrões mais comuns do Drive (arquivo)\n  const patterns = [\n    /https?:\\/\\/drive\\.google\\.com\\/file\\/d\\/([A-Za-z0-9_-]{10,})/g,\n    /https?:\\/\\/drive\\.google\\.com\\/open\\?id=([A-Za-z0-9_-]{10,})/g,\n    /https?:\\/\\/drive\\.google\\.com\\/uc\\?(?:[^#\\s]*&)?id=([A-Za-z0-9_-]{10,})/g,\n    // se você também quiser aceitar links compartilhados encurtados do \"id=\":\n    /[?&]id=([A-Za-z0-9_-]{10,})/g,\n  ];\n\n  let m;\n  for (const re of patterns) {\n    while ((m = re.exec(s)) !== null) {\n      ids.add(m[1]);\n    }\n  }\n\n  return ids;\n}\n\n// Normaliza para uma lista de eventos\nconst events = Array.isArray(items[0]?.json)\n  ? items[0].json\n  : items.map(i => i.json);\n\nconst allIds = new Set();\n\nfor (const ev of events) {\n  // VARRE SOMENTE description e summary (onde estão seus links do Drive)\n  const parts = [];\n  if (ev?.description) parts.push(String(ev.description));\n  if (ev?.summary)     parts.push(String(ev.summary));\n\n  const blob = parts.join(' ');\n  const ids = extractDriveIds(blob);\n  ids.forEach(id => allIds.add(id));\n}\n\n// Saída: um item por arquivo + item de contagem\nconst out = [];\nfor (const id of allIds) {\n  out.push({\n    json: {\n      tipo: 'documento',\n      driveFileId: id,\n      url: `https://drive.google.com/uc?export=download&id=${id}`\n    }\n  });\n}\n\nout.push({\n  json: {\n    tipo: 'contagem',\n    totalIds: out.length // já é a quantidade de documentos (é calculado antes de adicionar este item)\n  }\n});\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4624,
        6528
      ],
      "id": "47f3d83a-b05d-4897-a380-ecba1394769c",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c80e0d03-16b3-4f1e-bf1b-d7459194d9f5",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "documento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4448,
        6512
      ],
      "id": "a2e86c46-2bf2-4459-872b-028ac8233f6f",
      "name": "Switch2"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "313175648538354",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $json.url }}"
              },
              {
                "name": "published",
                "value": "false"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -3904,
        6544
      ],
      "id": "02f7fad1-e660-4765-8335-66f8d839df2c",
      "name": "Facebook Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "VEoW7ltv5umiWqtZ",
          "name": "facebook - cruzeirodosulead"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.driveFileId }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4272,
        6528
      ],
      "id": "b050545f-6ea6-4917-922e-2fd808ec642d",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6631e3XH0YrNrV8w",
          "name": "powerbieduit"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4112,
        6544
      ],
      "id": "d6f96ff4-98c2-44aa-b112-7e7cc2573262",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// junta todos os PHOTO_ID em attached_media\nconst attached = items\n  .map(i => i.json.id)\n  .filter(Boolean)\n  .map(id => ({ media_fbid: id }));\n\nreturn [{\n  json: {\n    attached_media: attached\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3696,
        6528
      ],
      "id": "b5c4f804-3046-4abf-8b9f-9038fbac2c1d",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// Pega o evento\nconst event = $json;\n\n// Summary vem do Calendar Trigger\nconst msg = $('Google Calendar Trigger').first().json.summary || '';\n\n// Cria o corpo inicial\nconst body = { message: msg };\n\n// Conta imagens\nconst attached = event.attached_media || [];\nattached.forEach((m, i) => {\n  body[`attached_media[${i}]`] = JSON.stringify({ media_fbid: m.media_fbid });\n});\n\n// Adiciona a quantidade total\nbody.total_images = attached.length;\n\nreturn [{ json: body }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3520,
        6544
      ],
      "id": "9b632b6b-b96d-49e8-bab9-637c02952259",
      "name": "Code2"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "486302287897529",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.summary }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -3728,
        3760
      ],
      "id": "4188484a-99f1-469e-988f-d1a8da076e79",
      "name": "facebook morumbi",
      "credentials": {
        "facebookGraphApi": {
          "id": "mV5Igu67SG1ZAtRZ",
          "name": "face - morumbi - llt"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "b62e4b1e49ce899965086ac092dfd1fc56f047fe9ea17fa692cb3c42c5b5cc57@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Posts Facebook e Instagram"
        },
        "triggerOn": "eventStarted",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -6464,
        5104
      ],
      "id": "9a415013-0166-49cd-a3ae-eff134438108",
      "name": "Google Calendar Trigger",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "akvVbUeMlrcKBgdU",
          "name": "CALENDAR POSTS"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.summary }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -3712,
        5296
      ],
      "id": "06c1b812-c027-4684-86dc-0b86172f5981",
      "name": "facebook - campinas",
      "credentials": {
        "facebookGraphApi": {
          "id": "hK0MJI2974n3taB3",
          "name": "facebook campinas"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.total_images }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "b6b4f004-0375-4c63-aa7c-267c84c1f749"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "88cae18b-1f2e-4d75-af22-ce2e86a2919c",
                    "leftValue": "={{ $json.total_images }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4204ed0b-9c65-443e-b4d7-d0ac2dc49b6b",
                    "leftValue": "={{ $json.total_images }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a20d3d72-cebd-4775-a9aa-416cf680d1ee",
                    "leftValue": "={{ $json.total_images }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e18edb4-64f2-4e8e-a3a5-4e20fbba3e2e",
                    "leftValue": "={{ $json.total_images }}",
                    "rightValue": 6,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a9b4ae73-973c-46f1-90c3-ac66b11ee346",
                    "leftValue": "={{ $json.total_images }}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9326ab13-3bb0-4d60-88e4-fd46a8327d58",
                    "leftValue": "={{ $json.total_images }}",
                    "rightValue": 8,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3312,
        6544
      ],
      "id": "9e57bd79-9c43-4f2a-82e5-47f02c106c2e",
      "name": "Switch3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/313175648538354feed?access_token=EAAK7XZAAFf6EBPpf4ZAjBxaf7HTkwu4BMpODXxMw25oqvI0u1ZA2m4NxSaMQ61khP9Ur7UAeXBU58y5PZB7mNlYrD3XG27Q8WWieuLF0TfoCiIGN9dH1Qhaxxi2QyRjMXFhV81K8GkDZBkEDpTz0PZBLz3ZAbnCRalx9OMV3HvwiywE2uCrW3JfQmvwyfKZASYiSxogv",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "attached_media[0]",
              "value": "={{ $json['attached_media[0]'] }}"
            },
            {
              "name": "attached_media[1]",
              "value": "={{ $json['attached_media[1]'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2544,
        6192
      ],
      "id": "79f71a5a-a16d-4fb5-9f07-da7365e1501e",
      "name": "postar 2 imagens cruzeirodosulead1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/313175648538354feed?access_token=EAAK7XZAAFf6EBPpf4ZAjBxaf7HTkwu4BMpODXxMw25oqvI0u1ZA2m4NxSaMQ61khP9Ur7UAeXBU58y5PZB7mNlYrD3XG27Q8WWieuLF0TfoCiIGN9dH1Qhaxxi2QyRjMXFhV81K8GkDZBkEDpTz0PZBLz3ZAbnCRalx9OMV3HvwiywE2uCrW3JfQmvwyfKZASYiSxogv",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "attached_media[0]",
              "value": "={{ $json['attached_media[0]'] }}"
            },
            {
              "name": "attached_media[1]",
              "value": "={{ $json['attached_media[1]'] }}"
            },
            {
              "name": "attached_media[2]",
              "value": "={{ $json['attached_media[2]'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2544,
        6384
      ],
      "id": "07229ed8-7144-49e2-9e68-e08a7e9240c5",
      "name": "postar 3 imagens cruzeirodosulead2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/313175648538354feed?access_token=EAAK7XZAAFf6EBPpf4ZAjBxaf7HTkwu4BMpODXxMw25oqvI0u1ZA2m4NxSaMQ61khP9Ur7UAeXBU58y5PZB7mNlYrD3XG27Q8WWieuLF0TfoCiIGN9dH1Qhaxxi2QyRjMXFhV81K8GkDZBkEDpTz0PZBLz3ZAbnCRalx9OMV3HvwiywE2uCrW3JfQmvwyfKZASYiSxogv",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "attached_media[0]",
              "value": "={{ $json['attached_media[0]'] }}"
            },
            {
              "name": "attached_media[1]",
              "value": "={{ $json['attached_media[1]'] }}"
            },
            {
              "name": "attached_media[2]",
              "value": "={{ $json['attached_media[2]'] }}"
            },
            {
              "name": "attached_media[5]",
              "value": "={{ $json['attached_media[5]'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2528,
        6560
      ],
      "id": "48a8146f-a219-4ccb-9d35-6c1bdd24e622",
      "name": "postar 4 imagens cruzeirodosulead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/313175648538354/feed?access_token=EAAK7XZAAFf6EBPpf4ZAjBxaf7HTkwu4BMpODXxMw25oqvI0u1ZA2m4NxSaMQ61khP9Ur7UAeXBU58y5PZB7mNlYrD3XG27Q8WWieuLF0TfoCiIGN9dH1Qhaxxi2QyRjMXFhV81K8GkDZBkEDpTz0PZBLz3ZAbnCRalx9OMV3HvwiywE2uCrW3JfQmvwyfKZASYiSxogv",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "attached_media[0]",
              "value": "={{ $json['attached_media[0]'] }}"
            },
            {
              "name": "attached_media[1]",
              "value": "={{ $json['attached_media[1]'] }}"
            },
            {
              "name": "attached_media[2]",
              "value": "={{ $json['attached_media[2]'] }}"
            },
            {
              "name": "attached_media[3]",
              "value": "={{ $json['attached_media[3]'] }}"
            },
            {
              "name": "attached_media[4]",
              "value": "={{ $json['attached_media[4]'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2544,
        6752
      ],
      "id": "54559225-6ef2-4441-8d72-79b5c3c41df8",
      "name": "postar 5 imagens cruzeirodosulead1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/313175648538354feed?access_token=EAAK7XZAAFf6EBPpf4ZAjBxaf7HTkwu4BMpODXxMw25oqvI0u1ZA2m4NxSaMQ61khP9Ur7UAeXBU58y5PZB7mNlYrD3XG27Q8WWieuLF0TfoCiIGN9dH1Qhaxxi2QyRjMXFhV81K8GkDZBkEDpTz0PZBLz3ZAbnCRalx9OMV3HvwiywE2uCrW3JfQmvwyfKZASYiSxogv",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "attached_media[0]",
              "value": "={{ $json['attached_media[0]'] }}"
            },
            {
              "name": "attached_media[1]",
              "value": "={{ $json['attached_media[1]'] }}"
            },
            {
              "name": "attached_media[2]",
              "value": "={{ $json['attached_media[2]'] }}"
            },
            {
              "name": "attached_media[3]",
              "value": "={{ $json['attached_media[3]'] }}"
            },
            {
              "name": "attached_media[4]",
              "value": "={{ $json['attached_media[4]'] }}"
            },
            {
              "name": "attached_media[5]",
              "value": "={{ $json['attached_media[5]'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2592,
        6944
      ],
      "id": "47e34449-8f2a-48ad-b977-57318270c09a",
      "name": "postar 6 imagens cruzeirodosulead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/313175648538354feed?access_token=EAAK7XZAAFf6EBPpf4ZAjBxaf7HTkwu4BMpODXxMw25oqvI0u1ZA2m4NxSaMQ61khP9Ur7UAeXBU58y5PZB7mNlYrD3XG27Q8WWieuLF0TfoCiIGN9dH1Qhaxxi2QyRjMXFhV81K8GkDZBkEDpTz0PZBLz3ZAbnCRalx9OMV3HvwiywE2uCrW3JfQmvwyfKZASYiSxogv",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "attached_media[0]",
              "value": "={{ $json['attached_media[0]'] }}"
            },
            {
              "name": "attached_media[1]",
              "value": "={{ $json['attached_media[1]'] }}"
            },
            {
              "name": "attached_media[2]",
              "value": "={{ $json['attached_media[2]'] }}"
            },
            {
              "name": "attached_media[3]",
              "value": "={{ $json['attached_media[3]'] }}"
            },
            {
              "name": "attached_media[4]",
              "value": "={{ $json['attached_media[4]'] }}"
            },
            {
              "name": "attached_media[5]",
              "value": "={{ $json['attached_media[5]'] }}"
            },
            {
              "name": "attached_media[6]",
              "value": "={{ $json['attached_media[6]'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2576,
        7152
      ],
      "id": "0b4a3992-fb45-4bf5-9cb7-66288c2292ba",
      "name": "postar 7 imagens cruzeirodosulead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/313175648538354feed?access_token=EAAK7XZAAFf6EBPpf4ZAjBxaf7HTkwu4BMpODXxMw25oqvI0u1ZA2m4NxSaMQ61khP9Ur7UAeXBU58y5PZB7mNlYrD3XG27Q8WWieuLF0TfoCiIGN9dH1Qhaxxi2QyRjMXFhV81K8GkDZBkEDpTz0PZBLz3ZAbnCRalx9OMV3HvwiywE2uCrW3JfQmvwyfKZASYiSxogv",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "attached_media[0]",
              "value": "={{ $json['attached_media[0]'] }}"
            },
            {
              "name": "attached_media[1]",
              "value": "={{ $json['attached_media[1]'] }}"
            },
            {
              "name": "attached_media[2]",
              "value": "={{ $json['attached_media[2]'] }}"
            },
            {
              "name": "attached_media[3]",
              "value": "={{ $json['attached_media[3]'] }}"
            },
            {
              "name": "attached_media[4]",
              "value": "={{ $json['attached_media[4]'] }}"
            },
            {
              "name": "attached_media[5]",
              "value": "={{ $json['attached_media[5]'] }}"
            },
            {
              "name": "attached_media[6]",
              "value": "={{ $json['attached_media[6]'] }}"
            },
            {
              "name": "attached_media[7]",
              "value": "={{ $json['attached_media[7]'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2528,
        7344
      ],
      "id": "094036d4-8b18-4b8b-bc63-15b624f0305b",
      "name": "postar 8 imagens cruzeirodosulead1"
    }
  ],
  "connections": {
    "facebook - itapira": {
      "main": [
        []
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "facebook - ibirapuera",
            "type": "main",
            "index": 0
          },
          {
            "node": "facebook - polo taboao centro",
            "type": "main",
            "index": 0
          },
          {
            "node": "facebook - sapopemba",
            "type": "main",
            "index": 0
          },
          {
            "node": "facebook - capivari",
            "type": "main",
            "index": 0
          },
          {
            "node": "facebook -  santana",
            "type": "main",
            "index": 0
          },
          {
            "node": "facebook - freguesia do ó",
            "type": "main",
            "index": 0
          },
          {
            "node": "facebook - barra funda",
            "type": "main",
            "index": 0
          },
          {
            "node": "facebook - vila prudente",
            "type": "main",
            "index": 0
          },
          {
            "node": "facebook - campinas",
            "type": "main",
            "index": 0
          },
          {
            "node": "facebook - cruzeirodosulead",
            "type": "main",
            "index": 0
          },
          {
            "node": "facebook - taboao da serra jd mituzi",
            "type": "main",
            "index": 0
          },
          {
            "node": "facebook - itapira",
            "type": "main",
            "index": 0
          },
          {
            "node": "facebook morumbi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Trigger": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "postar 2 imagens cruzeirodosulead1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "postar 3 imagens cruzeirodosulead2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "postar 4 imagens cruzeirodosulead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "postar 5 imagens cruzeirodosulead1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "postar 6 imagens cruzeirodosulead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "postar 7 imagens cruzeirodosulead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "postar 8 imagens cruzeirodosulead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "dCpCqA316QocWWea"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    },
    "node:Google Calendar Trigger": {
      "lastTimeChecked": "2026-01-30T19:36:37Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Google Calendar Trigger": [
      {
        "json": {
          "kind": "calendar#event",
          "etag": "\"3518321080298846\"",
          "id": "2g4r0qbuft9pnv98tvjf7uiqgq",
          "status": "confirmed",
          "htmlLink": "https://www.google.com/calendar/event?eid=Mmc0cjBxYnVmdDlwbnY5OHR2amY3dWlxZ3EgYjYyZTRiMWU0OWNlODk5OTY1MDg2YWMwOTJkZmQxZmM1NmYwNDdmZTllYTE3ZmE2OTJjYjNjNDJjNWI1Y2M1N0Bn",
          "created": "2025-09-29T15:38:47.000Z",
          "updated": "2025-09-29T15:42:20.149Z",
          "summary": "\"O mundo está cada vez mais focado em ações contra as mudanças climáticas, com metas globais para 2030 e pressão crescente para que empresas e cidades adotem práticas sustentáveis. Nesse cenário, profissionais de Gestão Ambiental são protagonistas na transformação necessária para um futuro mais verde. Além das áreas tradicionais, esses profissionais atuam em setores essenciais como: 🔹 Consultoria em pegada de carbono — ajudando empresas a reduzir emissões 🔹 Gestão de resíduos tecnológicos — descarte responsável de eletrônicos 🔹 Planejamento urbano sustentável — cidades pensadas para o equilíbrio ambiental 🔹 Educação ambiental corporativa — tornando empresas mais conscientes e responsáveis Na Cruzeiro do Sul Virtual, o curso EAD em Gestão Ambiental prepara você para essas e outras áreas que estão moldando o futuro do planeta. 🌍 Quer fazer parte dessa mudança? Conheça nossas opções no site com o link da bio!  \"",
          "description": "<u><a href=\"https://drive.google.com/file/d/1pnjVl7SIZ1t8fMu67dBPSDPJsCgr0DyL/view?usp=drive_link\" target=\"_blank\" class=\"pastedDriveLink-0\">https://drive.google.com/file/d/1pnjVl7SIZ1t8fMu67dBPSDPJsCgr0DyL/view?usp=drive_link</a></u>",
          "creator": {
            "email": "caiovinips2012@gmail.com"
          },
          "organizer": {
            "email": "b62e4b1e49ce899965086ac092dfd1fc56f047fe9ea17fa692cb3c42c5b5cc57@group.calendar.google.com",
            "displayName": "Posts Facebook e Instagram",
            "self": true
          },
          "start": {
            "dateTime": "2025-09-29T12:43:00-03:00",
            "timeZone": "America/Sao_Paulo"
          },
          "end": {
            "dateTime": "2025-09-29T13:43:00-03:00",
            "timeZone": "America/Sao_Paulo"
          },
          "iCalUID": "2g4r0qbuft9pnv98tvjf7uiqgq@google.com",
          "sequence": 1,
          "reminders": {
            "useDefault": true
          },
          "eventType": "default"
        }
      }
    ]
  },
  "versionId": "03cb6f7d-be86-4af0-a4fd-c066c938e275",
  "activeVersionId": "03cb6f7d-be86-4af0-a4fd-c066c938e275",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-02T16:11:01.037Z",
      "createdAt": "2025-09-02T16:11:01.037Z",
      "role": "workflow:owner",
      "workflowId": "FLmE8Y3tgpijDo1Q",
      "projectId": "TjZRFTZS7ptjaNGj"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-13T16:22:30.000Z",
    "createdAt": "2026-01-09T17:00:28.502Z",
    "versionId": "03cb6f7d-be86-4af0-a4fd-c066c938e275",
    "workflowId": "FLmE8Y3tgpijDo1Q",
    "nodes": [
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "me",
          "edge": "photos",
          "sendBinaryData": true,
          "binaryPropertyName": "data",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "message",
                  "value": "={{ $json.summary }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -3744,
          5168
        ],
        "id": "28a6b5a4-4fab-408a-ba04-14e77b15c9cd",
        "name": "facebook - vila prudente",
        "credentials": {
          "facebookGraphApi": {
            "id": "9OnLulmMbPZY0G1z",
            "name": "facebook - vila prudente"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "me",
          "edge": "photos",
          "sendBinaryData": true,
          "binaryPropertyName": "data",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "message",
                  "value": "={{ $json.summary }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -3776,
          4128
        ],
        "id": "74edacca-062f-416d-93c3-c172f3b3e6aa",
        "name": "facebook - taboao da serra jd mituzi",
        "credentials": {
          "facebookGraphApi": {
            "id": "52n0B3FrLYY9S6Zq",
            "name": "facebook - taboao da serra jd mituzi"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "me",
          "edge": "photos",
          "sendBinaryData": true,
          "binaryPropertyName": "data",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "message",
                  "value": "={{ $json.summary }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -3760,
          4960
        ],
        "id": "ee6ecdfe-29b6-49e3-bdd4-b8d1d2126799",
        "name": "facebook - barra funda",
        "credentials": {
          "facebookGraphApi": {
            "id": "btoxogGcbamEZijf",
            "name": "facebook - barra funda"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "me",
          "edge": "photos",
          "sendBinaryData": true,
          "binaryPropertyName": "data",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "message",
                  "value": "={{ $json.summary }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -3760,
          4640
        ],
        "id": "1fc1a343-8f8a-4c12-993b-3c733ee6fb1f",
        "name": "facebook - capivari",
        "credentials": {
          "facebookGraphApi": {
            "id": "CCPPUHXMNYR0j9yx",
            "name": "facebook - capivari"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "me",
          "edge": "photos",
          "sendBinaryData": true,
          "binaryPropertyName": "data",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "message",
                  "value": "={{ $json.summary }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -3792,
          5504
        ],
        "id": "2119c56b-f753-4778-a266-02397612ced8",
        "name": "facebook - cruzeirodosulead",
        "credentials": {
          "facebookGraphApi": {
            "id": "VEoW7ltv5umiWqtZ",
            "name": "facebook - cruzeirodosulead"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "me",
          "edge": "photos",
          "sendBinaryData": true,
          "binaryPropertyName": "data",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "message",
                  "value": "={{ $json.summary }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -3792,
          4512
        ],
        "id": "d5260861-1cce-42f1-b2e3-ae8378b688c1",
        "name": "facebook - freguesia do ó",
        "credentials": {
          "facebookGraphApi": {
            "id": "YvOshuza0iPqsrI2",
            "name": "facebook - freguesia do ó"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "me",
          "edge": "photos",
          "sendBinaryData": true,
          "binaryPropertyName": "data",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "message",
                  "value": "={{ $json.summary }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -3760,
          4800
        ],
        "id": "2fdeb391-9de4-473a-8ea9-0cab6ff105c9",
        "name": "facebook - sapopemba",
        "credentials": {
          "facebookGraphApi": {
            "id": "tCCjVBOMJ644GBRA",
            "name": "facebook - sapopemba"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "me",
          "edge": "photos",
          "sendBinaryData": true,
          "binaryPropertyName": "data",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "message",
                  "value": "={{ $json.summary }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -3520,
          5792
        ],
        "id": "a9a0b1f8-7ef4-46cf-8df8-cbc7ebfb362e",
        "name": "facebook - polo taboao centro",
        "credentials": {
          "facebookGraphApi": {
            "id": "MU559gvZeOdNlIz1",
            "name": "facebook - polo taboao centro"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "me",
          "edge": "photos",
          "sendBinaryData": true,
          "binaryPropertyName": "data",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "message",
                  "value": "={{ $json.summary }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -3792,
          3984
        ],
        "id": "9655da1e-65f4-4195-a19c-559768162963",
        "name": "facebook - itapira",
        "credentials": {
          "facebookGraphApi": {
            "id": "9Phxd7b3ekdfGUy4",
            "name": "facebook - itapira"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "me",
          "edge": "photos",
          "sendBinaryData": true,
          "binaryPropertyName": "data",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "message",
                  "value": "={{ $json.summary }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -3744,
          5664
        ],
        "id": "22a96702-ae4b-4cb0-83c4-3ec64a328bc6",
        "name": "facebook - ibirapuera",
        "credentials": {
          "facebookGraphApi": {
            "id": "NGzPHn7jqAzAZxrb",
            "name": "facebook - ibirapuera"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "me",
          "edge": "photos",
          "sendBinaryData": true,
          "binaryPropertyName": "data",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "message",
                  "value": "={{ $json.summary }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -3808,
          4304
        ],
        "id": "8ee2f32d-f469-4b64-9d33-efecaa93c892",
        "name": "facebook -  santana",
        "credentials": {
          "facebookGraphApi": {
            "id": "wBYCTEriVRNrwi9d",
            "name": "facebook - santana"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.description.match(/\\/file\\/d\\/([a-zA-Z0-9_-]+)/)[1] }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -5280,
          4832
        ],
        "id": "535963ce-be50-478f-b9b5-e1718c64faed",
        "name": "Download file1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "6631e3XH0YrNrV8w",
            "name": "powerbieduit"
          }
        }
      },
      {
        "parameters": {
          "content": "## *FACEBOOK*\n",
          "height": 2432,
          "width": 3856,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -6864,
          3712
        ],
        "id": "4e194c5d-c9c0-42f7-b86e-5f6047476170",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.description }}",
                      "rightValue": ",",
                      "operator": {
                        "type": "string",
                        "operation": "notContains"
                      },
                      "id": "48b159ce-0ad4-4677-9f83-e511ca4cc06f"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Post Único"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -6064,
          5136
        ],
        "id": "818107b9-3e82-48af-b702-10a0be8f2a5a",
        "name": "Switch1"
      },
      {
        "parameters": {
          "content": "## *FACEBOOK* - CAROSSEL\n\n",
          "height": 464,
          "width": 1856,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -4800,
          6384
        ],
        "id": "a3d5419f-7db4-45b5-a80f-2c4372a74244",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "jsCode": "// Aceita:\n// 1) items = [ { json: { ...evento } }, ... ]\n// 2) items = [ { json: [ { ...evento }, ... ] } ]\n\nfunction extractDriveIds(text) {\n  const ids = new Set();\n  if (!text) return ids;\n  const s = String(text);\n\n  // Padrões mais comuns do Drive (arquivo)\n  const patterns = [\n    /https?:\\/\\/drive\\.google\\.com\\/file\\/d\\/([A-Za-z0-9_-]{10,})/g,\n    /https?:\\/\\/drive\\.google\\.com\\/open\\?id=([A-Za-z0-9_-]{10,})/g,\n    /https?:\\/\\/drive\\.google\\.com\\/uc\\?(?:[^#\\s]*&)?id=([A-Za-z0-9_-]{10,})/g,\n    // se você também quiser aceitar links compartilhados encurtados do \"id=\":\n    /[?&]id=([A-Za-z0-9_-]{10,})/g,\n  ];\n\n  let m;\n  for (const re of patterns) {\n    while ((m = re.exec(s)) !== null) {\n      ids.add(m[1]);\n    }\n  }\n\n  return ids;\n}\n\n// Normaliza para uma lista de eventos\nconst events = Array.isArray(items[0]?.json)\n  ? items[0].json\n  : items.map(i => i.json);\n\nconst allIds = new Set();\n\nfor (const ev of events) {\n  // VARRE SOMENTE description e summary (onde estão seus links do Drive)\n  const parts = [];\n  if (ev?.description) parts.push(String(ev.description));\n  if (ev?.summary)     parts.push(String(ev.summary));\n\n  const blob = parts.join(' ');\n  const ids = extractDriveIds(blob);\n  ids.forEach(id => allIds.add(id));\n}\n\n// Saída: um item por arquivo + item de contagem\nconst out = [];\nfor (const id of allIds) {\n  out.push({\n    json: {\n      tipo: 'documento',\n      driveFileId: id,\n      url: `https://drive.google.com/uc?export=download&id=${id}`\n    }\n  });\n}\n\nout.push({\n  json: {\n    tipo: 'contagem',\n    totalIds: out.length // já é a quantidade de documentos (é calculado antes de adicionar este item)\n  }\n});\n\nreturn out;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4624,
          6528
        ],
        "id": "47f3d83a-b05d-4897-a380-ecba1394769c",
        "name": "Code"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "c80e0d03-16b3-4f1e-bf1b-d7459194d9f5",
                      "leftValue": "={{ $json.tipo }}",
                      "rightValue": "documento",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -4448,
          6512
        ],
        "id": "a2e86c46-2bf2-4459-872b-028ac8233f6f",
        "name": "Switch2"
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "313175648538354",
          "edge": "photos",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "url",
                  "value": "={{ $json.url }}"
                },
                {
                  "name": "published",
                  "value": "false"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -3904,
          6544
        ],
        "id": "02f7fad1-e660-4765-8335-66f8d839df2c",
        "name": "Facebook Graph API1",
        "credentials": {
          "facebookGraphApi": {
            "id": "VEoW7ltv5umiWqtZ",
            "name": "facebook - cruzeirodosulead"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.driveFileId }}"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -4272,
          6528
        ],
        "id": "b050545f-6ea6-4917-922e-2fd808ec642d",
        "name": "Download file2",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "6631e3XH0YrNrV8w",
            "name": "powerbieduit"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "url",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -4112,
          6544
        ],
        "id": "d6f96ff4-98c2-44aa-b112-7e7cc2573262",
        "name": "Split Out"
      },
      {
        "parameters": {
          "jsCode": "// junta todos os PHOTO_ID em attached_media\nconst attached = items\n  .map(i => i.json.id)\n  .filter(Boolean)\n  .map(id => ({ media_fbid: id }));\n\nreturn [{\n  json: {\n    attached_media: attached\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3696,
          6528
        ],
        "id": "b5c4f804-3046-4abf-8b9f-9038fbac2c1d",
        "name": "Code1"
      },
      {
        "parameters": {
          "jsCode": "// Pega o evento\nconst event = $json;\n\n// Summary vem do Calendar Trigger\nconst msg = $('Google Calendar Trigger').first().json.summary || '';\n\n// Cria o corpo inicial\nconst body = { message: msg };\n\n// Conta imagens\nconst attached = event.attached_media || [];\nattached.forEach((m, i) => {\n  body[`attached_media[${i}]`] = JSON.stringify({ media_fbid: m.media_fbid });\n});\n\n// Adiciona a quantidade total\nbody.total_images = attached.length;\n\nreturn [{ json: body }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3520,
          6544
        ],
        "id": "9b632b6b-b96d-49e8-bab9-637c02952259",
        "name": "Code2"
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "486302287897529",
          "edge": "photos",
          "sendBinaryData": true,
          "binaryPropertyName": "data",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "message",
                  "value": "={{ $json.summary }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -3728,
          3760
        ],
        "id": "4188484a-99f1-469e-988f-d1a8da076e79",
        "name": "facebook morumbi",
        "credentials": {
          "facebookGraphApi": {
            "id": "mV5Igu67SG1ZAtRZ",
            "name": "face - morumbi - llt"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "calendarId": {
            "__rl": true,
            "value": "b62e4b1e49ce899965086ac092dfd1fc56f047fe9ea17fa692cb3c42c5b5cc57@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Posts Facebook e Instagram"
          },
          "triggerOn": "eventStarted",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTrigger",
        "typeVersion": 1,
        "position": [
          -6464,
          5104
        ],
        "id": "9a415013-0166-49cd-a3ae-eff134438108",
        "name": "Google Calendar Trigger",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "akvVbUeMlrcKBgdU",
            "name": "CALENDAR POSTS"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v23.0",
          "node": "me",
          "edge": "photos",
          "sendBinaryData": true,
          "binaryPropertyName": "data",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "message",
                  "value": "={{ $json.summary }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -3712,
          5296
        ],
        "id": "06c1b812-c027-4684-86dc-0b86172f5981",
        "name": "facebook - campinas",
        "credentials": {
          "facebookGraphApi": {
            "id": "hK0MJI2974n3taB3",
            "name": "facebook campinas"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.total_images }}",
                      "rightValue": 2,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      },
                      "id": "b6b4f004-0375-4c63-aa7c-267c84c1f749"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "88cae18b-1f2e-4d75-af22-ce2e86a2919c",
                      "leftValue": "={{ $json.total_images }}",
                      "rightValue": 3,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "4204ed0b-9c65-443e-b4d7-d0ac2dc49b6b",
                      "leftValue": "={{ $json.total_images }}",
                      "rightValue": 4,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "a20d3d72-cebd-4775-a9aa-416cf680d1ee",
                      "leftValue": "={{ $json.total_images }}",
                      "rightValue": 5,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "1e18edb4-64f2-4e8e-a3a5-4e20fbba3e2e",
                      "leftValue": "={{ $json.total_images }}",
                      "rightValue": 6,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "a9b4ae73-973c-46f1-90c3-ac66b11ee346",
                      "leftValue": "={{ $json.total_images }}",
                      "rightValue": 7,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "9326ab13-3bb0-4d60-88e4-fd46a8327d58",
                      "leftValue": "={{ $json.total_images }}",
                      "rightValue": 8,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          -3312,
          6544
        ],
        "id": "9e57bd79-9c43-4f2a-82e5-47f02c106c2e",
        "name": "Switch3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://graph.facebook.com/v23.0/313175648538354feed?access_token=EAAK7XZAAFf6EBPpf4ZAjBxaf7HTkwu4BMpODXxMw25oqvI0u1ZA2m4NxSaMQ61khP9Ur7UAeXBU58y5PZB7mNlYrD3XG27Q8WWieuLF0TfoCiIGN9dH1Qhaxxi2QyRjMXFhV81K8GkDZBkEDpTz0PZBLz3ZAbnCRalx9OMV3HvwiywE2uCrW3JfQmvwyfKZASYiSxogv",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {}
            ]
          },
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{ $json.message }}"
              },
              {
                "name": "attached_media[0]",
                "value": "={{ $json['attached_media[0]'] }}"
              },
              {
                "name": "attached_media[1]",
                "value": "={{ $json['attached_media[1]'] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2544,
          6192
        ],
        "id": "79f71a5a-a16d-4fb5-9f07-da7365e1501e",
        "name": "postar 2 imagens cruzeirodosulead1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://graph.facebook.com/v23.0/313175648538354feed?access_token=EAAK7XZAAFf6EBPpf4ZAjBxaf7HTkwu4BMpODXxMw25oqvI0u1ZA2m4NxSaMQ61khP9Ur7UAeXBU58y5PZB7mNlYrD3XG27Q8WWieuLF0TfoCiIGN9dH1Qhaxxi2QyRjMXFhV81K8GkDZBkEDpTz0PZBLz3ZAbnCRalx9OMV3HvwiywE2uCrW3JfQmvwyfKZASYiSxogv",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {}
            ]
          },
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{ $json.message }}"
              },
              {
                "name": "attached_media[0]",
                "value": "={{ $json['attached_media[0]'] }}"
              },
              {
                "name": "attached_media[1]",
                "value": "={{ $json['attached_media[1]'] }}"
              },
              {
                "name": "attached_media[2]",
                "value": "={{ $json['attached_media[2]'] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2544,
          6384
        ],
        "id": "07229ed8-7144-49e2-9e68-e08a7e9240c5",
        "name": "postar 3 imagens cruzeirodosulead2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://graph.facebook.com/v23.0/313175648538354feed?access_token=EAAK7XZAAFf6EBPpf4ZAjBxaf7HTkwu4BMpODXxMw25oqvI0u1ZA2m4NxSaMQ61khP9Ur7UAeXBU58y5PZB7mNlYrD3XG27Q8WWieuLF0TfoCiIGN9dH1Qhaxxi2QyRjMXFhV81K8GkDZBkEDpTz0PZBLz3ZAbnCRalx9OMV3HvwiywE2uCrW3JfQmvwyfKZASYiSxogv",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {}
            ]
          },
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{ $json.message }}"
              },
              {
                "name": "attached_media[0]",
                "value": "={{ $json['attached_media[0]'] }}"
              },
              {
                "name": "attached_media[1]",
                "value": "={{ $json['attached_media[1]'] }}"
              },
              {
                "name": "attached_media[2]",
                "value": "={{ $json['attached_media[2]'] }}"
              },
              {
                "name": "attached_media[5]",
                "value": "={{ $json['attached_media[5]'] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2528,
          6560
        ],
        "id": "48a8146f-a219-4ccb-9d35-6c1bdd24e622",
        "name": "postar 4 imagens cruzeirodosulead"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://graph.facebook.com/v23.0/313175648538354/feed?access_token=EAAK7XZAAFf6EBPpf4ZAjBxaf7HTkwu4BMpODXxMw25oqvI0u1ZA2m4NxSaMQ61khP9Ur7UAeXBU58y5PZB7mNlYrD3XG27Q8WWieuLF0TfoCiIGN9dH1Qhaxxi2QyRjMXFhV81K8GkDZBkEDpTz0PZBLz3ZAbnCRalx9OMV3HvwiywE2uCrW3JfQmvwyfKZASYiSxogv",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {}
            ]
          },
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{ $json.message }}"
              },
              {
                "name": "attached_media[0]",
                "value": "={{ $json['attached_media[0]'] }}"
              },
              {
                "name": "attached_media[1]",
                "value": "={{ $json['attached_media[1]'] }}"
              },
              {
                "name": "attached_media[2]",
                "value": "={{ $json['attached_media[2]'] }}"
              },
              {
                "name": "attached_media[3]",
                "value": "={{ $json['attached_media[3]'] }}"
              },
              {
                "name": "attached_media[4]",
                "value": "={{ $json['attached_media[4]'] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2544,
          6752
        ],
        "id": "54559225-6ef2-4441-8d72-79b5c3c41df8",
        "name": "postar 5 imagens cruzeirodosulead1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://graph.facebook.com/v23.0/313175648538354feed?access_token=EAAK7XZAAFf6EBPpf4ZAjBxaf7HTkwu4BMpODXxMw25oqvI0u1ZA2m4NxSaMQ61khP9Ur7UAeXBU58y5PZB7mNlYrD3XG27Q8WWieuLF0TfoCiIGN9dH1Qhaxxi2QyRjMXFhV81K8GkDZBkEDpTz0PZBLz3ZAbnCRalx9OMV3HvwiywE2uCrW3JfQmvwyfKZASYiSxogv",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {}
            ]
          },
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{ $json.message }}"
              },
              {
                "name": "attached_media[0]",
                "value": "={{ $json['attached_media[0]'] }}"
              },
              {
                "name": "attached_media[1]",
                "value": "={{ $json['attached_media[1]'] }}"
              },
              {
                "name": "attached_media[2]",
                "value": "={{ $json['attached_media[2]'] }}"
              },
              {
                "name": "attached_media[3]",
                "value": "={{ $json['attached_media[3]'] }}"
              },
              {
                "name": "attached_media[4]",
                "value": "={{ $json['attached_media[4]'] }}"
              },
              {
                "name": "attached_media[5]",
                "value": "={{ $json['attached_media[5]'] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2592,
          6944
        ],
        "id": "47e34449-8f2a-48ad-b977-57318270c09a",
        "name": "postar 6 imagens cruzeirodosulead"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://graph.facebook.com/v23.0/313175648538354feed?access_token=EAAK7XZAAFf6EBPpf4ZAjBxaf7HTkwu4BMpODXxMw25oqvI0u1ZA2m4NxSaMQ61khP9Ur7UAeXBU58y5PZB7mNlYrD3XG27Q8WWieuLF0TfoCiIGN9dH1Qhaxxi2QyRjMXFhV81K8GkDZBkEDpTz0PZBLz3ZAbnCRalx9OMV3HvwiywE2uCrW3JfQmvwyfKZASYiSxogv",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {}
            ]
          },
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{ $json.message }}"
              },
              {
                "name": "attached_media[0]",
                "value": "={{ $json['attached_media[0]'] }}"
              },
              {
                "name": "attached_media[1]",
                "value": "={{ $json['attached_media[1]'] }}"
              },
              {
                "name": "attached_media[2]",
                "value": "={{ $json['attached_media[2]'] }}"
              },
              {
                "name": "attached_media[3]",
                "value": "={{ $json['attached_media[3]'] }}"
              },
              {
                "name": "attached_media[4]",
                "value": "={{ $json['attached_media[4]'] }}"
              },
              {
                "name": "attached_media[5]",
                "value": "={{ $json['attached_media[5]'] }}"
              },
              {
                "name": "attached_media[6]",
                "value": "={{ $json['attached_media[6]'] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2576,
          7152
        ],
        "id": "0b4a3992-fb45-4bf5-9cb7-66288c2292ba",
        "name": "postar 7 imagens cruzeirodosulead"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://graph.facebook.com/v23.0/313175648538354feed?access_token=EAAK7XZAAFf6EBPpf4ZAjBxaf7HTkwu4BMpODXxMw25oqvI0u1ZA2m4NxSaMQ61khP9Ur7UAeXBU58y5PZB7mNlYrD3XG27Q8WWieuLF0TfoCiIGN9dH1Qhaxxi2QyRjMXFhV81K8GkDZBkEDpTz0PZBLz3ZAbnCRalx9OMV3HvwiywE2uCrW3JfQmvwyfKZASYiSxogv",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {}
            ]
          },
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{ $json.message }}"
              },
              {
                "name": "attached_media[0]",
                "value": "={{ $json['attached_media[0]'] }}"
              },
              {
                "name": "attached_media[1]",
                "value": "={{ $json['attached_media[1]'] }}"
              },
              {
                "name": "attached_media[2]",
                "value": "={{ $json['attached_media[2]'] }}"
              },
              {
                "name": "attached_media[3]",
                "value": "={{ $json['attached_media[3]'] }}"
              },
              {
                "name": "attached_media[4]",
                "value": "={{ $json['attached_media[4]'] }}"
              },
              {
                "name": "attached_media[5]",
                "value": "={{ $json['attached_media[5]'] }}"
              },
              {
                "name": "attached_media[6]",
                "value": "={{ $json['attached_media[6]'] }}"
              },
              {
                "name": "attached_media[7]",
                "value": "={{ $json['attached_media[7]'] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2528,
          7344
        ],
        "id": "094036d4-8b18-4b8b-bc63-15b624f0305b",
        "name": "postar 8 imagens cruzeirodosulead1"
      }
    ],
    "connections": {
      "facebook - itapira": {
        "main": [
          []
        ]
      },
      "Download file1": {
        "main": [
          [
            {
              "node": "facebook - ibirapuera",
              "type": "main",
              "index": 0
            },
            {
              "node": "facebook - polo taboao centro",
              "type": "main",
              "index": 0
            },
            {
              "node": "facebook - sapopemba",
              "type": "main",
              "index": 0
            },
            {
              "node": "facebook - capivari",
              "type": "main",
              "index": 0
            },
            {
              "node": "facebook -  santana",
              "type": "main",
              "index": 0
            },
            {
              "node": "facebook - freguesia do ó",
              "type": "main",
              "index": 0
            },
            {
              "node": "facebook - barra funda",
              "type": "main",
              "index": 0
            },
            {
              "node": "facebook - vila prudente",
              "type": "main",
              "index": 0
            },
            {
              "node": "facebook - campinas",
              "type": "main",
              "index": 0
            },
            {
              "node": "facebook - cruzeirodosulead",
              "type": "main",
              "index": 0
            },
            {
              "node": "facebook - taboao da serra jd mituzi",
              "type": "main",
              "index": 0
            },
            {
              "node": "facebook - itapira",
              "type": "main",
              "index": 0
            },
            {
              "node": "facebook morumbi",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "Download file1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Switch2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch2": {
        "main": [
          [
            {
              "node": "Download file2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file2": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Facebook Graph API1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Facebook Graph API1": {
        "main": [
          [
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "Code2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code2": {
        "main": [
          [
            {
              "node": "Switch3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Calendar Trigger": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch3": {
        "main": [
          [
            {
              "node": "postar 2 imagens cruzeirodosulead1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "postar 3 imagens cruzeirodosulead2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "postar 4 imagens cruzeirodosulead",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "postar 5 imagens cruzeirodosulead1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "postar 6 imagens cruzeirodosulead",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "postar 7 imagens cruzeirodosulead",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "postar 8 imagens cruzeirodosulead1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "eDUIT TI",
    "name": "Version 03cb6f7d",
    "description": "",
    "autosaved": false
  },
  "tags": []
}