retorno_disparos_gravacao-disparos.json
{
  "createdAt": "2025-08-12T15:08:41.007Z",
  "updatedAt": "2025-09-05T20:43:10.000Z",
  "id": "vBQWXV2MCYF7Mduq",
  "name": "retorno_disparos_gravacao",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22c71bdd-b0ab-4c7a-970c-99711a4d3fc9",
              "name": "id_lead",
              "value": "={{ $json.body['leads[add][0][id]'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        192
      ],
      "id": "7d0dbfce-ee5f-4867-bc49-1cb874d6271a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO retorno_disparos (rgm, retorno, data_registro)\nVALUES ('{{ $json.id_lead }}', 'ENTROU NO ATENDIMENTO', NOW() AT TIME ZONE 'America/Sao_Paulo');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        192
      ],
      "id": "aef2e199-8250-4ec2-a891-c24e62604d99",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "QDCGVsYyhaarkGj6",
          "name": "Disparos"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4f2543c-a088-44be-a81b-e0f03eecfe9d",
              "name": "id_lead",
              "value": "={{ $json.body['leads[add][0][id]'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        448
      ],
      "id": "43f540c7-987b-4353-92cb-94a4891a324a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4b6a80c-b978-44d6-bb0a-bdd25f361d98",
              "name": "id_lead",
              "value": "={{ $json.body['leads[add][0][id]'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        704
      ],
      "id": "f694076c-49cd-47a4-ab36-628b87c8d413",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO retorno_disparos (rgm, retorno, data_registro)\nVALUES ('{{ $json.id_lead }}', 'SEM RESPOSTA', NOW() AT TIME ZONE 'America/Sao_Paulo');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        448
      ],
      "id": "c39aa680-9e75-4dd1-8c7b-d48414cc4466",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "QDCGVsYyhaarkGj6",
          "name": "Disparos"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO retorno_disparos (rgm, retorno, data_registro)\nVALUES ('{{ $json.id_lead }}', 'PAGOU', NOW() AT TIME ZONE 'America/Sao_Paulo');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        704
      ],
      "id": "de98d104-5eef-4ad3-b9a2-210422cb3293",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "QDCGVsYyhaarkGj6",
          "name": "Disparos"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sem-resposta",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        448
      ],
      "id": "2493b5cd-257e-403b-8bba-b6377b55a7db",
      "name": "sem-resposta",
      "webhookId": "365e31d0-f98b-441e-8d8e-39136f198cb6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rematricula-feita",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        704
      ],
      "id": "728c72c5-d7b6-449f-b929-8b016526efc7",
      "name": "rematricula-feita",
      "webhookId": "031c304f-60f6-4e0d-b276-3325f4c256d8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "entrou-na-fila",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        176
      ],
      "id": "1aa248c7-8afd-4ecf-9f1b-4fb829bcc709",
      "name": "em-atendimento",
      "webhookId": "c59535cb-4325-4f16-a38e-a45f6b95ce08"
    },
    {
      "parameters": {
        "content": "* entrou para atendimento\n* sem resposta\n* rematricula feita\n",
        "height": 2316,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7d37b8c7-528b-4b43-9c5a-0d1c1a73645a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "realizou-acesso",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        176,
        1184
      ],
      "id": "42411163-39b1-417f-9b28-ae6c2c291a6c",
      "name": "acesso realizado",
      "webhookId": "031c304f-60f6-4e0d-b276-3325f4c256d8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4b6a80c-b978-44d6-bb0a-bdd25f361d98",
              "name": "id_lead",
              "value": "={{ $json.body['leads[add][0][id]'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        928
      ],
      "id": "0b967fc4-2e10-49ad-8307-8696ce1e7187",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO retorno_disparos (rgm, retorno, data_registro)\nVALUES ('{{ $json.id_lead }}', 'SEM INTERESSE', NOW() AT TIME ZONE 'America/Sao_Paulo');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        928
      ],
      "id": "126b6bc9-f89a-466e-be73-36c288ec17c7",
      "name": "Execute a SQL query3",
      "credentials": {
        "postgres": {
          "id": "QDCGVsYyhaarkGj6",
          "name": "Disparos"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4b6a80c-b978-44d6-bb0a-bdd25f361d98",
              "name": "id_lead",
              "value": "={{ $json.body['leads[add][0][id]'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        1168
      ],
      "id": "6beddbcc-a203-4bef-bf0b-9e6bf3211f53",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO retorno_disparos (rgm, retorno, data_registro)\nVALUES ('{{ $json.id_lead }}', 'REALIZOU ACESSO', NOW() AT TIME ZONE 'America/Sao_Paulo');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        1184
      ],
      "id": "16f4ceff-d91c-43ae-8acc-69f090e163e2",
      "name": "Execute a SQL query4",
      "credentials": {
        "postgres": {
          "id": "QDCGVsYyhaarkGj6",
          "name": "Disparos"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4b6a80c-b978-44d6-bb0a-bdd25f361d98",
              "name": "id_lead",
              "value": "={{ $json.body['leads[add][0][id]'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1408
      ],
      "id": "b3b03f8a-f2d5-4fe1-a1a9-9781629da1c9",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO retorno_disparos (rgm, retorno, data_registro)\nVALUES ('{{ $json.id_lead }}', 'NÃO ACESSOU', NOW() AT TIME ZONE 'America/Sao_Paulo');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        1424
      ],
      "id": "1a6a798c-f87e-4b9d-8fc0-f75f0fd9b4cb",
      "name": "Execute a SQL query5",
      "credentials": {
        "postgres": {
          "id": "QDCGVsYyhaarkGj6",
          "name": "Disparos"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nao-acessou",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        1424
      ],
      "id": "85373b72-326d-487d-a394-ace1967bb742",
      "name": "nao acessou",
      "webhookId": "031c304f-60f6-4e0d-b276-3325f4c256d8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4b6a80c-b978-44d6-bb0a-bdd25f361d98",
              "name": "id_lead",
              "value": "={{ $json.body['leads[add][0][id]'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        1744
      ],
      "id": "e2c3a14f-a1aa-45bc-b5b6-0dc4b07016be",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO retorno_disparos (rgm, retorno, data_registro)\nVALUES ('{{ $json.id_lead }}', 'PAGOU', NOW() AT TIME ZONE 'America/Sao_Paulo');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        1744
      ],
      "id": "86c039b1-4891-441f-995c-971f0624682f",
      "name": "Execute a SQL query6",
      "credentials": {
        "postgres": {
          "id": "QDCGVsYyhaarkGj6",
          "name": "Disparos"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pagou",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        128,
        1744
      ],
      "id": "2baf25ed-ae7a-4cb3-8393-f8244cbe6622",
      "name": "pagou",
      "webhookId": "031c304f-60f6-4e0d-b276-3325f4c256d8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seminteresse",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        928
      ],
      "id": "f7dd9c42-f60a-4b00-bfc5-77068a399f11",
      "name": "sem interesse",
      "webhookId": "031c304f-60f6-4e0d-b276-3325f4c256d8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO disparos (rgm, data_ativacao)\nVALUES ('{{ $json.id_lead }}', NOW() AT TIME ZONE 'America/Sao_Paulo');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        2112
      ],
      "id": "c23255e6-ef1c-4d43-bf56-f60b1bcce8e7",
      "name": "Execute a SQL query7",
      "credentials": {
        "postgres": {
          "id": "QDCGVsYyhaarkGj6",
          "name": "Disparos"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gravar-ativacao",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        48,
        2112
      ],
      "id": "a11b437c-009c-4706-8449-38def8e899d7",
      "name": "gravar-ativacao",
      "webhookId": "031c304f-60f6-4e0d-b276-3325f4c256d8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4b6a80c-b978-44d6-bb0a-bdd25f361d98",
              "name": "id_lead",
              "value": "={{ $json.body['leads[add][0][id]'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        2096
      ],
      "id": "a3d23493-8a37-4429-a388-ec34d612c9f4",
      "name": "Edit Fields7"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sem-resposta": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rematricula-feita": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "em-atendimento": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "acesso realizado": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Execute a SQL query4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Execute a SQL query5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao acessou": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Execute a SQL query6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pagou": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sem interesse": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gravar-ativacao": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Execute a SQL query7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "dCpCqA316QocWWea"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "em-atendimento": [
      {
        "json": {
          "headers": {
            "host": "n8n-new-n8n.ca31ey.easypanel.host",
            "user-agent": "amoCRM-Webhooks/3.0",
            "content-length": "195",
            "accept-encoding": "gzip",
            "content-type": "application/x-www-form-urlencoded",
            "x-amocrm-requestid": "b3316de8-75ac-42d9-b040-4eebbb93a809",
            "x-forwarded-for": "169.150.216.79",
            "x-forwarded-host": "n8n-new-n8n.ca31ey.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e73584281a1d",
            "x-real-ip": "169.150.216.79"
          },
          "params": {},
          "query": {},
          "body": {
            "leads[add][0][id]": "19380469",
            "leads[add][0][status_id]": "83191468",
            "leads[add][0][pipeline_id]": "10848776",
            "account[id]": "31370511",
            "account[subdomain]": "csvatendimento"
          },
          "webhookUrl": "https://n8n-new-n8n.ca31ey.easypanel.host/webhook/entrou-na-fila",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "e037a5d7-963d-424c-a7fd-f3fd8472c755",
  "triggerCount": 8,
  "shared": [
    {
      "createdAt": "2025-08-12T15:08:41.011Z",
      "updatedAt": "2025-08-12T15:08:41.011Z",
      "role": "workflow:owner",
      "workflowId": "vBQWXV2MCYF7Mduq",
      "projectId": "TjZRFTZS7ptjaNGj"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-07-25T20:01:08.349Z",
      "updatedAt": "2025-07-25T20:01:08.349Z",
      "id": "YYK828CRJpOc3NVq",
      "name": "disparos"
    }
  ]
}