robo_csv_receptivo-ai.json
{
  "createdAt": "2025-10-14T15:09:40.562Z",
  "updatedAt": "2025-10-15T13:54:41.000Z",
  "id": "1QcSlCdBYvlIljdh",
  "name": "robo_csv_receptivo",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.grau }} {{ $json.curso }}",
        "options": {
          "systemMessage": "=Execute as tools 'buscar_precos' e 'buscar_informacoes' e busque informações sobre o curso: {{ $json.grau }} {{ $json.curso }}\n\nIMPORTANTE: Se o termo for uma abreviação (ex: \"mkt\", \"adm\", \"eng\"), expanda para o nome completo mais comum:\n- mkt → marketing\n- adm → administração  \n- eng → engenharia\n\nBusque nas duas ferramentas e combine os resultados.\n\nRETORNE EXATAMENTE NESTE FORMATO (copie e preencha):\nnome do curso: [preencha aqui]\nvalor: [preencha aqui]\nmodalidade disponível: [preencha aqui com UMA opção: EAD, EAD com Aulas ao Vivo ou Semipresencial]\nduração do curso: [preencha aqui]\ngrau do curso: [preencha aqui com UMA opção: bacharelado ou licenciatura ou tecnólogo]\n\nSe não encontrar NENHUM resultado em NENHUMA das ferramentas, retorne apenas:\nStatus: Não Encontrado\n\nREGRAS OBRIGATÓRIAS:\n- Use EXATAMENTE os nomes dos campos acima\n- Não mude a ordem\n- Não adicione texto extra antes ou depois\n- Para grau do curso, use SOMENTE: bacharelado, licenciatura ou tecnólogo\n- Não use variações como \"bacharel\", use apenas as três opções acima"
        }
      },
      "id": "1f7b8eea-1651-4391-9913-f59742a15598",
      "name": "Agente Rag",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        336,
        -288
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        48,
        -32
      ],
      "id": "054ff853-5473-4a11-8c93-99aacedc597f",
      "name": "OpenAI Chat Model RAG",
      "credentials": {
        "openAiApi": {
          "id": "4fXizCuCrLR4SEIp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "robocsv",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        -288
      ],
      "id": "b0a83118-0d44-4e7f-b7a4-6b5d23215f00",
      "name": "Webhook",
      "webhookId": "7e753d5c-3924-441d-91af-273fa2514315"
    },
    {
      "parameters": {
        "resource": "leads",
        "filter": {
          "id": "={{ $json.body['leads[add][0][id]'] }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -256,
        -288
      ],
      "id": "c30b43fe-cce5-4a81-9e01-e809005bd10e",
      "name": "Get list of leads",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nwQNgfBiNqLrzKlG",
          "name": "Kommo Comercial CSV"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este node assume que a entrada vem do node anterior (por ex. HTTP Request do Kommo)\nconst results = [];\n\nfor (const item of items) {\n  const leads = item.json._embedded?.leads || [];\n\n  for (const lead of leads) {\n    // Campo \"Curso\"\n    const cursoField = lead.custom_fields_values?.find(f => f.field_name === \"Curso\");\n    const cursoValue = cursoField?.values?.[0]?.value || null;\n\n    // Campo \"Grau_new\"\n    const grauField = lead.custom_fields_values?.find(f => f.field_name === \"Grau_new\");\n    const grauValue = grauField?.values?.[0]?.value || null;\n\n    results.push({\n      json: {\n        lead_id: lead.id,\n        curso: cursoValue,\n        grau: grauValue\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -288
      ],
      "id": "574987e6-8bd5-406a-b99c-04e80b1f5157",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "5475cfa8-1957-426f-b99c-7ba4ce0ed2f0",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        64,
        176
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PHQl6oEaPqgLjGGZ",
          "name": "BANCO - AGENTE COMERCIAL"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "88563d36-e137-4908-841b-84149a57f77d",
      "name": "OpenAI Chat Docs",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        352,
        176
      ],
      "credentials": {
        "openAiApi": {
          "id": "4fXizCuCrLR4SEIp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "a24c037a-cb36-43ba-9ec6-aa3245d4eb8b",
      "name": "Embeddings OpenAI Vector",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        144,
        384
      ],
      "credentials": {
        "openAiApi": {
          "id": "4fXizCuCrLR4SEIp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "documents",
        "description": "Busque somente as informações: \nDuração do curso\nModalidade\ngrau do curso\nárea do curso",
        "topK": 2
      },
      "id": "a7ad993d-ac3b-4172-a7e0-c08bf433fa84",
      "name": "buscar_informacoes",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        176,
        -32
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "5d1a4252-ec96-4c58-a4c7-1292b922675f",
      "name": "OpenAI Chat Docs1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        976,
        176
      ],
      "credentials": {
        "openAiApi": {
          "id": "4fXizCuCrLR4SEIp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "5d7d4aef-0ee4-4b6a-9522-12c887afd559",
      "name": "Embeddings OpenAI Vector1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        768,
        384
      ],
      "credentials": {
        "openAiApi": {
          "id": "4fXizCuCrLR4SEIp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "documents_precos",
        "description": "Base de dados vetorial contendo valores dos cursos. ",
        "topK": 10
      },
      "id": "32b99c50-fb0d-48e4-a350-9e79b9c2b7ac",
      "name": "buscar_precos",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        784,
        -32
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents_precos",
          "mode": "list",
          "cachedResultName": "documents_precos"
        },
        "options": {
          "queryName": "match_documents_precos"
        }
      },
      "id": "126a33f1-7fec-4e6d-ac56-f5dc64227f87",
      "name": "Supabase Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        688,
        176
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PHQl6oEaPqgLjGGZ",
          "name": "BANCO - AGENTE COMERCIAL"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "=Status: Não Encontrado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "87b2f354-6826-4050-b3b9-745e4ab35411"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Curso não encontrado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4b5e2a65-4292-4b56-967a-a8a2fb0372f5",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "=Não Encontrado",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Curso "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1136,
        -288
      ],
      "id": "0f23853a-5fd9-46b3-8e5c-7bbe9c0ba13a",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $('Code in JavaScript').item.json.lead_id }}",
              "pipeline_id": 5481944,
              "status_id": 0,
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":31782,\"type\":\"text\"}",
                    "value": "={{ $json.output }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        1360,
        -384
      ],
      "id": "d416081c-a965-4b99-be86-16014943c8d2",
      "name": "Update leads",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nwQNgfBiNqLrzKlG",
          "name": "Kommo Comercial CSV"
        }
      }
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $('Code in JavaScript').item.json.lead_id }}",
              "pipeline_id": 5481944,
              "status_id": 0,
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":31782,\"type\":\"text\"}",
                    "value": "={{ $json.nome }}"
                  },
                  {
                    "data": "{\"id\":690929,\"type\":\"text\"}",
                    "value": "={{ $json.valor }}"
                  },
                  {
                    "data": "{\"id\":690917,\"type\":\"text\"}",
                    "value": "={{ $json.duracao }}"
                  },
                  {
                    "data": "{\"id\":690923,\"type\":\"text\"}",
                    "value": "={{ $json.modalidade }}"
                  },
                  {
                    "data": "{\"id\":690911,\"type\":\"text\"}",
                    "value": "={{ $json.grau }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        1584,
        -192
      ],
      "id": "1dc924f3-86b8-49d0-9833-3e9f99aa2172",
      "name": "Update leads1",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nwQNgfBiNqLrzKlG",
          "name": "Kommo Comercial CSV"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resposta = $input.first().json.output;\nif (resposta.includes('Não Encontrado')) {\n  return [{\n    json: {\n      nome: null,\n      valor: null,\n      modalidade: null,\n      duracao: null,\n      grau: null\n    }\n  }];\n}\n// Extrai considerando quebras de linha extras e espaços\nconst linhas = resposta.split('\\n').filter(l => l.trim());\nconst dados = {};\nlinhas.forEach(linha => {\n  const [chave, ...valorArr] = linha.split(':');\n  const valor = valorArr.join(':').trim();\n  \n  if (chave.toLowerCase().includes('nome')) dados.nome = valor;\n  if (chave.toLowerCase().includes('valor')) dados.valor = valor;\n  if (chave.toLowerCase().includes('modalidade')) {\n    // Substitui Híbrido por Semipresencial\n    dados.modalidade = valor.replace(/Híbrido/gi, 'Semipresencial');\n  }\n  if (chave.toLowerCase().includes('duração') || chave.toLowerCase().includes('duracao')) dados.duracao = valor;\n  if (chave.toLowerCase().includes('grau')) {\n    // Normaliza o grau para os valores esperados\n    const grauNormalizado = valor.toLowerCase();\n    if (grauNormalizado.includes('bacharel')) dados.grau = 'Bacharelado';\n    else if (grauNormalizado.includes('licenciatura')) dados.grau = 'Licenciatura';\n    else if (grauNormalizado.includes('tecnólogo') || grauNormalizado.includes('tecnologo')) dados.grau = 'Tecnólogo';\n    else dados.grau = valor.charAt(0).toUpperCase() + valor.slice(1).toLowerCase(); // Primeira letra maiúscula\n  }\n});\nreturn [{\n  json: {\n    ...dados,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -192
      ],
      "id": "0d2f5a98-baa2-4469-a9a2-5f6f0d1e29dd",
      "name": "Code in JavaScript1"
    }
  ],
  "connections": {
    "OpenAI Chat Model RAG": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Rag",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get list of leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get list of leads": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Agente Rag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "buscar_informacoes",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Docs": {
      "ai_languageModel": [
        [
          {
            "node": "buscar_informacoes",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI Vector": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "buscar_informacoes": {
      "ai_tool": [
        [
          {
            "node": "Agente Rag",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Docs1": {
      "ai_languageModel": [
        [
          {
            "node": "buscar_precos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI Vector1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "buscar_precos": {
      "ai_tool": [
        [
          {
            "node": "Agente Rag",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "buscar_precos",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Agente Rag": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "dCpCqA316QocWWea",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-new-n8n.ca31ey.easypanel.host",
            "user-agent": "amoCRM-Webhooks/3.0",
            "content-length": "196",
            "accept-encoding": "gzip",
            "content-type": "application/x-www-form-urlencoded",
            "x-amocrm-requestid": "6bee913b-6ad9-4ea4-8a5b-1d95d4242c29",
            "x-forwarded-for": "169.150.216.79",
            "x-forwarded-host": "n8n-new-n8n.ca31ey.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e73584281a1d",
            "x-real-ip": "169.150.216.79"
          },
          "params": {},
          "query": {},
          "body": {
            "leads[add][0][id]": "19687015",
            "leads[add][0][status_id]": "53917599",
            "leads[add][0][pipeline_id]": "5481944",
            "account[id]": "30214568",
            "account[subdomain]": "admamoeduitcombr"
          },
          "webhookUrl": "https://n8n-new-n8n.ca31ey.easypanel.host/webhook/robocsv",
          "executionMode": "production"
        }
      }
    ],
    "Code in JavaScript": [
      {
        "json": {
          "lead_id": 19687015,
          "curso": "Arquitetura e urbanismo",
          "grau": "Graduação"
        }
      }
    ]
  },
  "versionId": "1270bcc9-f0f4-4a8a-b236-f70328cacd2f",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-14T15:09:40.569Z",
      "updatedAt": "2025-10-14T15:09:40.569Z",
      "role": "workflow:owner",
      "workflowId": "1QcSlCdBYvlIljdh",
      "projectId": "TjZRFTZS7ptjaNGj"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-07-30T20:41:48.074Z",
      "updatedAt": "2025-07-30T20:41:48.074Z",
      "id": "HCAYGF54Hj7mAMlF",
      "name": "ai"
    }
  ]
}