robo_csv_receptivo-ai.json
{
  "updatedAt": "2025-11-06T16:13:39.000Z",
  "createdAt": "2025-10-14T15:09:40.562Z",
  "id": "1QcSlCdBYvlIljdh",
  "name": "robo_csv_receptivo",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "robocsv",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        -288
      ],
      "id": "b0a83118-0d44-4e7f-b7a4-6b5d23215f00",
      "name": "Webhook",
      "webhookId": "7e753d5c-3924-441d-91af-273fa2514315"
    },
    {
      "parameters": {
        "resource": "leads",
        "filter": {
          "id": "={{ $json.body['leads[add][0][id]'] }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -256,
        -288
      ],
      "id": "c30b43fe-cce5-4a81-9e01-e809005bd10e",
      "name": "Get list of leads",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nwQNgfBiNqLrzKlG",
          "name": "Kommo Comercial CSV"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este node assume que a entrada vem do node anterior (por ex. HTTP Request do Kommo)\nconst results = [];\n\nfor (const item of items) {\n  const leads = item.json._embedded?.leads || [];\n\n  for (const lead of leads) {\n    // Campo \"Curso\"\n    const cursoField = lead.custom_fields_values?.find(f => f.field_name === \"Curso\");\n    const cursoValue = cursoField?.values?.[0]?.value || null;\n\n    // Campo \"Grau_new\"\n    const grauField = lead.custom_fields_values?.find(f => f.field_name === \"Grau_new\");\n    const grauValue = grauField?.values?.[0]?.value || null;\n\n    results.push({\n      json: {\n        lead_id: lead.id,\n        curso: cursoValue,\n        grau: grauValue\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -288
      ],
      "id": "574987e6-8bd5-406a-b99c-04e80b1f5157",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.curso_sinonimo }}",
                    "rightValue": "=Status: Não Encontrado",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "87b2f354-6826-4050-b3b9-745e4ab35411"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Curso encontrado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4b5e2a65-4292-4b56-967a-a8a2fb0372f5",
                    "leftValue": "={{ $json.curso_sinonimo }}",
                    "rightValue": "=Não Encontrado",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Curso "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1184,
        -272
      ],
      "id": "0f23853a-5fd9-46b3-8e5c-7bbe9c0ba13a",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $('Code in JavaScript').item.json.lead_id }}",
              "pipeline_id": 5481944,
              "status_id": 0,
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":31782,\"type\":\"text\"}",
                    "value": "={{ $json.Curso || \" \"}}"
                  },
                  {
                    "data": "{\"id\":690911,\"type\":\"text\"}",
                    "value": "={{ $json[\"Grau site 1\"] || \" \"}}"
                  },
                  {
                    "data": "{\"id\":690913,\"type\":\"text\"}",
                    "value": "={{ $json[\"Grau site 2\"] || \" \"}}"
                  },
                  {
                    "data": "{\"id\":690915,\"type\":\"text\"}",
                    "value": "={{ $json[\"Grau site 3\"] || \" \"}}"
                  },
                  {
                    "data": "{\"id\":690923,\"type\":\"text\"}",
                    "value": "={{ $json[\"Tipo 1\"] || \" \"}}"
                  },
                  {
                    "data": "{\"id\":690925,\"type\":\"text\"}",
                    "value": "={{ $json[\"Tipo 2\"] || \" \"}}"
                  },
                  {
                    "data": "{\"id\":690927,\"type\":\"text\"}",
                    "value": "={{ $json[\"Tipo 3\"] || \" \"}}"
                  },
                  {
                    "data": "{\"id\":690917,\"type\":\"text\"}",
                    "value": "={{ $json.Semestres }}"
                  },
                  {
                    "data": "{\"id\":690919,\"type\":\"text\"}",
                    "value": "={{ $json[\"Semestres 2\"] || \" \"}}"
                  },
                  {
                    "data": "{\"id\":690921,\"type\":\"text\"}",
                    "value": "={{ $json[\"Semestres 3\"] || \" \"}}"
                  },
                  {
                    "data": "{\"id\":690929,\"type\":\"text\"}",
                    "value": "={{ $json[\"Preço eduit 1\"] || \" \"}}"
                  },
                  {
                    "data": "{\"id\":690931,\"type\":\"text\"}",
                    "value": "={{ $json[\"Preço eduit 2\"] || \" \"}}"
                  },
                  {
                    "data": "{\"id\":690933,\"type\":\"text\"}",
                    "value": "={{ $json[\"Preço eduit 3\"] || \" \"}}"
                  },
                  {
                    "data": "{\"id\":690937,\"type\":\"text\"}",
                    "value": "={{ $json.Contagem || \" \"}}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        2192,
        -384
      ],
      "id": "d416081c-a965-4b99-be86-16014943c8d2",
      "name": "Update leads",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nwQNgfBiNqLrzKlG",
          "name": "Kommo Comercial CSV"
        }
      }
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $('Code in JavaScript').item.json.lead_id }}",
              "pipeline_id": 5481944,
              "status_id": 0,
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":31782,\"type\":\"text\"}",
                    "value": "=Não Encontrado"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        1744,
        -160
      ],
      "id": "1dc924f3-86b8-49d0-9833-3e9f99aa2172",
      "name": "Update leads1",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "nwQNgfBiNqLrzKlG",
          "name": "Kommo Comercial CSV"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "responses": {
          "values": [
            {
              "content": "=Corrija o nome deste curso se necessário: {{ $json.curso }}\n\nSe estiver abreviado (ex: RH, TI, ADM), expanda para o nome completo.\nSe tiver erro gramatical, corrija.\nSe estiver correto, mantenha como está.\n\nRetorne APENAS o nome do curso corrigido, sem explicações."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        176,
        -272
      ],
      "id": "8fd482d4-6c21-4d51-94ce-eac46672793c",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "4fXizCuCrLR4SEIp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cursos_salesbot",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "curso_sinonimo",
              "condition": "eq",
              "keyValue": "={{ $json.output[0].content[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        528,
        -272
      ],
      "id": "352b9bf0-28cd-4ebe-9ce3-0a7626c1bb06",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "PHQl6oEaPqgLjGGZ",
          "name": "BANCO - AGENTE COMERCIAL"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get list of leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get list of leads": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "dCpCqA316QocWWea",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-new-n8n.ca31ey.easypanel.host",
            "user-agent": "amoCRM-Webhooks/3.0",
            "content-length": "196",
            "accept-encoding": "gzip",
            "content-type": "application/x-www-form-urlencoded",
            "x-amocrm-requestid": "624b3dbc-6758-4e2b-b910-ce48023b5bef",
            "x-forwarded-for": "169.150.216.79",
            "x-forwarded-host": "n8n-new-n8n.ca31ey.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e73584281a1d",
            "x-real-ip": "169.150.216.79"
          },
          "params": {},
          "query": {},
          "body": {
            "leads[add][0][id]": "19689757",
            "leads[add][0][status_id]": "53917599",
            "leads[add][0][pipeline_id]": "5481944",
            "account[id]": "30214568",
            "account[subdomain]": "admamoeduitcombr"
          },
          "webhookUrl": "https://n8n-new-n8n.ca31ey.easypanel.host/webhook/robocsv",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "8fe83d55-74b1-483c-bd91-6843ce55187f",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-14T15:09:40.569Z",
      "createdAt": "2025-10-14T15:09:40.569Z",
      "role": "workflow:owner",
      "workflowId": "1QcSlCdBYvlIljdh",
      "projectId": "TjZRFTZS7ptjaNGj"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-30T20:41:48.074Z",
      "createdAt": "2025-07-30T20:41:48.074Z",
      "id": "HCAYGF54Hj7mAMlF",
      "name": "ai"
    }
  ]
}